# Wrangle Pisa 2012
#### By Gabriela Sikora

Throughout this notebook, I will be assessing and cleaning data from the PISA 2012 dataset. The purpose of this wrangling is to have a usable dataframe for the complementary exploration notebook, wherein I will be exploring the cleaned dataframe and drawing conclusions from the plots.


### Table of Contents

<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
    <ul>
    <li><a href="#gathering">Gathering Data</a></li>
    <li><a href="#assessing1">Initial Assessment</a></li>
        <ul>
          <li><a href="#issues1">Identified Issues</a></li>
        </ul>
    <li><a href="#cleaning1">Cleaning Data</a></li>
    <li><a href="#assessing2">Final Assessment</a></li>
    </ul>
<li><a href="#sav">Store</a></li>   
</ul>

<a id='intro'></a>
## Introduction

This notebook will be dedicated to wrangling the PISA 2012 dataset. PISA, in particular, is a "survey of students' skills and knowledge as they approach the end of compulsory education. It is not a conventional school test. Rather than examining how well students have learned the school curriculum, it looks at how well prepared they are for life beyond school" (Udacity, 2019).

You can find the data here: http://www.oecd.org/pisa/data/

To begin, we first need to import all the relevant libraries:
#### Import

In [1]:
# import all packages
import numpy as np
import pandas as pd

<a id='wrangling'></a>
## Data Wrangling

In this section of the report, we will load in the data, check it for cleanliness, and then trim and clean the datasets for analysis.

<a id='gathering'></a>
### Gathering Data

Unfortunately the Pisa dataset is too large to be uploaded to github, but if you would like to work with it yourself then place follow this link: https://s3.amazonaws.com/udacity-hosted-downloads/ud507/pisa2012.csv.zip

In [2]:
# Encoding help found here: https://stackoverflow.com/questions/30462807/encoding-error-in-panda-read-csv

# Load in the Pisa dataframe
pisa = pd.read_csv('pisa2012.csv', encoding="cp1252", sep=',')

# Load in the Pisa dictionary
pisa_dict = pd.read_csv('pisadict2012.csv', encoding="cp1252", sep=',')

/Users/gabriela/Desktop/Code/myenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<a id='assessing1'></a>
### First Assessment

In this section, we will do the preliminary visual and programmatic assessment of the pisa datasets to determine whether or not it holds any major quality or tidiness issues.

In [3]:
# Quick overview of the entire dataframe
pisa

,Unnamed: 0,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
0,1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
1,2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
3,4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
5,6,Albania,80000,ALB0006,Non-OECD,Albania,1,6,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
6,7,Albania,80000,ALB0006,Non-OECD,Albania,1,7,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
7,8,Albania,80000,ALB0006,Non-OECD,Albania,1,8,10,1.0,...,14.4599,14.6374,15.8728,15.8728,5.2248,15.2579,19,1,0.2322,22NOV13
8,9,Albania,80000,ALB0006,Non-OECD,Albania,1,9,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
9,10,Albania,80000,ALB0005,Non-OECD,Albania,2,10,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
10,11,Albania,80000,ALB0005,Non-OECD,Albania,2,11,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
11,12,Albania,80000,ALB0005,Non-OECD,Albania,2,12,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
12,13,Albania,80000,ALB0005,Non-OECD,Albania,2,13,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
13,14,Albania,80000,ALB0005,Non-OECD,Albania,2,14,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
14,15,Albania,80000,ALB0005,Non-OECD,Albania,2,15,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
15,16,Albania,80000,ALB0005,Non-OECD,Albania,2,16,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
16,17,Albania,80000,ALB0005,Non-OECD,Albania,2,17,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
17,18,Albania,80000,ALB0005,Non-OECD,Albania,2,18,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
18,19,Albania,80000,ALB0005,Non-OECD,Albania,2,19,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
19,20,Albania,80000,ALB0005,Non-OECD,Albania,2,20,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
20,21,Albania,80000,ALB0005,Non-OECD,Albania,2,21,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
21,22,Albania,80000,ALB0005,Non-OECD,Albania,2,22,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
22,23,Albania,80000,ALB0005,Non-OECD,Albania,2,23,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
23,24,Albania,80000,ALB0005,Non-OECD,Albania,2,24,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
24,25,Albania,80000,ALB0005,Non-OECD,Albania,2,25,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
25,26,Albania,80000,ALB0005,Non-OECD,Albania,2,26,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
26,27,Albania,80000,ALB0005,Non-OECD,Albania,2,27,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
27,28,Albania,80000,ALB0005,Non-OECD,Albania,2,28,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
28,29,Albania,80000,ALB0005,Non-OECD,Albania,2,29,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
29,30,Albania,80000,ALB0005,Non-OECD,Albania,2,30,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485460,485461,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4930,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485461,485462,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4931,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485462,485463,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4932,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485463,485464,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4933,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485464,485465,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4934,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485465,485466,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4935,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485466,485467,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4936,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485467,485468,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4937,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485468,485469,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4938,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485469,485470,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4939,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485470,485471,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4940,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485471,485472,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4941,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485472,485473,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4942,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485473,485474,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4943,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485474,485475,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4944,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485475,485476,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4945,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485476,485477,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4946,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485477,485478,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4947,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485478,485479,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4948,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485479,485480,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4949,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485480,485481,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4950,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485481,485482,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4951,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485482,485483,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4952,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485483,485484,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4953,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485484,485485,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4954,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485485,485486,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4955,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485486,485487,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4956,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485487,485488,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4957,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485488,485489,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4958,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485489,485490,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4959,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13

In [4]:
# Check how many entries and types of data
pisa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Columns: 636 entries, Unnamed: 0 to VER_STU
dtypes: float64(250), int64(18), object(368)
memory usage: 2.3+ GB

In [5]:
# Look through the datatypes
pisa.dtypes[400:]

ST23Q08        object
ST24Q01        object
ST24Q02        object
ST24Q03        object
CLCUSE1        object
CLCUSE301       int64
CLCUSE302       int64
DEFFORT         int64
QUESTID        object
BOOKID         object
EASY           object
AGE           float64
GRADE         float64
PROGN          object
ANXMAT        float64
ATSCHL        float64
ATTLNACT      float64
BELONG        float64
BFMJ2         float64
BMMJ1         float64
CLSMAN        float64
COBN_F         object
COBN_M         object
COBN_S         object
COGACT        float64
CULTDIST      float64
CULTPOS       float64
DISCLIMA      float64
ENTUSE        float64
ESCS          float64
               ...
W_FSTR55      float64
W_FSTR56      float64
W_FSTR57      float64
W_FSTR58      float64
W_FSTR59      float64
W_FSTR60      float64
W_FSTR61      float64
W_FSTR62      float64
W_FSTR63      float64
W_FSTR64      float64
W_FSTR65      float64
W_FSTR66      float64
W_FSTR67      float64
W_FSTR68      float64
W_FSTR69      float64
W_FSTR70      float64
W_FSTR71      float64
W_FSTR72      float64
W_FSTR73      float64
W_FSTR74      float64
W_FSTR75      float64
W_FSTR76      float64
W_FSTR77      float64
W_FSTR78      float64
W_FSTR79      float64
W_FSTR80      float64
WVARSTRR        int64
VAR_UNIT        int64
SENWGT_STU    float64
VER_STU        object
Length: 236, dtype: object

In [6]:
# Check dictionary for names of variables
pisa_dict

     Unnamed: 0                                                  x
0           CNT                           Country code 3-character
1      SUBNATIO  Adjudicated sub-region code 7-digit code (3-di...
2       STRATUM  Stratum ID 7-character (cnt + region ID + orig...
3          OECD                                       OECD country
4            NC                       National Centre 6-digit Code
5      SCHOOLID  School ID 7-digit (region ID + stratum ID + 3-...
6       STIDSTD                                         Student ID
7       ST01Q01                                International Grade
8       ST02Q01                           National Study Programme
9       ST03Q01                                      Birth - Month
10      ST03Q02                                        Birth -Year
11      ST04Q01                                             Gender
12      ST05Q01                                   Attend <ISCED 0>
13      ST06Q01                                   Age at <ISCED 1>
14      ST07Q01                                 Repeat - <ISCED 1>
15      ST07Q02                                 Repeat - <ISCED 2>
16      ST07Q03                                 Repeat - <ISCED 3>
17      ST08Q01                          Truancy - Late for School
18      ST09Q01                    Truancy - Skip whole school day
19     ST115Q01           Truancy - Skip classes within school day
20      ST11Q01                                   At Home - Mother
21      ST11Q02                                   At Home - Father
22      ST11Q03                                 At Home - Brothers
23      ST11Q04                                  At Home - Sisters
24      ST11Q05                             At Home - Grandparents
25      ST11Q06                                   At Home - Others
26      ST13Q01                          Mother<Highest Schooling>
27      ST14Q01            Mother Qualifications - <ISCED level 6>
28      ST14Q02           Mother Qualifications - <ISCED level 5A>
29      ST14Q03           Mother Qualifications - <ISCED level 5B>
..          ...                                                ...
605    W_FSTR55           FINAL STUDENT REPLICATE BRR-FAY WEIGHT55
606    W_FSTR56           FINAL STUDENT REPLICATE BRR-FAY WEIGHT56
607    W_FSTR57           FINAL STUDENT REPLICATE BRR-FAY WEIGHT57
608    W_FSTR58           FINAL STUDENT REPLICATE BRR-FAY WEIGHT58
609    W_FSTR59           FINAL STUDENT REPLICATE BRR-FAY WEIGHT59
610    W_FSTR60           FINAL STUDENT REPLICATE BRR-FAY WEIGHT60
611    W_FSTR61           FINAL STUDENT REPLICATE BRR-FAY WEIGHT61
612    W_FSTR62           FINAL STUDENT REPLICATE BRR-FAY WEIGHT62
613    W_FSTR63           FINAL STUDENT REPLICATE BRR-FAY WEIGHT63
614    W_FSTR64           FINAL STUDENT REPLICATE BRR-FAY WEIGHT64
615    W_FSTR65           FINAL STUDENT REPLICATE BRR-FAY WEIGHT65
616    W_FSTR66           FINAL STUDENT REPLICATE BRR-FAY WEIGHT66
617    W_FSTR67           FINAL STUDENT REPLICATE BRR-FAY WEIGHT67
618    W_FSTR68           FINAL STUDENT REPLICATE BRR-FAY WEIGHT68
619    W_FSTR69           FINAL STUDENT REPLICATE BRR-FAY WEIGHT69
620    W_FSTR70           FINAL STUDENT REPLICATE BRR-FAY WEIGHT70
621    W_FSTR71           FINAL STUDENT REPLICATE BRR-FAY WEIGHT71
622    W_FSTR72           FINAL STUDENT REPLICATE BRR-FAY WEIGHT72
623    W_FSTR73           FINAL STUDENT REPLICATE BRR-FAY WEIGHT73
624    W_FSTR74           FINAL STUDENT REPLICATE BRR-FAY WEIGHT74
625    W_FSTR75           FINAL STUDENT REPLICATE BRR-FAY WEIGHT75
626    W_FSTR76           FINAL STUDENT REPLICATE BRR-FAY WEIGHT76
627    W_FSTR77           FINAL STUDENT REPLICATE BRR-FAY WEIGHT77
628    W_FSTR78           FINAL STUDENT REPLICATE BRR-FAY WEIGHT78
629    W_FSTR79           FINAL STUDENT REPLICATE BRR-FAY WEIGHT79
630    W_FSTR80           FINAL STUDENT REPLICATE BRR-FAY WEIGHT80
631    WVARSTRR           RANDOMIZED FINAL VARIANCE STRATUM (1-80)
632    VAR_UNIT                    RANDOMLY ASSIGNED VARIANCE UNIT
633  SENWGT_STU  Senate weight - sum of weight within the count...
634     VER_STU                      Date of the database creation

[635 rows x 2 columns]

In [7]:
# Check for null values in relevant columns
columns = ['CNT', 'STIDSTD', 'ST01Q01', 'ST04Q01', 'ST13Q01', 
            'ST17Q01', 'ST28Q01', 'ST57Q01', 'ST57Q02', 'ST57Q03', 
            'ST57Q04', 'ST57Q05', 'MMINS', 'LMINS', 'SMINS',
            'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH',  
            'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ', 'PV5READ',
            'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE']

for x in columns:
    print(x, pisa[x].isna().sum())

CNT 0
STIDSTD 0
ST01Q01 0
ST04Q01 0
ST13Q01 27511
ST17Q01 42229
ST28Q01 11725
ST57Q01 184123
ST57Q02 215682
ST57Q03 201677
ST57Q04 205833
ST57Q05 195988
MMINS 202187
LMINS 202624
SMINS 214576
PV1MATH 0
PV2MATH 0
PV3MATH 0
PV4MATH 0
PV5MATH 0
PV1READ 0
PV2READ 0
PV3READ 0
PV4READ 0
PV5READ 0
PV1SCIE 0
PV2SCIE 0
PV3SCIE 0
PV4SCIE 0
PV5SCIE 0

In [8]:
# See countries included in dataframe
pisa['CNT'].value_counts()

Mexico                      33806
Italy                       31073
Spain                       25313
Canada                      21544
Brazil                      19204
Australia                   14481
United Kingdom              12659
United Arab Emirates        11500
Switzerland                 11229
Qatar                       10966
Colombia                     9073
Finland                      8829
Belgium                      8597
Denmark                      7481
Jordan                       7038
Chile                        6856
Thailand                     6606
Japan                        6351
Chinese Taipei               6046
Peru                         6035
Slovenia                     5911
Argentina                    5908
Kazakhstan                   5808
Portugal                     5722
Indonesia                    5622
Singapore                    5546
Macao-China                  5335
Czech Republic               5327
Uruguay                      5315
Bulgaria                     5282
                            ...
Ireland                      5016
Croatia                      5008
Germany                      5001
United States of America     4978
Vietnam                      4959
Turkey                       4848
Hungary                      4810
Estonia                      4779
Austria                      4755
Montenegro                   4744
Albania                      4743
Sweden                       4736
Norway                       4686
Serbia                       4684
Slovak Republic              4678
Hong Kong-China              4670
Lithuania                    4618
France                       4613
Poland                       4607
Costa Rica                   4602
Netherlands                  4460
Tunisia                      4407
Latvia                       4306
New Zealand                  4291
Iceland                      3508
Florida (USA)                1896
Perm(Russian Federation)     1761
Massachusetts (USA)          1723
Connecticut (USA)            1697
Liechtenstein                 293
Name: CNT, Length: 68, dtype: int64

In [9]:
# Check if there are any duplicates
pisa.duplicated().sum()

0

<a id='issues1'></a>
### Identified Issues
Here we can see some of the issues noticed in the dataframes. These quality issues will be cleaned in the following section.

1. Narrow down the dataframe by only looking at variables of interest since there are more variables than needed
2. Create an average of all Math, Reading, and Science scores since all 5 scores for each are not necessary
3. Make the variable names readable since they are codes that can only be read with the dictionary

4. There are multiple columns for single variables related to father's education
5. There are multiple columns for single variables related to mother's education

6. Missing values in relevant columns

7. Create a total for Out-of-School Study Time and Learning time (minutes per week)

<a id='cleaning1'></a>
### First Cleaning

In [10]:
# Create a copy to preserve the original dataframe
pisa_clean = pisa.copy()

### 1. Narrow down the dataframe by only looking at variables of interest since there are more variables than needed


There are 636 columns available in the original dataframe, which is far more than what is necessary. We will rather look at just the following variables.

In [11]:
# Create new dataframe with only the selected columns
pisa_clean = pisa_clean[['CNT', 'STIDSTD', 'ST04Q01', 'ST13Q01', 'ST14Q01', 'ST14Q02', 'ST14Q03', 'ST14Q04', 
                         'ST17Q01', 'ST18Q01', 'ST18Q02', 'ST18Q03', 'ST18Q04', 
                         'ST57Q01', 'ST57Q02', 'ST57Q03', 'ST57Q04', 'ST57Q05', 'MMINS', 
                         'LMINS', 'SMINS', 'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 
                         'PV5MATH', 'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ', 'PV5READ',
                         'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE']]

In [12]:
# Check to see if the columns are correctly reduced
list(pisa_clean)

['CNT',
 'STIDSTD',
 'ST04Q01',
 'ST13Q01',
 'ST14Q01',
 'ST14Q02',
 'ST14Q03',
 'ST14Q04',
 'ST17Q01',
 'ST18Q01',
 'ST18Q02',
 'ST18Q03',
 'ST18Q04',
 'ST57Q01',
 'ST57Q02',
 'ST57Q03',
 'ST57Q04',
 'ST57Q05',
 'MMINS',
 'LMINS',
 'SMINS',
 'PV1MATH',
 'PV2MATH',
 'PV3MATH',
 'PV4MATH',
 'PV5MATH',
 'PV1READ',
 'PV2READ',
 'PV3READ',
 'PV4READ',
 'PV5READ',
 'PV1SCIE',
 'PV2SCIE',
 'PV3SCIE',
 'PV4SCIE',
 'PV5SCIE']

### 2. Create an average of all Math, Reading, and Science scores since all 5 scores for each are not necessary

For each of the Math, Reading, and Science scores, there are 5 scores provided. The variation between these scores is not needed, so rather we will look at the average for each of these major categories and remove the individual scores.

In [13]:
# Create average of Math scores
pisa_clean['Average Math Score']    = (pisa_clean['PV1MATH'] + pisa_clean['PV2MATH'] + pisa_clean['PV3MATH'] + pisa_clean['PV4MATH'] + pisa_clean['PV5MATH']) / 5

# Create average of Reading scores
pisa_clean['Average Reading Score'] = (pisa_clean['PV1READ'] + pisa_clean['PV2READ'] + pisa_clean['PV3READ'] + pisa_clean['PV4READ'] + pisa_clean['PV5READ']) / 5

# Create average of Science scores
pisa_clean['Average Science Score'] = (pisa_clean['PV1SCIE'] + pisa_clean['PV2SCIE'] + pisa_clean['PV3SCIE'] + pisa_clean['PV4SCIE'] + pisa_clean['PV5SCIE']) / 5

# Create average score
pisa_clean['Average Total Score']   = (pisa_clean['Average Math Score'] + pisa_clean['Average Reading Score'] + pisa_clean['Average Science Score']) / 3

In [14]:
# Remove the individual scores for Math, Reading, and Science
pisa_clean.drop(columns=['PV1MATH',  'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH',   
                         'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ',  'PV5READ',
                         'PV1SCIE',  'PV2SCIE', 'PV3SCIE',  'PV4SCIE', 'PV5SCIE'], inplace=True)

In [15]:
# Test to see accuracy of the Math score
print(pisa_clean['Average Math Score'].describe())
print('-'*22)

# Test to see accuracy of the Reading score
print(pisa_clean['Average Reading Score'].describe())
print('-'*22)

# Test to see accuracy of the Science score
print(pisa_clean['Average Science Score'].describe())
print('-'*22)

# Test to see accuracy of the Total score
print(pisa_clean['Average Total Score'].describe())

count    485490.000000
mean        469.651234
std         100.786610
min          54.767080
25%         396.019620
50%         465.734520
75%         540.123060
max         903.107960
Name: Average Math Score, dtype: float64
----------------------
count    485490.000000
mean        472.006964
std          98.863310
min           6.445400
25%         405.044200
50%         475.477980
75%         542.831195
max         849.359740
Name: Average Reading Score, dtype: float64
----------------------
count    485490.000000
mean        475.808094
std          97.998470
min          25.158540
25%         405.762800
50%         475.512860
75%         546.381920
max         857.832900
Name: Average Science Score, dtype: float64
----------------------
count    485490.000000
mean        472.488764
std          96.036271
min          77.114593
25%         403.992595
50%         472.046460
75%         541.455700
max         826.592027
Name: Average Total Score, dtype: float64

In [16]:
# Test to see if the data from the new variables display correctly
pisa_clean.sample(10)

,CNT,STIDSTD,ST04Q01,ST13Q01,ST14Q01,ST14Q02,ST14Q03,ST14Q04,ST17Q01,ST18Q01,...,ST57Q03,ST57Q04,ST57Q05,MMINS,LMINS,SMINS,Average Math Score,Average Reading Score,Average Science Score,Average Total Score
443793,Sweden,199,Male,<ISCED level 3A>,No,No,No,NaN,<ISCED level 3A>,No,...,NaN,NaN,NaN,NaN,NaN,NaN,414.55834,363.18268,390.19022,389.310413
474535,Uruguay,4298,Female,<ISCED level 2>,No,No,No,NaN,<ISCED level 1>,No,...,NaN,NaN,NaN,NaN,NaN,NaN,431.07180,466.10514,432.80492,443.327287
267396,Italy,26807,Female,<ISCED level 3A>,No,No,No,Yes,<ISCED level 3A>,No,...,NaN,NaN,NaN,NaN,NaN,NaN,475.78284,517.81472,515.60984,503.069133
294857,Korea,3998,Female,<ISCED level 3A>,No,No,No,NaN,<ISCED level 3A>,No,...,0.0,8.0,0.0,220.0,220.0,165.0,588.80666,586.68142,599.25400,591.580693
149715,Spain,4133,Female,<ISCED level 2>,No,No,No,No,<ISCED level 2>,No,...,1.0,7.0,0.0,200.0,200.0,250.0,542.30408,529.01448,499.94406,523.754207
435030,Slovak Republic,2025,Female,"<ISCED level 3B, 3C>",No,No,No,No,"<ISCED level 3B, 3C>",No,...,0.0,0.0,0.0,135.0,135.0,180.0,488.71320,494.06484,503.30100,495.359680
96069,Switzerland,56,Male,"<ISCED level 3B, 3C>",No,No,No,No,"<ISCED level 3B, 3C>",No,...,NaN,NaN,NaN,NaN,NaN,NaN,556.01338,522.04800,550.11192,542.724433
396232,Qatar,6982,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,<ISCED level 3A>,NaN,...,0.0,0.0,2.0,225.0,NaN,405.0,494.47736,502.07958,455.83736,484.131433
418476,Russian Federation,932,Female,<ISCED level 3A>,No,No,Yes,Yes,<ISCED level 3A>,No,...,1.0,2.0,3.0,225.0,180.0,90.0,366.42002,434.65044,404.08430,401.718253
384771,Portugal,1243,Male,"<ISCED level 3B, 3C>",No,No,No,No,"<ISCED level 3B, 3C>",No,...,0.0,0.0,0.0,270.0,270.0,90.0,385.19242,424.21070,413.12942,407.510847

### 3. Make the variable names readable since they are codes that can only be read with the dictionary

In the original dataframe, the variable names are all codes and unreadable without the dictionary. Therefore, we will change them to accurately reflect the information within the column.

In [17]:
# Rename columns
pisa_clean.rename({'CNT': 'Country',
                   'STIDSTD': 'Student ID',
                   'ST04Q01': 'Gender', 
                   'ST13Q01': 'Mother - Highest Schooling', 
                   'ST14Q01': 'Mother Qualifications - ISCED level 6',
                   'ST14Q02': 'Mother Qualifications - ISCED level 5A',
                   'ST14Q03': 'Mother Qualifications - ISCED level 5B',
                   'ST14Q04': 'Mother Qualifications - ISCED level 4',
                   'ST17Q01': 'Father - Highest Schooling',
                   'ST18Q01': 'Father Qualifications - ISCED level 6',
                   'ST18Q02': 'Father Qualifications - ISCED level 5A',
                   'ST18Q03': 'Father Qualifications - ISCED level 5B',
                   'ST18Q04': 'Father Qualifications - ISCED level 4',
                   'ST57Q01': 'Out-of-School Study Time - Homework',
                   'ST57Q02': 'Out-of-School Study Time - Guided Homework',
                   'ST57Q03': 'Out-of-School Study Time - Personal Tutor',
                   'ST57Q04': 'Out-of-School Study Time - Commercial Company',
                   'ST57Q05': 'Out-of-School Study Time - With Parent',
                   'MMINS': 'Learning Time - Mathematics',
                   'LMINS': 'Learning Time - Test Language',
                   'SMINS': 'Learning Time - Science'}, axis='columns', inplace=True)

In [18]:
# Check to see if the columns are correctly renamed
list(pisa_clean)

['Country',
 'Student ID',
 'Gender',
 'Mother - Highest Schooling',
 'Mother Qualifications - ISCED level 6',
 'Mother Qualifications - ISCED level 5A',
 'Mother Qualifications - ISCED level 5B',
 'Mother Qualifications - ISCED level 4',
 'Father - Highest Schooling',
 'Father Qualifications - ISCED level 6',
 'Father Qualifications - ISCED level 5A',
 'Father Qualifications - ISCED level 5B',
 'Father Qualifications - ISCED level 4',
 'Out-of-School Study Time - Homework',
 'Out-of-School Study Time - Guided Homework',
 'Out-of-School Study Time - Personal Tutor',
 'Out-of-School Study Time - Commercial Company',
 'Out-of-School Study Time - With Parent',
 'Learning Time - Mathematics',
 'Learning Time - Test Language',
 'Learning Time - Science',
 'Average Math Score',
 'Average Reading Score',
 'Average Science Score',
 'Average Total Score']

### 4. There are multiple columns for single variables related to father's education

Values for the father's education are distributed among 5 columns. One column holds '<ISCED level 1>', '<ISCED level 2>', '<ISCED level 3A>', '<ISCED level 3B, 3C>', and 'He did not complete <ISCED level 1>'. We would rather have one level for ISCED level 3, and change 'He did not complete <ISCED level 1>' to level 0, in accordance to this classification: http://uis.unesco.org/sites/default/files/documents/international-standard-classification-of-education-isced-2011-en.pdf

Also, since the data for this variable has multiple pieces of data in one column, and then another 4 columns hold the rest of the data, we will have to expand the first column by creating dummies for each data to have a column, and then melt all the columns into one.

In [19]:
# Begin with a copy
father_edu = pisa_clean.copy()

In [20]:
# Split column up with dummies
father_edu[['<ISCED level 1>', 
            '<ISCED level 2>', 
            '<ISCED level 3A>', 
            '<ISCED level 3B, 3C>', 
            'He did not complete <ISCED level 1>']] = pd.get_dummies(father_edu['Father - Highest Schooling'])

In [21]:
# Rename the columns for consistency and to remove subcategorization of levels
father_edu.rename({'He did not complete <ISCED level 1>': '<ISCED level 0>',
                   '<ISCED level 3A>': '<ISCED level 3>', 
                   '<ISCED level 3B, 3C>': '<ISCED level 3>',
                   'Father Qualifications - ISCED level 4': '<ISCED level 4>',
                   'Father Qualifications - ISCED level 5A': '<ISCED level 5>',
                   'Father Qualifications - ISCED level 5B': '<ISCED level 5>',
                   'Father Qualifications - ISCED level 6': '<ISCED level 6>'}, axis='columns', inplace=True)

In [22]:
# Change datatypes from ints into strings for dummy columns
father_edu['<ISCED level 0>'] = father_edu['<ISCED level 0>'].astype(str)
father_edu['<ISCED level 1>'] = father_edu['<ISCED level 1>'].astype(str)
father_edu['<ISCED level 2>'] = father_edu['<ISCED level 2>'].astype(str)
father_edu['<ISCED level 3>'] = father_edu['<ISCED level 3>'].astype(str)

In [23]:
# Change values from '1's and 'Yes's to the corresponding level to prepare for the melt
father_edu['<ISCED level 0>'] = father_edu['<ISCED level 0>'].replace(regex='1', value='Early childhood')
father_edu['<ISCED level 1>'] = father_edu['<ISCED level 1>'].replace(regex='1', value='Primary')
father_edu['<ISCED level 2>'] = father_edu['<ISCED level 2>'].replace(regex='1', value='Lower secondary')
father_edu['<ISCED level 3>'] = father_edu['<ISCED level 3>'].replace(regex='1', value='Upper secondary')
father_edu['<ISCED level 4>'] = father_edu['<ISCED level 4>'].replace(regex='Yes', value='Post-secondary')
father_edu['<ISCED level 5>'] = father_edu['<ISCED level 5>'].replace(regex='Yes', value='Short-cycle tertiary')
father_edu['<ISCED level 6>'] = father_edu['<ISCED level 6>'].replace(regex='Yes', value='Bachelors or equivalent')

In [24]:
# Test to see if the columns are all correct before melt
father_edu.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Father - Highest Schooling,<ISCED level 6>,...,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,<ISCED level 1>,<ISCED level 2>,<ISCED level 3>,<ISCED level 3>,<ISCED level 0>
277606,Jordan,5944,Male,<ISCED level 3A>,No,NaN,No,NaN,<ISCED level 3A>,Bachelors or equivalent,...,225.0,407.62578,352.83756,396.43790,385.633747,0,0,Upper secondary,0,0
485155,Vietnam,4625,Male,<ISCED level 3A>,No,No,NaN,No,NaN,NaN,...,NaN,560.37544,485.96046,565.77768,537.371193,0,0,0,0,0
372310,New Zealand,3715,Male,"<ISCED level 3B, 3C>",No,No,No,No,<ISCED level 2>,No,...,300.0,550.24926,512.58502,501.62252,521.485600,0,Lower secondary,0,0,0
262696,Italy,22107,Male,NaN,No,No,No,No,NaN,No,...,NaN,402.71848,393.17540,439.23910,411.710993,0,0,0,0,0
21310,Argentina,5068,Male,She did not complete <ISCED level 1>,No,No,No,NaN,He did not complete <ISCED level 1>,No,...,NaN,360.50010,395.18028,373.68518,376.455187,0,0,0,0,Early childhood
212617,Croatia,1047,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,<ISCED level 3A>,NaN,...,NaN,453.58308,535.92498,514.49084,501.332967,0,0,Upper secondary,0,0
229047,Ireland,2037,Male,<ISCED level 3A>,No,No,No,Yes,<ISCED level 3A>,No,...,NaN,502.57828,621.16840,550.95112,558.232600,0,0,Upper secondary,0,0
116845,Colombia,2747,Male,<ISCED level 3A>,No,No,Yes,NaN,<ISCED level 1>,No,...,NaN,435.90122,391.17054,439.14584,422.072533,Primary,0,0,0,0
417116,Romania,4646,Male,NaN,Yes,Yes,Yes,No,NaN,NaN,...,60.0,390.25550,354.44148,362.30884,369.001940,0,0,0,0,0
445429,Sweden,1835,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,<ISCED level 2>,NaN,...,NaN,473.91340,460.94210,448.56396,461.139820,0,Lower secondary,0,0,0

In [25]:
# Combine all columns into one variable column
father_edu = pd.melt(father_edu, 
                     id_vars=['Country','Student ID', 'Gender',
                            'Mother - Highest Schooling', 
                            'Mother Qualifications - ISCED level 6', 
                            'Mother Qualifications - ISCED level 5A',
                            'Mother Qualifications - ISCED level 5B',
                            'Mother Qualifications - ISCED level 4',
                            'Out-of-School Study Time - Homework',
                            'Out-of-School Study Time - Guided Homework',
                            'Out-of-School Study Time - Personal Tutor',
                            'Out-of-School Study Time - Commercial Company',
                            'Out-of-School Study Time - With Parent',
                            'Learning Time - Mathematics',
                            'Learning Time - Test Language',
                            'Learning Time - Science',
                            'Average Math Score',
                            'Average Reading Score',
                            'Average Science Score',
                            'Average Total Score'], var_name='Completed_edu - Father', value_name='Education - Father')

In [26]:
# Check to see if the columns from the melt were correctly created
father_edu.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Completed_edu - Father,Education - Father
3880017,Vietnam,1057,Male,<ISCED level 1>,NaN,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,512.00342,490.45134,518.87354,507.109433,<ISCED level 3>,0
4767498,Qatar,8838,Male,<ISCED level 2>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,207.51674,201.10954,225.51286,211.379713,<ISCED level 0>,0
2435302,United Arab Emirates,3110,Male,<ISCED level 3A>,NaN,Yes,NaN,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,455.37466,469.76120,501.06306,475.399640,<ISCED level 1>,0
3135752,Indonesia,1424,Male,<ISCED level 3A>,No,No,No,NaN,15.0,5.0,...,NaN,180.0,45.0,180.0,418.21936,392.85462,438.77286,416.615613,<ISCED level 2>,0
3569875,Estonia,550,Male,<ISCED level 3A>,No,No,No,Yes,7.0,1.0,...,1.0,225.0,225.0,315.0,650.65432,596.14772,648.11638,631.639473,<ISCED level 3>,Upper secondary
1023111,Bulgaria,2148,Male,"<ISCED level 3B, 3C>",No,No,No,No,2.0,0.0,...,2.0,80.0,120.0,240.0,409.49522,415.54966,445.76650,423.603793,<ISCED level 5>,No
1209359,Israel,2845,Female,<ISCED level 3A>,No,Yes,Yes,No,NaN,NaN,...,NaN,NaN,NaN,NaN,494.24366,497.16266,443.80830,478.404873,<ISCED level 5>,Short-cycle tertiary
2659814,Iceland,338,Female,<ISCED level 3A>,No,Yes,No,No,2.0,1.0,...,1.0,240.0,280.0,120.0,657.04158,647.36668,625.55016,643.319473,<ISCED level 1>,0
1076648,Switzerland,9655,Male,"<ISCED level 3B, 3C>",No,Yes,Yes,No,3.0,0.0,...,1.0,180.0,180.0,180.0,654.86056,574.25460,643.54718,624.220780,<ISCED level 5>,No
3889752,United Arab Emirates,1090,Female,<ISCED level 1>,No,No,No,No,1.0,NaN,...,NaN,NaN,NaN,180.0,373.11886,436.87450,406.50878,405.500713,<ISCED level 3>,0

In [27]:
# Remove all cases from melt where the education of the father is either '0' or 'No'
father_edu = father_edu[(father_edu['Education - Father'] != '0')] 
father_edu = father_edu[(father_edu['Education - Father'] != 'No')]

In [28]:
# Check to see if 0's and No's have been removed
father_edu.sample(70)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Completed_edu - Father,Education - Father
2265423,Mexico,7761,Male,<ISCED level 1>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,364.86214,345.13890,356.62064,355.540560,<ISCED level 4>,NaN
3402268,Albania,3839,Female,<ISCED level 2>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,526.88114,574.44904,514.67736,538.669180,<ISCED level 3>,Upper secondary
3288218,Peru,2392,Female,She did not complete <ISCED level 1>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,307.45444,216.85060,202.66694,242.323993,<ISCED level 2>,Lower secondary
1871002,Romania,2062,Female,<ISCED level 3A>,NaN,NaN,NaN,Yes,4.0,2.0,...,0.0,150.0,150.0,0.0,418.68670,462.45128,383.47630,421.538093,<ISCED level 5>,NaN
422256,Russian Federation,4712,Female,<ISCED level 3A>,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,469.78500,521.54798,518.50054,503.277840,Father - Highest Schooling,"<ISCED level 3B, 3C>"
3698703,Lithuania,4088,Female,<ISCED level 3A>,NaN,NaN,NaN,Yes,2.0,1.0,...,3.0,180.0,180.0,360.0,361.59060,370.54962,359.13842,363.759547,<ISCED level 3>,Upper secondary
3407397,United Arab Emirates,4225,Female,<ISCED level 3A>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,595.97288,591.20896,590.67510,592.618980,<ISCED level 3>,Upper secondary
3693570,Korea,4281,Female,<ISCED level 3A>,No,No,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,450.46736,510.18934,473.27490,477.977200,<ISCED level 3>,Upper secondary
3440196,Belgium,380,Male,<ISCED level 3A>,NaN,Yes,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,516.20970,545.94598,538.82882,533.661500,<ISCED level 3>,Upper secondary
2136658,United Kingdom,5582,Male,"<ISCED level 3B, 3C>",No,No,No,No,5.0,2.0,...,0.0,220.0,275.0,330.0,544.40722,535.92164,574.91606,551.748307,<ISCED level 4>,NaN
1472841,Argentina,129,Female,<ISCED level 3A>,Yes,NaN,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,496.42466,555.46500,565.87094,539.253533,<ISCED level 5>,Short-cycle tertiary
186767,France,2264,Female,<ISCED level 3A>,No,No,No,NaN,4.0,0.0,...,0.0,240.0,240.0,90.0,598.69918,624.01396,551.79038,591.501173,Father - Highest Schooling,<ISCED level 3A>
1199909,Ireland,1919,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,10.0,10.0,...,0.0,175.0,140.0,140.0,463.16404,504.56560,476.63188,481.453840,<ISCED level 5>,NaN
1500215,Belgium,2359,Female,<ISCED level 3A>,No,No,Yes,No,15.0,2.0,...,1.0,250.0,250.0,200.0,624.48200,617.65950,662.84966,634.997053,<ISCED level 5>,Short-cycle tertiary
1152431,Finland,5777,Female,<ISCED level 2>,No,No,No,Yes,1.0,0.0,...,0.0,180.0,135.0,135.0,459.81460,568.49168,517.47482,515.260367,<ISCED level 5>,Short-cycle tertiary
141704,Denmark,3603,Female,<ISCED level 3A>,NaN,NaN,Yes,NaN,2.0,1.0,...,0.0,180.0,540.0,180.0,405.52268,492.63508,416.20666,438.121473,Father - Highest Schooling,"<ISCED level 3B, 3C>"
79880,Canada,5411,Male,<ISCED level 3A>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,532.17790,582.59486,592.91310,569.228620,Father - Highest Schooling,<ISCED level 3A>
2281809,Mexico,24147,Female,<ISCED level 1>,No,No,No,NaN,8.0,4.0,...,2.0,200.0,150.0,150.0,445.09270,466.42284,444.36778,451.961107,<ISCED level 4>,NaN
239518,Israel,3984,Female,<ISCED level 3A>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,432.94126,494.14428,428.32898,451.804840,Father - Highest Schooling,<ISCED level 3A>
386453,Portugal,2925,Female,<ISCED level 1>,No,No,No,No,2.0,1.0,...,NaN,225.0,225.0,90.0,464.02088,480.40270,508.61620,484.346593,Father - Highest Schooling,<ISCED level 2>
149494,Spain,3912,Male,<ISCED level 3A>,No,Yes,No,No,2.0,0.0,...,0.0,165.0,165.0,165.0,486.37638,451.23622,492.20440,476.605667,Father - Highest Schooling,<ISCED level 2>
147373,Spain,1791,Female,<ISCED level 2>,No,No,No,No,4.0,3.0,...,0.0,300.0,220.0,150.0,574.24054,615.75316,587.69114,592.561613,Father - Highest Schooling,"<ISCED level 3B, 3C>"
3564587,Spain,20575,Female,<ISCED level 3A>,No,No,Yes,No,NaN,NaN,...,NaN,NaN,NaN,NaN,494.71102,485.88346,519.71280,500.102427,<ISCED level 3>,Upper secondary
3415469,Argentina,797,Female,<ISCED level 3A>,No,Yes,Yes,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,600.41282,661.66428,535.00558,599.027560,<ISCED level 3>,Upper secondary
4145396,Italy,20887,Male,<ISCED level 3A>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,466.20192,517.39670,486.60946,490.069360,<ISCED level 3>,Upper secondary
2120311,Finland,2677,Male,"<ISCED level 3B, 3C>",No,No,Yes,No,NaN,NaN,...,NaN,NaN,NaN,NaN,320.69638,316.42924,363.61432,333.579980,<ISCED level 4>,NaN
537475,Bulgaria,2002,Male,<ISCED level 3A>,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,457.39990,493.49876,484.83776,478.578807,<ISCED level 6>,Bachelors or equivalent
355083,Malaysia,831,Male,<ISCED level 2>,No,No,No,No,12.0,2.0,...,1.0,105.0,105.0,105.0,420.01092,399.67116,446.13950,421.940527,Father - Highest Schooling,<ISCED level 3A>
3937893,Bulgaria,3990,Female,"<ISCED level 3B, 3C>",No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,455.06310,555.38558,561.11524,523.854640,<ISCED level 3>,Upper secondary
1039763,Brazil,13518,Male,<ISCED level 3A>,No,Yes,No,No,0.0,0.0,...,0.0,120.0,120.0,80.0,432.16234,442.97618,452.94666,442.695060,<ISCED level 5>,Short-cycle tertiary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3591310,United Kingdom,3764,Male,"<ISCED level 3B, 3C>",No,No,No,No,14.0,2.0,...,9.0,250.0,200.0,200.0,485.98694,439.36746,468.23946,464.531287,<ISCED level 3>,Upper secondary
1159734,France,4251,Male,<ISCED level 2>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,341.64980,357.08788,338.90340,345.880360,<ISCED level 5>,NaN
1057894,Canada,12445,Female,<ISCED level 3A>,No,Yes,No,No,3.0,0.0,...,0.0,240.0,240.0,240.0,610.14956,601.53500,617.99702,609.893860,<ISCED level 5>,Short-cycle tertiary
52410,Bulgaria,2427,Male,<ISCED level 3A>,No,Yes,Yes,No,10.0,2.0,...,2.0,200.0,160.0,240.0,411.05310,446.58494,463.11078,440.249607,Father - Highest Schooling,<ISCED level 3A>
4123587,Israel,4133,Male,"<ISCED level 3B, 3C>",No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,464.41034,513.54736,463.01752,480.325073,<ISCED level 3>,Upper secondary
1213203,Italy,1634,Male,<ISCED level 3A>,No,Yes,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,609.29270,547.87060,585.35994,580.841080,<ISCED level 5>,Short-cycle tertiary
1594371,Germany,4801,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,7.0,0.0,...,0.0,45.0,135.0,0.0,495.95732,531.15912,455.93064,494.349027,<ISCED level 5>,NaN
1338935,Norway,4046,Male,<ISCED level 3A>,NaN,NaN,Yes,NaN,6.0,2.0,...,0.0,180.0,240.0,180.0,529.60742,520.12334,581.16374,543.631500,<ISCED level 5>,NaN
3542354,Denmark,5823,Male,<ISCED level 3A>,NaN,NaN,NaN,NaN,1.0,0.0,...,0.0,180.0,225.0,135.0,470.17448,424.29088,412.19690,435.554087,<ISCED level 3>,Upper secondary
2278261,Mexico,20599,Female,<ISCED level 1>,No,No,No,NaN,5.0,2.0,...,NaN,480.0,600.0,480.0,402.01744,454.58762,410.05222,422.219093,<ISCED level 4>,NaN
3184207,Italy,30678,Female,<ISCED level 2>,No,No,No,No,10.0,2.0,...,0.0,240.0,360.0,120.0,463.86510,476.35170,425.53150,455.249433,<ISCED level 2>,Lower secondary
2980192,Brazil,11987,Male,<ISCED level 3A>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,339.31298,375.13164,362.30882,358.917813,<ISCED level 2>,Lower secondary
2126781,France,318,Male,<ISCED level 2>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,470.56394,488.28608,520.27230,493.040773,<ISCED level 4>,NaN
1792086,Mexico,19914,Female,<ISCED level 1>,No,No,No,NaN,3.0,2.0,...,2.0,150.0,250.0,150.0,366.42000,381.11392,341.98058,363.171500,<ISCED level 5>,Short-cycle tertiary
3546106,Spain,2094,Female,<ISCED level 3A>,No,Yes,No,No,15.0,0.0,...,1.0,220.0,180.0,330.0,539.42202,597.32518,534.16636,556.971187,<ISCED level 3>,Upper secondary
1110933,Denmark,1852,Female,<ISCED level 3A>,NaN,NaN,NaN,NaN,5.0,0.0,...,1.0,180.0,225.0,135.0,661.55944,638.54986,669.09734,656.402213,<ISCED level 5>,NaN
1610255,Spain,8203,Female,"<ISCED level 3B, 3C>",No,No,Yes,Yes,12.0,5.0,...,0.0,220.0,220.0,165.0,550.40506,592.24156,491.36514,544.670587,<ISCED level 5>,Short-cycle tertiary
373193,Peru,307,Male,<ISCED level 3A>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,396.95434,360.53626,377.04214,378.177580,Father - Highest Schooling,<ISCED level 3A>
335110,Mexico,19408,Female,<ISCED level 1>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,391.03444,492.31734,398.67588,427.342553,Father - Highest Schooling,"<ISCED level 3B, 3C>"
4304884,Russian Federation,3420,Male,"<ISCED level 3B, 3C>",NaN,NaN,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,528.12746,477.29946,566.15068,523.859200,<ISCED level 3>,Upper secondary
69771,Brazil,14506,Female,<ISCED level 1>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,356.52750,444.02330,366.87804,389.142947,Father - Highest Schooling,He did not complete <ISCED level 1>
3981959,Switzerland,2026,Male,<ISCED level 3A>,Yes,Yes,No,No,14.0,0.0,...,5.0,180.0,180.0,90.0,645.90280,590.85488,616.59828,617.785320,<ISCED level 3>,Upper secondary
3437107,Austria,2046,Male,<ISCED level 3A>,No,No,Yes,No,2.0,0.0,...,0.0,200.0,200.0,650.0,439.32856,365.90928,450.05594,418.431260,<ISCED level 3>,Upper secondary
348925,Mexico,33223,Female,<ISCED level 2>,NaN,NaN,Yes,NaN,4.0,3.0,...,1.0,NaN,NaN,NaN,319.29430,321.85838,330.32452,323.825733,Father - Highest Schooling,NaN
3429577,Australia,8997,Male,<ISCED level 3A>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,420.08880,369.43782,426.27750,405.268040,<ISCED level 3>,Upper secondary
2265841,Mexico,8179,Female,<ISCED level 2>,NaN,NaN,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,332.53622,410.98000,358.20590,367.240707,<ISCED level 4>,NaN
3668171,Italy,29152,Male,<ISCED level 3A>,NaN,NaN,NaN,Yes,3.0,3.0,...,2.0,240.0,240.0,120.0,421.33510,416.51202,422.26782,420.038313,<ISCED level 3>,Upper secondary
144398,Denmark,6297,Male,<ISCED level 2>,No,No,Yes,No,NaN,NaN,...,NaN,NaN,NaN,NaN,505.77196,515.39184,542.65200,521.271933,Father - Highest Schooling,"<ISCED level 3B, 3C>"
319435,Mexico,3733,Male,<ISCED level 2>,No,No,No,NaN,5.0,2.0,...,0.0,250.0,250.0,250.0,467.13662,407.45002,416.48638,430.357673,Father - Highest Schooling,NaN
3775169,Peru,3853,Female,<ISCED level 3A>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,377.55880,409.94740,426.27750,404.594567,<ISCED level 3>,Upper secondary

In [29]:
# Remove 'Father - Highest Schooling' since it is redundant
father_edu = father_edu[(father_edu['Completed_edu - Father'] != 'Father - Highest Schooling')]

In [30]:
# Check to see if correct values remain
father_edu['Education - Father'].value_counts()

Upper secondary             306459
Short-cycle tertiary        185130
Lower secondary              84329
Post-secondary               77265
Primary                      35938
Bachelors or equivalent     29589
Early childhood              16535
Name: Education - Father, dtype: int64

In [31]:
# Completed_edu is no longer needed since it duplicates the information in 'Education - Father'
father_edu.drop(columns=['Completed_edu - Father'], axis=1, inplace=True)

In [32]:
# Ensure the column has been dropped
father_edu.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father
1459254,Albania,2785,Female,She did not complete <ISCED level 1>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,450.62318,544.82126,433.92390,476.456113,NaN
1390483,Russian Federation,1959,Male,<ISCED level 3A>,No,No,No,Yes,14.0,NaN,...,4.0,0.0,225.0,180.0,360.0,567.15222,537.84628,540.78702,548.595173,NaN
3691773,Korea,2484,Female,"<ISCED level 3B, 3C>",No,No,No,NaN,2.0,0.0,...,0.0,0.0,300.0,150.0,850.0,766.09286,720.60210,718.23946,734.978140,Upper secondary
3291445,Peru,5619,Male,She did not complete <ISCED level 1>,No,No,No,No,3.0,2.0,...,NaN,NaN,480.0,480.0,480.0,264.76866,276.17162,280.43642,273.792233,Lower secondary
3439382,Austria,4321,Male,"<ISCED level 3B, 3C>",No,No,Yes,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,565.04906,589.49156,585.54644,580.029020,Upper secondary
3476913,Canada,4014,Female,<ISCED level 3A>,Yes,Yes,Yes,Yes,18.0,0.0,...,0.0,0.0,360.0,360.0,360.0,594.80448,583.50416,645.22566,607.844767,Upper secondary
2082297,Denmark,2236,Female,<ISCED level 3A>,No,No,Yes,No,13.0,0.0,...,0.0,2.0,480.0,480.0,160.0,478.89858,497.16266,474.11416,483.391800,NaN
1736827,Japan,1657,Male,<ISCED level 3A>,No,Yes,NaN,NaN,0.0,0.0,...,0.0,0.0,225.0,225.0,180.0,511.30240,555.64950,570.16038,545.704093,NaN
2407786,Turkey,437,Male,NaN,No,No,No,NaN,2.0,1.0,...,0.0,2.0,NaN,NaN,40.0,401.47222,444.74048,380.95860,409.057100,NaN
1907499,Chinese Taipei,2699,Female,"<ISCED level 3B, 3C>",No,No,Yes,NaN,1.0,NaN,...,0.0,1.0,225.0,270.0,225.0,583.12042,564.67900,554.86756,567.555660,Short-cycle tertiary

In [33]:
# Check if there are any duplicated values remaining
father_edu['Student ID'].duplicated().sum()

1229261

In [34]:
# https://stackoverflow.com/questions/33042777/removing-duplicates-from-pandas-dataframe-with-condition-for-retaining-original
# Change datatypes into category, and put into order from lowest to highest
father_edu['Education - Father'] = father_edu['Education - Father'].astype('category')
father_edu['Education - Father'] = father_edu['Education - Father'].cat.set_categories(['Bachelors or equivalent', 
                                                                                        'Short-cycle tertiary', 
                                                                                        'Post-secondary', 
                                                                                        'Upper secondary',
                                                                                        'Lower secondary', 
                                                                                        'Primary', 
                                                                                        'Early childhood'], ordered=True)
father_edu.sort_values(['Education - Father'], inplace=True)

# Remove duplicates and keep last, which is the highest level of education for the student's father
father_edu_clean = father_edu.drop_duplicates(subset=['Student ID'], keep='first')

In [35]:
# Ensure there are no duplicates
father_edu_clean['Student ID'].duplicated().sum()

0

In [36]:
# Check the size of the dataframe - 
print(pisa['STIDSTD'].nunique())
print(father_edu_clean.shape)

33806
(33806, 21)

In [37]:
# Final check of clean dataframe
father_edu_clean.sample(100)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father
559752,Brazil,18997,Male,"<ISCED level 3B, 3C>",Yes,Yes,Yes,No,2.0,NaN,...,5.0,1.0,120.0,120.0,60.0,409.33944,413.78540,461.33904,428.154627,Bachelors or equivalent
960833,Uruguay,5106,Male,<ISCED level 1>,No,No,No,NaN,5.0,2.0,...,0.0,0.0,90.0,90.0,135.0,428.18972,369.99920,376.57590,391.588273,Bachelors or equivalent
4150255,Italy,25746,Male,"<ISCED level 3B, 3C>",NaN,NaN,NaN,NaN,10.0,2.0,...,0.0,0.0,250.0,250.0,150.0,480.37856,505.84868,460.87280,482.366680,Upper secondary
1622371,Spain,20319,Female,<ISCED level 3A>,No,No,No,No,8.0,0.0,...,0.0,0.0,240.0,240.0,360.0,615.44634,629.97130,614.08056,619.832733,Short-cycle tertiary
4149535,Italy,25026,Male,<ISCED level 3A>,No,No,No,Yes,10.0,0.0,...,0.0,0.0,200.0,200.0,150.0,557.72704,497.74906,568.38864,541.288247,Upper secondary
2103689,Spain,16147,Male,<ISCED level 3A>,No,No,No,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,537.24102,485.23872,540.60052,521.026753,Post-secondary
1615224,Spain,13172,Female,<ISCED level 3A>,No,No,No,No,11.0,1.0,...,3.0,0.0,NaN,NaN,NaN,598.69918,525.20180,596.36328,573.421420,Short-cycle tertiary
1316358,Mexico,29676,Female,<ISCED level 2>,No,No,No,NaN,3.0,2.0,...,2.0,2.0,50.0,50.0,50.0,402.56272,386.99184,396.90416,395.486240,Short-cycle tertiary
2110976,Spain,23434,Male,<ISCED level 2>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,510.05610,457.01026,490.99216,486.019507,Post-secondary
959054,Uruguay,3327,Male,<ISCED level 3A>,Yes,NaN,NaN,NaN,5.0,2.0,...,6.0,2.0,90.0,120.0,90.0,485.75324,501.99938,452.94666,480.233093,Bachelors or equivalent
861956,Peru,3580,Male,<ISCED level 3A>,No,Yes,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,484.42902,426.77692,421.33532,444.180420,Bachelors or equivalent
1623988,Spain,21936,Female,"<ISCED level 3B, 3C>",Yes,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,538.79888,542.12060,546.75496,542.558147,Short-cycle tertiary
592972,Chile,240,Female,<ISCED level 3A>,Yes,Yes,No,No,9.0,2.0,...,0.0,1.0,180.0,270.0,180.0,580.93940,610.19298,619.11600,603.416127,Bachelors or equivalent
3667642,Italy,28623,Male,<ISCED level 3A>,No,No,Yes,No,6.0,2.0,...,0.0,1.0,NaN,NaN,NaN,420.71194,445.78300,413.22270,426.572547,Upper secondary
500296,United Arab Emirates,10064,Female,<ISCED level 3A>,No,No,No,Yes,7.0,7.0,...,10.0,2.0,NaN,NaN,NaN,450.23368,452.60184,436.53490,446.456807,Bachelors or equivalent
741410,Italy,15331,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,12.0,3.0,...,3.0,1.0,165.0,495.0,110.0,344.53186,429.48742,343.09960,372.372960,Bachelors or equivalent
577395,Canada,17436,Male,NaN,No,Yes,No,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,592.46770,611.62526,604.47594,602.856300,Bachelors or equivalent
954172,Turkey,3293,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,4.0,0.0,...,0.0,0.0,200.0,320.0,NaN,514.72970,625.44374,558.13128,566.101573,Bachelors or equivalent
881444,Qatar,6704,Male,NaN,NaN,NaN,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,304.33870,314.02342,336.10596,318.156027,Bachelors or equivalent
3176909,Italy,23380,Female,<ISCED level 2>,NaN,NaN,NaN,NaN,15.0,0.0,...,NaN,NaN,250.0,350.0,100.0,502.50042,560.07200,576.59454,546.388987,Lower secondary
650852,Spain,19780,Male,<ISCED level 3A>,No,Yes,No,No,1.0,0.0,...,5.0,1.0,165.0,220.0,165.0,545.57564,518.59962,579.11228,547.762513,Bachelors or equivalent
3746119,Mexico,31987,Female,<ISCED level 1>,No,No,No,NaN,4.0,2.0,...,0.0,0.0,240.0,180.0,240.0,486.92166,549.50768,547.22118,527.883507,Upper secondary
961785,United States of America,743,Female,<ISCED level 3A>,Yes,Yes,No,No,15.0,4.0,...,0.0,5.0,400.0,0.0,0.0,682.82444,684.54038,703.50616,690.290327,Bachelors or equivalent
2213027,Italy,30478,Female,<ISCED level 2>,No,No,No,Yes,21.0,2.0,...,0.0,0.0,300.0,600.0,120.0,591.68872,543.78864,484.46474,539.980700,Post-secondary
493717,United Arab Emirates,3485,Female,<ISCED level 3A>,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,355.20332,385.72092,342.16710,361.030447,Bachelors or equivalent
3656434,Italy,17415,Male,<ISCED level 2>,No,No,No,No,12.0,0.0,...,0.0,0.0,220.0,220.0,NaN,664.44150,601.84152,653.80454,640.029187,Upper secondary
1804565,Mexico,32393,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,269.90964,253.47660,300.39162,274.592620,NaN
557655,Brazil,16900,Female,"<ISCED level 3B, 3C>",Yes,No,No,No,5.0,0.0,...,0.0,0.0,135.0,135.0,90.0,475.31548,506.93268,486.14322,489.463793,Bachelors or equivalent
1469679,United Arab Emirates,8467,Female,<ISCED level 3A>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,425.61924,466.42284,453.78590,448.609327,Short-cycle tertiary
802345,Mexico,1153,Female,<ISCED level 2>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,342.27294,323.28816,336.01270,333.857933,Bachelors or equivalent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3667837,Italy,28818,Male,<ISCED level 2>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,387.76290,404.48284,444.92726,412.391000,Upper secondary
1319921,Mexico,33239,Male,"<ISCED level 3B, 3C>",No,Yes,No,NaN,12.0,0.0,...,0.0,0.0,250.0,250.0,250.0,542.77146,537.28494,480.73480,520.263733,Short-cycle tertiary
681038,United Kingdom,6432,Male,"<ISCED level 3B, 3C>",No,No,No,No,20.0,2.0,...,0.0,0.0,175.0,315.0,350.0,536.92944,509.05648,554.68110,533.555673,Bachelors or equivalent
1317213,Mexico,30531,Female,<ISCED level 3A>,No,No,No,NaN,5.0,0.0,...,0.0,0.0,275.0,220.0,385.0,544.64090,570.00088,529.41068,548.017487,Short-cycle tertiary
1239656,Italy,28087,Male,"<ISCED level 3B, 3C>",No,Yes,No,No,24.0,14.0,...,0.0,0.0,378.0,540.0,108.0,646.52596,543.13914,514.11786,567.927653,Short-cycle tertiary
882960,Qatar,8220,Female,<ISCED level 3A>,Yes,Yes,Yes,No,3.0,1.0,...,0.0,1.0,NaN,NaN,NaN,543.23882,606.93630,587.87766,579.350927,Bachelors or equivalent
1795475,Mexico,23303,Male,<ISCED level 2>,No,No,No,NaN,10.0,10.0,...,0.0,2.0,360.0,480.0,480.0,421.25720,386.67966,427.76948,411.902113,Short-cycle tertiary
3181844,Italy,28315,Female,<ISCED level 3A>,No,No,No,No,13.0,0.0,...,0.0,2.0,180.0,420.0,120.0,518.39074,546.33044,561.95452,542.225233,Lower secondary
572159,Canada,12200,Female,<ISCED level 3A>,Yes,Yes,Yes,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,626.50724,606.30084,562.23424,598.347440,Bachelors or equivalent
894525,Florida (USA),1881,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,5.0,1.0,...,0.0,0.0,57.0,57.0,57.0,542.14830,558.45630,587.97092,562.858507,Bachelors or equivalent
1307422,Mexico,20740,Female,"<ISCED level 3B, 3C>",No,No,No,NaN,5.0,0.0,...,0.0,0.0,250.0,250.0,250.0,472.82284,484.69200,420.12310,459.212647,Short-cycle tertiary
2109808,Spain,22266,Female,<ISCED level 3A>,No,Yes,Yes,Yes,6.0,0.0,...,0.0,0.0,180.0,180.0,270.0,564.42592,578.57944,582.65570,575.220353,Post-secondary
3179155,Italy,25626,Male,"<ISCED level 3B, 3C>",No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,575.64264,457.01026,515.42336,516.025420,Lower secondary
545972,Brazil,5217,Female,<ISCED level 3A>,Yes,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,376.00092,383.25856,391.21596,383.491813,Bachelors or equivalent
2209416,Italy,26867,Female,<ISCED level 3A>,No,No,No,Yes,20.0,0.0,...,0.0,0.0,180.0,240.0,120.0,416.97304,485.80400,396.34464,433.040560,Post-secondary
880456,Qatar,5716,Male,NaN,No,Yes,No,No,2.0,NaN,...,1.0,1.0,270.0,270.0,225.0,394.38388,392.21308,297.78068,361.459213,Bachelors or equivalent
1316521,Mexico,29839,Male,<ISCED level 3A>,No,No,Yes,NaN,2.0,2.0,...,NaN,2.0,222.0,240.0,210.0,388.85340,357.16810,430.00746,392.009653,Short-cycle tertiary
1139236,Spain,22674,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,453.73890,479.70528,546.10218,493.182120,Short-cycle tertiary
3259748,Mexico,31106,Female,<ISCED level 2>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,346.01186,347.27634,325.75530,339.681167,Lower secondary
1138214,Spain,21652,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,14.0,0.0,...,0.0,0.0,180.0,220.0,165.0,567.07430,548.27158,602.79746,572.714447,Short-cycle tertiary
2209452,Italy,26903,Male,<ISCED level 3A>,No,No,No,Yes,7.0,0.0,...,0.0,0.0,300.0,240.0,120.0,614.58950,593.42108,595.61732,601.209300,Post-secondary
574497,Canada,14538,Female,<ISCED level 3A>,No,No,Yes,No,9.0,7.0,...,0.0,0.0,375.0,525.0,150.0,546.97770,562.13720,515.70310,541.606000,Bachelors or equivalent
1551636,Canada,20697,Female,<ISCED level 3A>,No,No,Yes,No,12.0,1.0,...,0.0,1.0,300.0,225.0,375.0,684.53810,674.77036,631.98432,663.764260,Short-cycle tertiary
3180242,Italy,26713,Female,<ISCED level 2>,No,No,No,Yes,5.0,1.0,...,0.0,0.0,180.0,NaN,120.0,409.80682,506.21778,468.98544,461.670013,Lower secondary
1639656,Finland,7512,Male,<ISCED level 3A>,No,Yes,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,654.78270,610.18174,617.53076,627.498400,Short-cycle tertiary
567654,Canada,7695,Female,<ISCED level 3A>,No,No,Yes,No,6.0,6.0,...,0.0,0.0,375.0,375.0,375.0,584.21092,540.84972,509.73518,544.931940,Bachelors or equivalent
1803960,Mexico,31788,Female,<ISCED level 1>,No,No,No,NaN,6.0,3.0,...,0.0,3.0,250.0,200.0,300.0,380.59668,422.10034,431.87246,411.523160,NaN
1140048,Spain,23486,Female,<ISCED level 3A>,No,Yes,No,No,17.0,0.0,...,2.0,0.0,300.0,240.0,180.0,677.83922,645.30150,653.99106,659.043927,Short-cycle tertiary
1793963,Mexico,21791,Female,<ISCED level 3A>,No,No,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,422.65930,490.25216,493.60316,468.838207,Short-cycle tertiary
1172606,United Kingdom,12510,Female,<ISCED level 3A>,No,Yes,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,589.81928,646.65182,615.94554,617.472213,Short-cycle tertiary

### 5. There are multiple columns for single variables related to mother's education

The exact same process for the mother's education is followed as for the father's education.

In [38]:
# Build mother's education dataframe off of the existing father education dataframe
mother_edu = father_edu_clean.copy()

In [39]:
# Check to visually assess
mother_edu.head()

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father
959699,Uruguay,3972,Male,<ISCED level 2>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,337.75510,363.74404,379.46662,360.321920,Bachelors or equivalent
899695,Romania,1735,Female,"<ISCED level 3B, 3C>",Yes,Yes,Yes,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,388.61972,471.26814,397.92986,419.272573,Bachelors or equivalent
602994,Colombia,3406,Female,NaN,Yes,NaN,NaN,NaN,5.0,1.0,...,0.0,2.0,270.0,225.0,225.0,393.60492,416.54018,365.19954,391.781547,Bachelors or equivalent
884540,Qatar,9800,Female,<ISCED level 3A>,Yes,Yes,Yes,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,451.47996,461.18040,439.89184,450.850733,Bachelors or equivalent
649234,Spain,18162,Male,<ISCED level 2>,No,No,No,No,8.0,0.0,...,0.0,2.0,220.0,220.0,165.0,493.77630,461.58134,465.34874,473.568793,Bachelors or equivalent

In [40]:
# Compare original dataframe to father dataframe
print(pisa_clean['Mother - Highest Schooling'].value_counts())
print('-'*47)
print(mother_edu['Mother - Highest Schooling'].value_counts())

<ISCED level 3A>                         236993
<ISCED level 3B, 3C>                      83048
<ISCED level 2>                           82614
<ISCED level 1>                           36556
She did not complete <ISCED level 1>      18768
Name: Mother - Highest Schooling, dtype: int64
-----------------------------------------------
<ISCED level 3A>                         20389
<ISCED level 2>                           5160
<ISCED level 3B, 3C>                      5114
<ISCED level 1>                           1347
She did not complete <ISCED level 1>       635
Name: Mother - Highest Schooling, dtype: int64

In [41]:
# Split column up with dummies
mother_edu[['<ISCED level 1>', 
            '<ISCED level 2>', 
            '<ISCED level 3A>', 
            '<ISCED level 3B, 3C>', 
            'She did not complete <ISCED level 1>']] = pd.get_dummies(mother_edu['Mother - Highest Schooling'])

In [42]:
# Rename the columns for consistency and to remove subcategorization of levels
mother_edu.rename({'She did not complete <ISCED level 1>': '<ISCED level 0>',
                   '<ISCED level 3A>': '<ISCED level 3>', 
                   '<ISCED level 3B, 3C>': '<ISCED level 3>',
                   'Mother Qualifications - ISCED level 4': '<ISCED level 4>',
                   'Mother Qualifications - ISCED level 5A': '<ISCED level 5>',
                   'Mother Qualifications - ISCED level 5B': '<ISCED level 5>',
                   'Mother Qualifications - ISCED level 6': '<ISCED level 6>'}, axis='columns', inplace=True)

In [43]:
# Change datatypes from ints into strings for dummy columns
mother_edu['<ISCED level 0>'] = mother_edu['<ISCED level 0>'].astype(str)
mother_edu['<ISCED level 1>'] = mother_edu['<ISCED level 1>'].astype(str)
mother_edu['<ISCED level 2>'] = mother_edu['<ISCED level 2>'].astype(str)
mother_edu['<ISCED level 3>'] = mother_edu['<ISCED level 3>'].astype(str)

In [44]:
# Change values from '1's and 'Yes's to the corresponding level to prepare for the melt
mother_edu['<ISCED level 0>'] = mother_edu['<ISCED level 0>'].replace(regex='1', value='Early childhood')
mother_edu['<ISCED level 1>'] = mother_edu['<ISCED level 1>'].replace(regex='1', value='Primary')
mother_edu['<ISCED level 2>'] = mother_edu['<ISCED level 2>'].replace(regex='1', value='Lower secondary')
mother_edu['<ISCED level 3>'] = mother_edu['<ISCED level 3>'].replace(regex='1', value='Upper secondary')
mother_edu['<ISCED level 4>'] = mother_edu['<ISCED level 4>'].replace(regex='Yes', value='Post-secondary')
mother_edu['<ISCED level 5>'] = mother_edu['<ISCED level 5>'].replace(regex='Yes', value='Short-cycle tertiary')
mother_edu['<ISCED level 6>'] = mother_edu['<ISCED level 6>'].replace(regex='Yes', value='Bachelors or equivalent')

In [45]:
# Test to see if the columns are all correct before melt
mother_edu.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,<ISCED level 6>,<ISCED level 5>,<ISCED level 5>,<ISCED level 4>,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,<ISCED level 1>,<ISCED level 2>,<ISCED level 3>,<ISCED level 3>,<ISCED level 0>
647682,Spain,16610,Male,<ISCED level 3A>,Bachelors or equivalent,NaN,NaN,NaN,5.0,5.0,...,513.71708,490.77214,540.50728,514.998833,Bachelors or equivalent,0,0,Upper secondary,0,0
4232972,Mexico,33350,Female,<ISCED level 3A>,No,No,No,NaN,NaN,NaN,...,431.77286,451.96640,347.85528,410.531513,Upper secondary,0,0,Upper secondary,0,0
1063608,Canada,18159,Male,<ISCED level 3A>,NaN,Short-cycle tertiary,NaN,NaN,7.0,0.0,...,729.17122,679.79060,788.26932,732.410380,Short-cycle tertiary,0,0,Upper secondary,0,0
557432,Brazil,16677,Male,<ISCED level 3A>,Bachelors or equivalent,Short-cycle tertiary,Short-cycle tertiary,No,5.0,2.0,...,329.80992,359.89468,345.15106,344.951887,Bachelors or equivalent,0,0,Upper secondary,0,0
848507,Netherlands,3568,Female,<ISCED level 3A>,Bachelors or equivalent,No,No,No,2.0,0.0,...,594.33712,560.23088,534.72584,563.097947,Bachelors or equivalent,0,0,Upper secondary,0,0
2197971,Italy,15422,Male,"<ISCED level 3B, 3C>",No,No,No,Post-secondary,NaN,NaN,...,555.54606,453.56186,477.93734,495.681753,Post-secondary,0,0,0,Upper secondary,0
715460,Ireland,2960,Female,<ISCED level 3A>,Bachelors or equivalent,Short-cycle tertiary,No,No,NaN,NaN,...,526.64744,540.53198,589.08992,552.089780,Bachelors or equivalent,0,0,Upper secondary,0,0
1802385,Mexico,30213,Female,<ISCED level 3A>,No,No,No,NaN,5.0,1.0,...,392.20284,417.49336,424.50580,411.400667,Short-cycle tertiary,0,0,Upper secondary,0,0
3181940,Italy,28411,Female,<ISCED level 2>,No,No,No,NaN,4.0,0.0,...,397.49962,404.30778,387.39278,396.400060,Lower secondary,0,Lower secondary,0,0,0
3183097,Italy,29568,Female,<ISCED level 2>,No,No,No,No,10.0,2.0,...,554.53342,584.37792,544.88996,561.267100,Lower secondary,0,Lower secondary,0,0,0

In [46]:
# Combine all columns into one variable column
mother_edu = pd.melt(mother_edu, 
                     id_vars=['Country','Student ID', 'Gender',
                            'Out-of-School Study Time - Homework',
                            'Out-of-School Study Time - Guided Homework',
                            'Out-of-School Study Time - Personal Tutor',
                            'Out-of-School Study Time - Commercial Company',
                            'Out-of-School Study Time - With Parent',
                            'Learning Time - Mathematics',
                            'Learning Time - Test Language',
                            'Learning Time - Science',
                            'Average Math Score',
                            'Average Reading Score',
                            'Average Science Score',
                            'Average Total Score',
                             'Education - Father'], var_name='Completed_edu - Mother', value_name='Education - Mother')

In [47]:
# Check to see if the columns from the melt were correctly created
mother_edu.sample(10)

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Completed_edu - Mother,Education - Mother
328959,Italy,9351,Female,15.0,0.0,0.0,0.0,0.0,250.0,150.0,100.0,510.28976,581.59782,483.81202,525.233200,Short-cycle tertiary,<ISCED level 0>,0
238467,Spain,17787,Female,16.0,1.0,0.0,4.0,0.0,225.0,225.0,270.0,652.52374,717.66312,666.11340,678.766753,Bachelors or equivalent,<ISCED level 3>,Upper secondary
306448,Spain,21364,Male,5.0,2.0,NaN,2.0,2.0,165.0,220.0,165.0,476.87336,429.66394,421.70834,442.748547,Bachelors or equivalent,<ISCED level 0>,0
236258,Mexico,33400,Male,4.0,0.0,NaN,NaN,NaN,NaN,75.0,NaN,425.61926,445.70282,375.55018,415.624087,Early childhood,<ISCED level 2>,0
14530,Canada,15632,Female,7.0,2.0,0.0,0.0,1.0,375.0,375.0,375.0,443.76850,508.60070,546.75494,499.708047,Short-cycle tertiary,Mother - Highest Schooling,<ISCED level 3A>
64426,Mexico,30293,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.35518,284.03070,317.73590,310.707260,Upper secondary,<ISCED level 6>,NaN
187683,Qatar,9179,Female,2.0,2.0,0.0,0.0,6.0,150.0,250.0,150.0,339.93612,393.98176,370.70124,368.206373,Short-cycle tertiary,<ISCED level 1>,0
335005,Spain,25123,Male,3.0,2.0,2.0,0.0,0.0,220.0,220.0,165.0,455.53046,381.94818,471.68966,436.389433,Lower secondary,<ISCED level 0>,0
239287,Norway,1468,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,581.71834,582.67506,605.50170,589.965033,Bachelors or equivalent,<ISCED level 3>,Upper secondary
280313,Italy,1802,Female,20.0,18.0,NaN,5.0,NaN,240.0,180.0,240.0,400.92696,459.59178,480.26858,446.929107,Bachelors or equivalent,<ISCED level 3>,0

In [48]:
# Remove all cases from melt where the education of the mother is either '0' or 'No'
mother_edu = mother_edu[(mother_edu['Education - Mother'] != '0')] 
mother_edu = mother_edu[(mother_edu['Education - Mother'] != 'No')]

In [49]:
# Check to see if 0's and No's have been removed
mother_edu.sample(70)

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Completed_edu - Mother,Education - Mother
144341,Canada,7610,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,447.19582,518.45016,479.80232,481.816100,Bachelors or equivalent,<ISCED level 4>,NaN
54159,Mexico,20725,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,482.87116,490.05038,487.72846,486.883333,Short-cycle tertiary,<ISCED level 6>,NaN
200627,Italy,30617,Male,4.0,NaN,0.0,0.0,2.0,240.0,360.0,180.0,460.90512,492.37602,504.69972,485.993620,Lower secondary,<ISCED level 1>,Primary
53434,Mexico,31842,Female,5.0,1.0,4.0,9.0,9.0,250.0,200.0,200.0,430.37078,442.19638,495.28164,455.949600,Short-cycle tertiary,<ISCED level 6>,NaN
48285,Canada,16400,Male,0.0,0.0,0.0,0.0,0.0,360.0,360.0,360.0,546.66612,508.01396,555.98656,536.888880,Short-cycle tertiary,<ISCED level 6>,NaN
249390,Jordan,5676,Female,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,403.65324,424.00668,440.17160,422.610507,Short-cycle tertiary,<ISCED level 3>,Upper secondary
42905,Iceland,1120,Female,4.0,0.0,3.0,0.0,3.0,240.0,200.0,120.0,380.98612,378.49274,355.22196,371.566940,Bachelors or equivalent,<ISCED level 6>,Bachelors or equivalent
95259,Italy,22573,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,597.14132,488.44648,599.90676,561.831520,Post-secondary,<ISCED level 5>,Short-cycle tertiary
109520,Australia,13789,Male,3.0,1.0,NaN,0.0,NaN,220.0,220.0,220.0,581.01730,573.13190,582.18946,578.779553,Bachelors or equivalent,<ISCED level 5>,NaN
119870,Spain,23147,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,524.85588,594.78336,570.62664,563.421960,Short-cycle tertiary,<ISCED level 5>,Short-cycle tertiary
59780,Canada,14978,Female,14.0,4.0,0.0,0.0,2.0,250.0,250.0,250.0,465.18928,499.70442,468.33272,477.742140,Short-cycle tertiary,<ISCED level 6>,NaN
111698,United Kingdom,11295,Male,4.0,1.0,1.0,1.0,1.0,200.0,200.0,200.0,495.41206,478.66276,530.06342,501.379413,Bachelors or equivalent,<ISCED level 5>,Short-cycle tertiary
257810,Spain,10082,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,409.02790,419.07826,419.47034,415.858833,Short-cycle tertiary,<ISCED level 3>,Upper secondary
252613,Canada,20642,Female,1.0,0.0,0.0,0.0,0.0,250.0,250.0,250.0,475.31548,451.48982,473.46138,466.755560,Short-cycle tertiary,<ISCED level 3>,Upper secondary
106751,Macao-China,4204,Male,5.0,2.0,0.0,0.0,0.0,320.0,280.0,80.0,565.36064,564.23030,645.50540,591.698780,Bachelors or equivalent,<ISCED level 5>,Short-cycle tertiary
239477,Mexico,32476,Female,10.0,0.0,0.0,0.0,0.0,300.0,165.0,275.0,512.39290,548.55452,555.98658,538.978000,Bachelors or equivalent,<ISCED level 3>,Upper secondary
265661,Mexico,32350,Female,6.0,2.0,0.0,0.0,3.0,180.0,160.0,160.0,383.79030,398.58876,405.76278,396.047280,Upper secondary,<ISCED level 3>,Upper secondary
124501,Spain,21646,Female,5.0,2.0,3.0,0.0,1.0,220.0,220.0,165.0,511.38028,521.78624,517.84782,517.004780,Short-cycle tertiary,<ISCED level 5>,NaN
3686,Qatar,7718,Male,2.0,2.0,2.0,2.0,2.0,225.0,180.0,225.0,390.72288,382.18876,330.51098,367.807540,Bachelors or equivalent,Mother - Highest Schooling,<ISCED level 3A>
256681,Mexico,28429,Female,6.0,NaN,2.0,0.0,5.0,250.0,200.0,250.0,532.48948,547.60134,504.79300,528.294607,Short-cycle tertiary,<ISCED level 3>,Upper secondary
102772,Luxembourg,2611,Female,7.0,1.0,2.0,0.0,0.0,200.0,150.0,200.0,626.97458,631.87764,635.52780,631.460007,Bachelors or equivalent,<ISCED level 5>,Short-cycle tertiary
19100,Mexico,23981,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,486.37638,482.46792,507.59044,492.144913,Short-cycle tertiary,Mother - Highest Schooling,<ISCED level 3A>
265459,Mexico,29156,Male,3.0,1.0,0.0,0.0,2.0,250.0,200.0,250.0,565.12696,585.00068,520.83178,556.986473,Upper secondary,<ISCED level 3>,Upper secondary
250257,United Kingdom,10421,Female,6.0,0.0,0.0,0.0,0.0,300.0,300.0,300.0,614.12214,671.67256,666.11340,650.636033,Short-cycle tertiary,<ISCED level 3>,Upper secondary
127369,Canada,17691,Male,4.0,4.0,0.0,0.0,4.0,300.0,300.0,300.0,556.87024,521.96778,594.31182,557.716613,Short-cycle tertiary,<ISCED level 5>,NaN
26344,Canada,16370,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,521.97384,510.58650,467.95972,500.173353,Post-secondary,Mother - Highest Schooling,NaN
31423,Italy,27868,Male,2.0,NaN,6.0,NaN,0.0,110.0,165.0,55.0,411.36470,440.97132,428.88848,427.074833,Lower secondary,Mother - Highest Schooling,<ISCED level 1>
82156,Canada,15425,Female,6.0,6.0,2.0,0.0,0.0,300.0,300.0,300.0,507.87508,521.86568,480.92130,503.554020,Short-cycle tertiary,<ISCED level 5>,Short-cycle tertiary
121165,Mexico,26448,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,290.70728,334.56736,344.40508,323.226573,Short-cycle tertiary,<ISCED level 5>,Short-cycle tertiary
255118,Spain,21026,Male,NaN,NaN,NaN,NaN,NaN,220.0,220.0,275.0,581.79622,530.70902,586.75866,566.421300,Short-cycle tertiary,<ISCED level 3>,Upper secondary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97154,Italy,24669,Female,3.0,2.0,2.0,0.0,2.0,180.0,240.0,360.0,457.71148,520.27708,475.79262,484.593727,Upper secondary,<ISCED level 5>,Short-cycle tertiary
71302,Brazil,17815,Male,6.0,1.0,0.0,0.0,0.0,250.0,150.0,300.0,612.25268,561.18290,612.96158,595.465720,Bachelors or equivalent,<ISCED level 5>,Short-cycle tertiary
150659,Mexico,33165,Male,1.0,NaN,1.0,0.0,NaN,200.0,225.0,200.0,360.03274,363.42324,336.75868,353.404887,Short-cycle tertiary,<ISCED level 4>,NaN
205586,Brazil,17724,Male,3.0,1.0,NaN,8.0,NaN,55.0,55.0,55.0,401.00482,400.15234,433.17796,411.445040,Bachelors or equivalent,<ISCED level 2>,Lower secondary
267397,Spain,25116,Male,1.0,NaN,0.0,2.0,0.0,400.0,200.0,400.0,495.87942,446.98594,498.26556,480.376973,Lower secondary,<ISCED level 3>,Upper secondary
28029,Italy,12922,Male,4.0,0.0,12.0,0.0,0.0,500.0,400.0,300.0,543.08306,543.86088,546.00896,544.317633,Post-secondary,Mother - Highest Schooling,<ISCED level 3A>
105790,Mexico,28712,Male,14.0,0.0,0.0,0.0,0.0,250.0,250.0,250.0,502.11092,478.10140,550.67140,510.294573,Bachelors or equivalent,<ISCED level 5>,Short-cycle tertiary
137573,Belgium,11,Male,3.0,0.0,0.0,0.0,1.0,400.0,250.0,350.0,595.66134,627.10280,574.63632,599.133487,Bachelors or equivalent,<ISCED level 4>,Post-secondary
287629,Spain,11979,Male,3.0,3.0,2.0,2.0,0.0,NaN,200.0,NaN,605.32016,583.31658,554.68108,581.105940,Short-cycle tertiary,<ISCED level 3>,Upper secondary
243293,Spain,6451,Female,5.0,0.0,0.0,0.0,0.0,200.0,200.0,150.0,471.49868,501.92850,540.97352,504.800233,Bachelors or equivalent,<ISCED level 3>,Upper secondary
50550,Australia,11554,Male,3.0,1.0,0.0,10.0,0.0,220.0,220.0,220.0,552.97554,453.16092,558.69080,521.609087,Short-cycle tertiary,<ISCED level 6>,NaN
20651,Mexico,17506,Female,4.0,2.0,0.0,0.0,2.0,250.0,200.0,250.0,360.57796,410.02682,394.94590,388.516893,Short-cycle tertiary,Mother - Highest Schooling,She did not complete <ISCED level 1>
78240,United Kingdom,7782,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,716.78612,717.48202,754.14026,729.469467,Bachelors or equivalent,<ISCED level 5>,Short-cycle tertiary
42167,Mexico,19882,Male,1.0,0.0,0.0,0.0,0.0,300.0,300.0,300.0,449.76630,474.09166,485.30398,469.720647,Bachelors or equivalent,<ISCED level 6>,Bachelors or equivalent
105080,Uruguay,3159,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,427.17714,466.07222,462.27152,451.840293,Bachelors or equivalent,<ISCED level 5>,Short-cycle tertiary
161105,Canada,17129,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,659.06682,688.21102,708.16862,685.148820,Short-cycle tertiary,<ISCED level 4>,NaN
89915,Mexico,32178,Female,10.0,5.0,0.0,0.0,5.0,250.0,200.0,200.0,371.56100,440.68718,383.19654,398.481573,Short-cycle tertiary,<ISCED level 5>,Short-cycle tertiary
252463,Canada,19934,Female,4.0,0.0,0.0,0.0,0.0,300.0,0.0,0.0,447.58530,490.64930,482.22680,473.487133,Short-cycle tertiary,<ISCED level 3>,Upper secondary
41658,Switzerland,9909,Male,17.0,10.0,0.0,0.0,2.0,200.0,160.0,280.0,720.05766,687.72986,758.70944,722.165653,Bachelors or equivalent,<ISCED level 6>,Bachelors or equivalent
14570,Canada,15850,Female,18.0,5.0,0.0,0.0,0.0,400.0,400.0,400.0,409.02786,447.27996,335.26668,397.191500,Short-cycle tertiary,Mother - Highest Schooling,<ISCED level 3A>
252417,Canada,19723,Female,10.0,6.0,0.0,4.0,0.0,300.0,300.0,300.0,512.78234,494.85916,514.77062,507.470707,Short-cycle tertiary,<ISCED level 3>,Upper secondary
271850,Brazil,18957,Male,1.0,0.0,0.0,6.0,0.0,200.0,200.0,500.0,547.28928,566.79652,565.77770,559.954500,Bachelors or equivalent,<ISCED level 3>,Upper secondary
259294,Mexico,30983,Male,15.0,0.0,0.0,0.0,0.0,225.0,180.0,180.0,496.03520,491.25330,524.37522,503.887907,Short-cycle tertiary,<ISCED level 3>,Upper secondary
75457,United Arab Emirates,1594,Male,18.0,10.0,0.0,0.0,4.0,240.0,360.0,360.0,640.91758,638.81118,724.67362,668.134127,Bachelors or equivalent,<ISCED level 5>,Short-cycle tertiary
260054,Spain,23647,Female,10.0,0.0,0.0,0.0,3.0,200.0,200.0,150.0,578.05734,616.70632,594.59158,596.451747,Short-cycle tertiary,<ISCED level 3>,Upper secondary
4024,Montenegro,3725,Female,2.0,0.0,2.0,0.0,0.0,180.0,180.0,90.0,431.30550,483.97708,460.22006,458.500880,Bachelors or equivalent,Mother - Highest Schooling,<ISCED level 3A>
1537,Spain,16784,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,549.62610,543.37974,571.93212,554.979320,Bachelors or equivalent,Mother - Highest Schooling,"<ISCED level 3B, 3C>"
244223,United Arab Emirates,5689,Female,12.0,1.0,1.0,0.0,1.0,240.0,240.0,300.0,414.86990,444.34102,444.74078,434.650567,Bachelors or equivalent,<ISCED level 3>,Upper secondary
136873,Canada,2818,Female,1.0,0.0,0.0,0.0,0.0,375.0,375.0,375.0,638.73656,629.25642,659.39948,642.464153,Bachelors or equivalent,<ISCED level 4>,NaN
73322,Qatar,4975,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,236.41534,181.78268,232.69302,216.963680,Bachelors or equivalent,<ISCED level 5>,NaN

In [50]:
# Remove 'Mother - Highest Schooling' since it is redundant
mother_edu = mother_edu[(mother_edu['Completed_edu - Mother'] != 'Mother - Highest Schooling')]

In [51]:
# Check to see if correct values remain
mother_edu['Education - Mother'].value_counts()

Upper secondary             25503
Short-cycle tertiary        21484
Post-secondary               5688
Bachelors or equivalent     5533
Lower secondary              5160
Primary                      1347
Early childhood               635
Name: Education - Mother, dtype: int64

In [52]:
# Completed_edu is no longer needed since it duplicates the information in 'Education - Mother'
mother_edu.drop(columns=['Completed_edu - Mother'], axis=1, inplace=True)

In [53]:
# Ensure the column has been dropped
mother_edu.sample(10)

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Education - Mother
238322,Qatar,7403,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408.17106,325.49126,331.07048,354.910933,Bachelors or equivalent,Upper secondary
263238,Canada,13933,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,643.41018,584.76010,649.98134,626.050540,Post-secondary,Upper secondary
257283,Mexico,17649,Female,3.0,2.0,0.0,10.0,0.0,250.0,250.0,250.0,400.53748,419.71742,432.89818,417.717693,Short-cycle tertiary,Upper secondary
234761,Italy,27030,Male,24.0,2.0,NaN,2.0,NaN,300.0,240.0,120.0,657.27530,550.27644,681.21970,629.590480,Lower secondary,Lower secondary
89397,Mexico,24244,Female,2.0,NaN,1.0,NaN,NaN,225.0,180.0,180.0,415.96042,497.40094,437.74712,450.369493,Short-cycle tertiary,NaN
65067,Mexico,32253,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,435.58966,441.21192,423.48006,433.427213,Lower secondary,NaN
141296,Mexico,12952,Female,2.0,0.0,0.0,0.0,0.0,250.0,200.0,200.0,558.81756,548.71338,538.17606,548.569000,Bachelors or equivalent,NaN
273415,Norway,1380,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321.70900,276.09142,324.17008,307.323500,Bachelors or equivalent,Upper secondary
163760,Canada,17949,Male,0.0,0.0,0.0,0.0,0.0,480.0,480.0,480.0,433.01916,406.40750,495.74784,445.058167,Upper secondary,NaN
160017,Italy,14547,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,621.28836,604.80872,627.22864,617.775240,Short-cycle tertiary,NaN

In [54]:
# Check if there are any duplicated values remaining
mother_edu['Student ID'].duplicated().sum()

63456

In [55]:
# mother_edu.replace(["NaN"], np.nan, inplace = True)
# mother_edu.dropna(inplace = True)

In [56]:
# Change datatypes into category, and put into order from lowest to highest
mother_edu['Education - Mother'] = mother_edu['Education - Mother'].astype('category')
mother_edu['Education - Mother'] = mother_edu['Education - Mother'].cat.set_categories(['Bachelors or equivalent', 
                                                                                        'Short-cycle tertiary', 
                                                                                        'Post-secondary', 
                                                                                        'Upper secondary',
                                                                                        'Lower secondary', 
                                                                                        'Primary', 
                                                                                        'Early childhood'], ordered=True)
mother_edu.sort_values(['Education - Mother'], inplace=True)

# Remove duplicates and keep last, which is the highest level of education for the student's father
mother_edu_clean = mother_edu.drop_duplicates(subset=['Student ID'], keep='first')

In [57]:
# Ensure there are no duplicates
mother_edu_clean['Student ID'].duplicated().sum()

0

In [58]:
# Check the size of the dataframe 
print(pisa['STIDSTD'].nunique())
print(mother_edu_clean.shape)

33806
(33731, 17)

In [59]:
# Update pisa_clean with final variable from mother and father education
pisa_clean = mother_edu_clean.copy()

In [60]:
mother_edu_clean.head()

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Education - Mother
59124,Italy,28303,Female,12.0,2.0,2.0,0.0,0.0,180.0,240.0,120.0,528.28324,520.91252,522.88326,524.026340,Short-cycle tertiary,Bachelors or equivalent
54941,Spain,16107,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,542.61568,566.02934,593.56582,567.403613,Short-cycle tertiary,Bachelors or equivalent
54932,Spain,16120,Male,6.0,5.0,6.0,6.0,0.0,180.0,180.0,180.0,592.70134,583.71758,652.49908,609.639333,Short-cycle tertiary,Bachelors or equivalent
60083,Canada,21391,Male,12.0,5.0,9.0,6.0,2.0,300.0,375.0,150.0,453.73888,434.23498,476.25886,454.744240,Post-secondary,Bachelors or equivalent
55113,Mexico,19312,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,368.13368,356.36616,325.94178,350.147207,Short-cycle tertiary,Bachelors or equivalent

### 6. Missing values in relevant columns 
('Mother Highest Schooling', 'Father Highest Schooling', 'How many books at home', 'Out-of-School Study Time - Homework', 'Out-of-School Study Time - Guided Homework', 'Out-of-School Study Time - Personal Tutor','Out-of-School Study Time - Commercial Company', 'Out-of-School Study Time - With Parent', 'Learning time (minutes per week)- Mathematics', 'Learning time (minutes per week)  - test language', 'Learning time (minutes per week) - Science')

Due to the amount of rows in this dataframe, we can comfortably remove the rows with missing values.

In [61]:
# Change string "NaN" to real nan value, and drop those values
pisa_clean.replace(["NaN"], np.nan, inplace = True)
pisa_clean.dropna(inplace = True)

In [62]:
# Check to see if null values correctly dropped
pisa_clean

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Education - Mother
59124,Italy,28303,Female,12.0,2.0,2.0,0.0,0.0,180.0,240.0,120.0,528.28324,520.91252,522.88326,524.026340,Short-cycle tertiary,Bachelors or equivalent
54932,Spain,16120,Male,6.0,5.0,6.0,6.0,0.0,180.0,180.0,180.0,592.70134,583.71758,652.49908,609.639333,Short-cycle tertiary,Bachelors or equivalent
60083,Canada,21391,Male,12.0,5.0,9.0,6.0,2.0,300.0,375.0,150.0,453.73888,434.23498,476.25886,454.744240,Post-secondary,Bachelors or equivalent
59844,Canada,21089,Female,8.0,7.0,0.0,0.0,4.0,450.0,450.0,450.0,669.27092,655.70692,678.14250,667.706780,Short-cycle tertiary,Bachelors or equivalent
55467,Mexico,33705,Male,1.0,1.0,0.0,1.0,0.0,240.0,180.0,300.0,331.83520,272.16190,374.80420,326.267100,Short-cycle tertiary,Bachelors or equivalent
52891,Mexico,23855,Male,6.0,1.0,0.0,0.0,0.0,180.0,150.0,90.0,594.88238,548.03102,598.69452,580.535973,Short-cycle tertiary,Bachelors or equivalent
55261,Mexico,19937,Female,10.0,10.0,0.0,0.0,0.0,250.0,200.0,250.0,505.92772,543.07376,510.76090,519.920793,Short-cycle tertiary,Bachelors or equivalent
59704,Canada,16670,Male,1.0,0.0,0.0,0.0,0.0,375.0,375.0,375.0,596.28448,593.98248,622.28646,604.184473,Short-cycle tertiary,Bachelors or equivalent
60109,Canada,20456,Male,3.0,1.0,0.0,0.0,0.0,350.0,350.0,350.0,520.26016,420.92272,465.44198,468.874953,Post-secondary,Bachelors or equivalent
59754,Canada,17706,Male,7.0,1.0,1.0,0.0,1.0,275.0,550.0,275.0,598.30972,573.05170,640.65650,604.005973,Short-cycle tertiary,Bachelors or equivalent
60012,Brazil,18103,Female,5.0,4.0,0.0,0.0,0.0,200.0,200.0,100.0,374.98832,455.14366,400.72734,410.286440,Short-cycle tertiary,Bachelors or equivalent
67212,Mexico,33178,Female,2.0,1.0,0.0,0.0,1.0,177.0,295.0,354.0,397.34382,405.73754,445.76650,416.282620,Early childhood,Bachelors or equivalent
59870,Canada,20652,Female,15.0,2.0,0.0,0.0,1.0,300.0,300.0,300.0,486.68794,445.53250,482.32002,471.513487,Short-cycle tertiary,Bachelors or equivalent
60100,Canada,21241,Male,0.0,0.0,0.0,0.0,0.0,0.0,70.0,70.0,542.53776,499.83412,532.58114,524.984340,Post-secondary,Bachelors or equivalent
59464,Italy,29438,Male,21.0,0.0,10.0,0.0,0.0,300.0,240.0,120.0,571.12480,569.84392,558.69078,566.553167,Short-cycle tertiary,Bachelors or equivalent
54967,Spain,15832,Female,20.0,10.0,0.0,0.0,4.0,240.0,220.0,0.0,471.73236,542.83546,460.59306,491.720293,Short-cycle tertiary,Bachelors or equivalent
59266,Italy,23518,Female,5.0,0.0,0.0,2.0,0.0,300.0,240.0,120.0,486.06480,504.62916,487.26224,492.652067,Short-cycle tertiary,Bachelors or equivalent
60051,Canada,18877,Male,2.0,0.0,0.0,0.0,0.0,360.0,360.0,360.0,524.46644,432.39054,515.51660,490.791193,Post-secondary,Bachelors or equivalent
59821,Canada,15554,Female,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,531.08740,516.06720,573.33086,540.161820,Short-cycle tertiary,Bachelors or equivalent
59657,Canada,11518,Male,21.0,5.0,0.0,0.0,1.0,375.0,375.0,375.0,583.19832,509.69806,582.46924,558.455207,Short-cycle tertiary,Bachelors or equivalent
52913,Mexico,23913,Male,6.0,1.0,0.0,0.0,0.0,200.0,480.0,100.0,446.02740,460.29822,479.05632,461.793980,Short-cycle tertiary,Bachelors or equivalent
59254,Italy,23585,Male,5.0,0.0,0.0,0.0,0.0,275.0,220.0,110.0,563.33542,555.48910,525.77394,548.199487,Short-cycle tertiary,Bachelors or equivalent
54982,Spain,12270,Female,7.0,0.0,1.0,0.0,0.0,165.0,165.0,330.0,570.42374,623.93454,539.10854,577.822273,Short-cycle tertiary,Bachelors or equivalent
59975,Brazil,14613,Female,6.0,0.0,0.0,0.0,0.0,300.0,200.0,300.0,595.19394,612.81418,583.96120,597.323107,Short-cycle tertiary,Bachelors or equivalent
59981,Brazil,16413,Female,3.0,3.0,2.0,5.0,1.0,225.0,180.0,180.0,358.24116,386.99184,361.18986,368.807620,Short-cycle tertiary,Bachelors or equivalent
54978,Spain,7516,Female,7.0,1.0,0.0,0.0,4.0,200.0,150.0,150.0,493.85418,497.08320,507.21744,499.384940,Short-cycle tertiary,Bachelors or equivalent
55615,Mexico,24781,Male,2.0,1.0,0.0,0.0,0.0,200.0,150.0,250.0,451.16840,438.16454,448.28424,445.872393,Short-cycle tertiary,Bachelors or equivalent
59840,Canada,21181,Male,2.0,1.0,2.0,0.0,1.0,375.0,375.0,375.0,463.63140,410.65780,520.92506,465.071420,Short-cycle tertiary,Bachelors or equivalent
59974,Canada,19868,Female,5.0,0.0,0.0,0.0,0.0,300.0,320.0,300.0,535.60522,523.05716,499.66432,519.442233,Short-cycle tertiary,Bachelors or equivalent
59483,Italy,29924,Male,1.0,0.0,0.0,0.0,0.0,200.0,200.0,50.0,428.03394,425.17302,445.39352,432.866827,Short-cycle tertiary,Bachelors or equivalent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324905,Mexico,17506,Female,4.0,2.0,0.0,0.0,2.0,250.0,200.0,250.0,360.57796,410.02682,394.94590,388.516893,Short-cycle tertiary,Early childhood
324827,Mexico,21947,Male,2.0,2.0,3.0,0.0,0.0,250.0,200.0,250.0,448.75372,440.57038,460.40656,449.910220,Short-cycle tertiary,Early childhood
325062,Mexico,19471,Male,2.0,1.0,0.0,0.0,1.0,550.0,120.0,100.0,356.76118,299.42802,310.64900,322.279400,Short-cycle tertiary,Early childhood
325563,Mexico,19433,Female,3.0,1.0,1.0,1.0,1.0,200.0,200.0,200.0,392.12494,460.06836,411.17120,421.121500,Short-cycle tertiary,Early childhood
325646,Mexico,20912,Male,5.0,2.0,0.0,0.0,3.0,200.0,200.0,200.0,426.47610,471.68586,446.23276,448.131573,Short-cycle tertiary,Early childhood
325667,Mexico,19741,Female,16.0,6.0,0.0,0.0,0.0,200.0,200.0,320.0,362.75900,411.37714,400.44760,391.527913,Short-cycle tertiary,Early childhood
325861,Mexico,17174,Female,3.0,3.0,0.0,0.0,2.0,200.0,200.0,300.0,445.63794,438.70144,441.38382,441.907733,Short-cycle tertiary,Early childhood
324812,Mexico,21209,Female,2.0,2.0,1.0,0.0,3.0,100.0,45.0,150.0,247.70992,284.36696,308.97052,280.349133,Short-cycle tertiary,Early childhood
323644,Mexico,29825,Female,7.0,1.0,0.0,0.0,0.0,250.0,250.0,300.0,394.85120,372.93254,373.31220,380.365313,Short-cycle tertiary,Early childhood
323912,Mexico,31700,Male,4.0,0.0,0.0,0.0,0.0,300.0,250.0,165.0,536.38418,527.98238,546.56844,536.978333,Short-cycle tertiary,Early childhood
324083,Mexico,26583,Male,4.0,2.0,0.0,0.0,0.0,220.0,220.0,220.0,369.92522,382.02838,393.82692,381.926840,Short-cycle tertiary,Early childhood
324765,Mexico,22491,Female,14.0,0.0,0.0,0.0,0.0,300.0,180.0,300.0,463.94300,563.01094,516.91534,514.623093,Short-cycle tertiary,Early childhood
324478,Mexico,15477,Male,5.0,0.0,4.0,4.0,0.0,250.0,250.0,200.0,434.18756,415.71006,384.12906,411.342227,Short-cycle tertiary,Early childhood
324579,Mexico,10242,Male,1.0,0.0,0.0,0.0,0.0,150.0,200.0,200.0,492.84158,538.00672,511.32042,514.056240,Short-cycle tertiary,Early childhood
324616,Mexico,20470,Male,28.0,10.0,0.0,0.0,4.0,225.0,180.0,225.0,431.38338,450.35408,418.07162,433.269693,Short-cycle tertiary,Early childhood
325992,Mexico,33388,Male,8.0,2.0,0.0,0.0,2.0,200.0,150.0,150.0,336.66458,412.02112,397.74338,382.143027,Short-cycle tertiary,Early childhood
326823,Mexico,30408,Male,2.0,0.0,0.0,0.0,1.0,450.0,450.0,180.0,418.84250,444.01872,459.10108,440.654100,Short-cycle tertiary,Early childhood
326904,Mexico,26241,Female,2.0,1.0,1.0,0.0,0.0,480.0,600.0,600.0,312.43962,358.07894,289.94776,320.155440,Short-cycle tertiary,Early childhood
326781,Mexico,30320,Male,12.0,4.0,0.0,0.0,2.0,300.0,250.0,250.0,429.98132,427.41846,446.23276,434.544180,Short-cycle tertiary,Early childhood
326947,Mexico,26173,Female,2.0,1.0,1.0,1.0,1.0,75.0,75.0,75.0,408.79420,422.41806,386.36702,405.859760,Short-cycle tertiary,Early childhood
326987,Mexico,21819,Female,3.0,2.0,0.0,0.0,0.0,135.0,135.0,180.0,330.19942,370.78790,335.91944,345.635587,Short-cycle tertiary,Early childhood
327033,Mexico,22264,Female,3.0,1.0,0.0,0.0,0.0,225.0,180.0,225.0,512.47080,546.96588,486.79596,515.410880,Short-cycle tertiary,Early childhood
326643,Mexico,32731,Male,1.0,0.0,0.0,0.0,1.0,180.0,225.0,180.0,442.13274,409.29450,451.08168,434.169640,Short-cycle tertiary,Early childhood
326067,Mexico,24553,Male,1.0,1.0,1.0,1.0,1.0,250.0,250.0,250.0,441.04222,452.92034,418.25812,437.406893,Short-cycle tertiary,Early childhood
326093,Mexico,29303,Female,3.0,3.0,3.0,1.0,5.0,480.0,480.0,480.0,372.41784,397.95332,379.18686,383.186007,Short-cycle tertiary,Early childhood
326114,Mexico,29342,Male,10.0,2.0,0.0,0.0,0.0,250.0,200.0,250.0,408.17106,401.59586,396.62438,402.130433,Short-cycle tertiary,Early childhood
326722,Mexico,32570,Female,12.0,8.0,2.0,7.0,3.0,180.0,135.0,90.0,395.78596,414.79270,390.93622,400.504960,Short-cycle tertiary,Early childhood
326354,Mexico,27534,Male,2.0,2.0,0.0,0.0,0.0,300.0,220.0,165.0,402.71848,371.92386,350.74598,375.129440,Short-cycle tertiary,Early childhood
326441,Mexico,28755,Female,1.0,0.0,0.0,3.0,1.0,200.0,50.0,150.0,247.86572,255.29522,217.77322,240.311387,Short-cycle tertiary,Early childhood
326633,Mexico,32811,Male,12.0,8.0,0.0,0.0,5.0,225.0,135.0,720.0,369.06838,396.94456,320.90636,362.306433,Short-cycle tertiary,Early childhood

In [63]:
# Confirm with smaller shape of dataframe
pisa_clean.shape

(15167, 17)

### 7. Create a total for Out-of-School Study Time and Learning time (minutes per week)

In [64]:
# Create total of Out-of-School Study Time
pisa_clean['Out-of-School Study Time - Total'] = pisa_clean['Out-of-School Study Time - Homework'] + pisa_clean['Out-of-School Study Time - Guided Homework'] + pisa_clean['Out-of-School Study Time - Personal Tutor'] + pisa_clean['Out-of-School Study Time - Commercial Company'] + pisa_clean['Out-of-School Study Time - With Parent']

# Create total of Learning time (minutes per week)
pisa_clean['Learning Time - Total'] = pisa_clean['Learning Time - Mathematics'] + pisa_clean['Learning Time - Test Language'] + pisa_clean['Learning Time - Science']

In [65]:
list(pisa_clean)

['Country',
 'Student ID',
 'Gender',
 'Out-of-School Study Time - Homework',
 'Out-of-School Study Time - Guided Homework',
 'Out-of-School Study Time - Personal Tutor',
 'Out-of-School Study Time - Commercial Company',
 'Out-of-School Study Time - With Parent',
 'Learning Time - Mathematics',
 'Learning Time - Test Language',
 'Learning Time - Science',
 'Average Math Score',
 'Average Reading Score',
 'Average Science Score',
 'Average Total Score',
 'Education - Father',
 'Education - Mother',
 'Out-of-School Study Time - Total',
 'Learning Time - Total']

<a id='assessing2'></a>
### Final Assessment

In this section, we will do the preliminary visual and programmatic assessment of the pisa datasets to determine whether or not it holds any major quality or tidiness issues.

In [66]:
pisa_clean

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Education - Mother,Out-of-School Study Time - Total,Learning Time - Total
59124,Italy,28303,Female,12.0,2.0,2.0,0.0,0.0,180.0,240.0,120.0,528.28324,520.91252,522.88326,524.026340,Short-cycle tertiary,Bachelors or equivalent,16.0,540.0
54932,Spain,16120,Male,6.0,5.0,6.0,6.0,0.0,180.0,180.0,180.0,592.70134,583.71758,652.49908,609.639333,Short-cycle tertiary,Bachelors or equivalent,23.0,540.0
60083,Canada,21391,Male,12.0,5.0,9.0,6.0,2.0,300.0,375.0,150.0,453.73888,434.23498,476.25886,454.744240,Post-secondary,Bachelors or equivalent,34.0,825.0
59844,Canada,21089,Female,8.0,7.0,0.0,0.0,4.0,450.0,450.0,450.0,669.27092,655.70692,678.14250,667.706780,Short-cycle tertiary,Bachelors or equivalent,19.0,1350.0
55467,Mexico,33705,Male,1.0,1.0,0.0,1.0,0.0,240.0,180.0,300.0,331.83520,272.16190,374.80420,326.267100,Short-cycle tertiary,Bachelors or equivalent,3.0,720.0
52891,Mexico,23855,Male,6.0,1.0,0.0,0.0,0.0,180.0,150.0,90.0,594.88238,548.03102,598.69452,580.535973,Short-cycle tertiary,Bachelors or equivalent,7.0,420.0
55261,Mexico,19937,Female,10.0,10.0,0.0,0.0,0.0,250.0,200.0,250.0,505.92772,543.07376,510.76090,519.920793,Short-cycle tertiary,Bachelors or equivalent,20.0,700.0
59704,Canada,16670,Male,1.0,0.0,0.0,0.0,0.0,375.0,375.0,375.0,596.28448,593.98248,622.28646,604.184473,Short-cycle tertiary,Bachelors or equivalent,1.0,1125.0
60109,Canada,20456,Male,3.0,1.0,0.0,0.0,0.0,350.0,350.0,350.0,520.26016,420.92272,465.44198,468.874953,Post-secondary,Bachelors or equivalent,4.0,1050.0
59754,Canada,17706,Male,7.0,1.0,1.0,0.0,1.0,275.0,550.0,275.0,598.30972,573.05170,640.65650,604.005973,Short-cycle tertiary,Bachelors or equivalent,10.0,1100.0
60012,Brazil,18103,Female,5.0,4.0,0.0,0.0,0.0,200.0,200.0,100.0,374.98832,455.14366,400.72734,410.286440,Short-cycle tertiary,Bachelors or equivalent,9.0,500.0
67212,Mexico,33178,Female,2.0,1.0,0.0,0.0,1.0,177.0,295.0,354.0,397.34382,405.73754,445.76650,416.282620,Early childhood,Bachelors or equivalent,4.0,826.0
59870,Canada,20652,Female,15.0,2.0,0.0,0.0,1.0,300.0,300.0,300.0,486.68794,445.53250,482.32002,471.513487,Short-cycle tertiary,Bachelors or equivalent,18.0,900.0
60100,Canada,21241,Male,0.0,0.0,0.0,0.0,0.0,0.0,70.0,70.0,542.53776,499.83412,532.58114,524.984340,Post-secondary,Bachelors or equivalent,0.0,140.0
59464,Italy,29438,Male,21.0,0.0,10.0,0.0,0.0,300.0,240.0,120.0,571.12480,569.84392,558.69078,566.553167,Short-cycle tertiary,Bachelors or equivalent,31.0,660.0
54967,Spain,15832,Female,20.0,10.0,0.0,0.0,4.0,240.0,220.0,0.0,471.73236,542.83546,460.59306,491.720293,Short-cycle tertiary,Bachelors or equivalent,34.0,460.0
59266,Italy,23518,Female,5.0,0.0,0.0,2.0,0.0,300.0,240.0,120.0,486.06480,504.62916,487.26224,492.652067,Short-cycle tertiary,Bachelors or equivalent,7.0,660.0
60051,Canada,18877,Male,2.0,0.0,0.0,0.0,0.0,360.0,360.0,360.0,524.46644,432.39054,515.51660,490.791193,Post-secondary,Bachelors or equivalent,2.0,1080.0
59821,Canada,15554,Female,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,531.08740,516.06720,573.33086,540.161820,Short-cycle tertiary,Bachelors or equivalent,6.0,0.0
59657,Canada,11518,Male,21.0,5.0,0.0,0.0,1.0,375.0,375.0,375.0,583.19832,509.69806,582.46924,558.455207,Short-cycle tertiary,Bachelors or equivalent,27.0,1125.0
52913,Mexico,23913,Male,6.0,1.0,0.0,0.0,0.0,200.0,480.0,100.0,446.02740,460.29822,479.05632,461.793980,Short-cycle tertiary,Bachelors or equivalent,7.0,780.0
59254,Italy,23585,Male,5.0,0.0,0.0,0.0,0.0,275.0,220.0,110.0,563.33542,555.48910,525.77394,548.199487,Short-cycle tertiary,Bachelors or equivalent,5.0,605.0
54982,Spain,12270,Female,7.0,0.0,1.0,0.0,0.0,165.0,165.0,330.0,570.42374,623.93454,539.10854,577.822273,Short-cycle tertiary,Bachelors or equivalent,8.0,660.0
59975,Brazil,14613,Female,6.0,0.0,0.0,0.0,0.0,300.0,200.0,300.0,595.19394,612.81418,583.96120,597.323107,Short-cycle tertiary,Bachelors or equivalent,6.0,800.0
59981,Brazil,16413,Female,3.0,3.0,2.0,5.0,1.0,225.0,180.0,180.0,358.24116,386.99184,361.18986,368.807620,Short-cycle tertiary,Bachelors or equivalent,14.0,585.0
54978,Spain,7516,Female,7.0,1.0,0.0,0.0,4.0,200.0,150.0,150.0,493.85418,497.08320,507.21744,499.384940,Short-cycle tertiary,Bachelors or equivalent,12.0,500.0
55615,Mexico,24781,Male,2.0,1.0,0.0,0.0,0.0,200.0,150.0,250.0,451.16840,438.16454,448.28424,445.872393,Short-cycle tertiary,Bachelors or equivalent,3.0,600.0
59840,Canada,21181,Male,2.0,1.0,2.0,0.0,1.0,375.0,375.0,375.0,463.63140,410.65780,520.92506,465.071420,Short-cycle tertiary,Bachelors or equivalent,6.0,1125.0
59974,Canada,19868,Female,5.0,0.0,0.0,0.0,0.0,300.0,320.0,300.0,535.60522,523.05716,499.66432,519.442233,Short-cycle tertiary,Bachelors or equivalent,5.0,920.0
59483,Italy,29924,Male,1.0,0.0,0.0,0.0,0.0,200.0,200.0,50.0,428.03394,425.17302,445.39352,432.866827,Short-cycle tertiary,Bachelors or equivalent,1.0,450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324905,Mexico,17506,Female,4.0,2.0,0.0,0.0,2.0,250.0,200.0,250.0,360.57796,410.02682,394.94590,388.516893,Short-cycle tertiary,Early childhood,8.0,700.0
324827,Mexico,21947,Male,2.0,2.0,3.0,0.0,0.0,250.0,200.0,250.0,448.75372,440.57038,460.40656,449.910220,Short-cycle tertiary,Early childhood,7.0,700.0
325062,Mexico,19471,Male,2.0,1.0,0.0,0.0,1.0,550.0,120.0,100.0,356.76118,299.42802,310.64900,322.279400,Short-cycle tertiary,Early childhood,4.0,770.0
325563,Mexico,19433,Female,3.0,1.0,1.0,1.0,1.0,200.0,200.0,200.0,392.12494,460.06836,411.17120,421.121500,Short-cycle tertiary,Early childhood,7.0,600.0
325646,Mexico,20912,Male,5.0,2.0,0.0,0.0,3.0,200.0,200.0,200.0,426.47610,471.68586,446.23276,448.131573,Short-cycle tertiary,Early childhood,10.0,600.0
325667,Mexico,19741,Female,16.0,6.0,0.0,0.0,0.0,200.0,200.0,320.0,362.75900,411.37714,400.44760,391.527913,Short-cycle tertiary,Early childhood,22.0,720.0
325861,Mexico,17174,Female,3.0,3.0,0.0,0.0,2.0,200.0,200.0,300.0,445.63794,438.70144,441.38382,441.907733,Short-cycle tertiary,Early childhood,8.0,700.0
324812,Mexico,21209,Female,2.0,2.0,1.0,0.0,3.0,100.0,45.0,150.0,247.70992,284.36696,308.97052,280.349133,Short-cycle tertiary,Early childhood,8.0,295.0
323644,Mexico,29825,Female,7.0,1.0,0.0,0.0,0.0,250.0,250.0,300.0,394.85120,372.93254,373.31220,380.365313,Short-cycle tertiary,Early childhood,8.0,800.0
323912,Mexico,31700,Male,4.0,0.0,0.0,0.0,0.0,300.0,250.0,165.0,536.38418,527.98238,546.56844,536.978333,Short-cycle tertiary,Early childhood,4.0,715.0
324083,Mexico,26583,Male,4.0,2.0,0.0,0.0,0.0,220.0,220.0,220.0,369.92522,382.02838,393.82692,381.926840,Short-cycle tertiary,Early childhood,6.0,660.0
324765,Mexico,22491,Female,14.0,0.0,0.0,0.0,0.0,300.0,180.0,300.0,463.94300,563.01094,516.91534,514.623093,Short-cycle tertiary,Early childhood,14.0,780.0
324478,Mexico,15477,Male,5.0,0.0,4.0,4.0,0.0,250.0,250.0,200.0,434.18756,415.71006,384.12906,411.342227,Short-cycle tertiary,Early childhood,13.0,700.0
324579,Mexico,10242,Male,1.0,0.0,0.0,0.0,0.0,150.0,200.0,200.0,492.84158,538.00672,511.32042,514.056240,Short-cycle tertiary,Early childhood,1.0,550.0
324616,Mexico,20470,Male,28.0,10.0,0.0,0.0,4.0,225.0,180.0,225.0,431.38338,450.35408,418.07162,433.269693,Short-cycle tertiary,Early childhood,42.0,630.0
325992,Mexico,33388,Male,8.0,2.0,0.0,0.0,2.0,200.0,150.0,150.0,336.66458,412.02112,397.74338,382.143027,Short-cycle tertiary,Early childhood,12.0,500.0
326823,Mexico,30408,Male,2.0,0.0,0.0,0.0,1.0,450.0,450.0,180.0,418.84250,444.01872,459.10108,440.654100,Short-cycle tertiary,Early childhood,3.0,1080.0
326904,Mexico,26241,Female,2.0,1.0,1.0,0.0,0.0,480.0,600.0,600.0,312.43962,358.07894,289.94776,320.155440,Short-cycle tertiary,Early childhood,4.0,1680.0
326781,Mexico,30320,Male,12.0,4.0,0.0,0.0,2.0,300.0,250.0,250.0,429.98132,427.41846,446.23276,434.544180,Short-cycle tertiary,Early childhood,18.0,800.0
326947,Mexico,26173,Female,2.0,1.0,1.0,1.0,1.0,75.0,75.0,75.0,408.79420,422.41806,386.36702,405.859760,Short-cycle tertiary,Early childhood,6.0,225.0
326987,Mexico,21819,Female,3.0,2.0,0.0,0.0,0.0,135.0,135.0,180.0,330.19942,370.78790,335.91944,345.635587,Short-cycle tertiary,Early childhood,5.0,450.0
327033,Mexico,22264,Female,3.0,1.0,0.0,0.0,0.0,225.0,180.0,225.0,512.47080,546.96588,486.79596,515.410880,Short-cycle tertiary,Early childhood,4.0,630.0
326643,Mexico,32731,Male,1.0,0.0,0.0,0.0,1.0,180.0,225.0,180.0,442.13274,409.29450,451.08168,434.169640,Short-cycle tertiary,Early childhood,2.0,585.0
326067,Mexico,24553,Male,1.0,1.0,1.0,1.0,1.0,250.0,250.0,250.0,441.04222,452.92034,418.25812,437.406893,Short-cycle tertiary,Early childhood,5.0,750.0
326093,Mexico,29303,Female,3.0,3.0,3.0,1.0,5.0,480.0,480.0,480.0,372.41784,397.95332,379.18686,383.186007,Short-cycle tertiary,Early childhood,15.0,1440.0
326114,Mexico,29342,Male,10.0,2.0,0.0,0.0,0.0,250.0,200.0,250.0,408.17106,401.59586,396.62438,402.130433,Short-cycle tertiary,Early childhood,12.0,700.0
326722,Mexico,32570,Female,12.0,8.0,2.0,7.0,3.0,180.0,135.0,90.0,395.78596,414.79270,390.93622,400.504960,Short-cycle tertiary,Early childhood,32.0,405.0
326354,Mexico,27534,Male,2.0,2.0,0.0,0.0,0.0,300.0,220.0,165.0,402.71848,371.92386,350.74598,375.129440,Short-cycle tertiary,Early childhood,4.0,685.0
326441,Mexico,28755,Female,1.0,0.0,0.0,3.0,1.0,200.0,50.0,150.0,247.86572,255.29522,217.77322,240.311387,Short-cycle tertiary,Early childhood,5.0,400.0
326633,Mexico,32811,Male,12.0,8.0,0.0,0.0,5.0,225.0,135.0,720.0,369.06838,396.94456,320.90636,362.306433,Short-cycle tertiary,Early childhood,25.0,1080.0

In [67]:
pisa_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15167 entries, 59124 to 326633
Data columns (total 19 columns):
Country                                          15167 non-null object
Student ID                                       15167 non-null int64
Gender                                           15167 non-null object
Out-of-School Study Time - Homework              15167 non-null float64
Out-of-School Study Time - Guided Homework       15167 non-null float64
Out-of-School Study Time - Personal Tutor        15167 non-null float64
Out-of-School Study Time - Commercial Company    15167 non-null float64
Out-of-School Study Time - With Parent           15167 non-null float64
Learning Time - Mathematics                      15167 non-null float64
Learning Time - Test Language                    15167 non-null float64
Learning Time - Science                          15167 non-null float64
Average Math Score                               15167 non-null float64
Average Reading Score                            15167 non-null float64
Average Science Score                            15167 non-null float64
Average Total Score                              15167 non-null float64
Education - Father                               15167 non-null category
Education - Mother                               15167 non-null category
Out-of-School Study Time - Total                 15167 non-null float64
Learning Time - Total                            15167 non-null float64
dtypes: category(2), float64(14), int64(1), object(2)
memory usage: 2.1+ MB

In [68]:
pisa_clean.shape

(15167, 19)

In [69]:
pisa_clean.duplicated().sum()

0

In [70]:
pisa_clean['Student ID'].duplicated().sum()

0

In [71]:
pisa_clean.shape

(15167, 19)

In [72]:
pisa.shape

(485490, 636)

In [73]:
pisa_clean.head()

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Education - Mother,Out-of-School Study Time - Total,Learning Time - Total
59124,Italy,28303,Female,12.0,2.0,2.0,0.0,0.0,180.0,240.0,120.0,528.28324,520.91252,522.88326,524.026340,Short-cycle tertiary,Bachelors or equivalent,16.0,540.0
54932,Spain,16120,Male,6.0,5.0,6.0,6.0,0.0,180.0,180.0,180.0,592.70134,583.71758,652.49908,609.639333,Short-cycle tertiary,Bachelors or equivalent,23.0,540.0
60083,Canada,21391,Male,12.0,5.0,9.0,6.0,2.0,300.0,375.0,150.0,453.73888,434.23498,476.25886,454.744240,Post-secondary,Bachelors or equivalent,34.0,825.0
59844,Canada,21089,Female,8.0,7.0,0.0,0.0,4.0,450.0,450.0,450.0,669.27092,655.70692,678.14250,667.706780,Short-cycle tertiary,Bachelors or equivalent,19.0,1350.0
55467,Mexico,33705,Male,1.0,1.0,0.0,1.0,0.0,240.0,180.0,300.0,331.83520,272.16190,374.80420,326.267100,Short-cycle tertiary,Bachelors or equivalent,3.0,720.0

In [77]:
pisa_clean['Education - Mother'].value_counts()

Short-cycle tertiary        7086
Upper secondary             2338
Bachelors or equivalent    2303
Lower secondary             1582
Post-secondary              1150
Primary                      489
Early childhood              219
Name: Education - Mother, dtype: int64

<a id='sav'></a>
## Store

In [74]:
# Store the clean DataFrame in a CSV file
pisa_clean.to_csv("pisa_df.csv", index=False, encoding='utf8')