# Wrangle Pisa 2012
#### By Gabriela Sikora

Throughout this notebook, I will be assessing and cleaning data from the PISA 2012 dataset. The purpose of this wrangling is to have a usable dataframe for the complementary exploration notebook, wherein I will be exploring the cleaned dataframe and drawing conclusions from the plots.


### Table of Contents

<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
    <ul>
    <li><a href="#gathering">Gathering Data</a></li>
    <li><a href="#assessing1">Initial Assessment</a></li>
        <ul>
          <li><a href="#issues1">Identified Issues</a></li>
        </ul>
    <li><a href="#cleaning1">Cleaning Data</a></li>
    <li><a href="#assessing2">Final Assessment</a></li>
    </ul>
<li><a href="#sav">Store</a></li>
<li><a href="#conclusion">Conclusion</a></li>
<li><a href="#references">References</a></li>    
</ul>

<a id='intro'></a>
## Introduction



To begin, we first need to import all the relevant libraries:
#### Import

In [1]:
# import all packages
import numpy as np
import pandas as pd

<a id='wrangling'></a>
## Data Wrangling

In this section of the report, we will load in the data, check it for cleanliness, and then trim and clean the datasets for analysis.

<a id='gathering'></a>
### Gathering Data

Unfortunately the Pisa dataset is too large to be uploaded to github, but if you would like to work with it yourself then place follow this link: https://s3.amazonaws.com/udacity-hosted-downloads/ud507/pisa2012.csv.zip

In [2]:
# Encoding help found here: https://stackoverflow.com/questions/30462807/encoding-error-in-panda-read-csv

# Load in the Pisa dataframe
pisa = pd.read_csv('pisa2012.csv', encoding="cp1252", sep=',')

# Load in the Pisa dictionary
pisa_dict = pd.read_csv('pisadict2012.csv', encoding="cp1252", sep=',')

/Users/gabriela/Desktop/Code/myenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<a id='assessing1'></a>
### First Assessment

In this section, we will do the preliminary visual and programmatic assessment of the pisa datasets to determine whether or not it holds any major quality or tidiness issues.

In [3]:
# Quick overview of the entire dataframe
pisa

,Unnamed: 0,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
0,1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
1,2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
3,4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
5,6,Albania,80000,ALB0006,Non-OECD,Albania,1,6,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
6,7,Albania,80000,ALB0006,Non-OECD,Albania,1,7,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
7,8,Albania,80000,ALB0006,Non-OECD,Albania,1,8,10,1.0,...,14.4599,14.6374,15.8728,15.8728,5.2248,15.2579,19,1,0.2322,22NOV13
8,9,Albania,80000,ALB0006,Non-OECD,Albania,1,9,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
9,10,Albania,80000,ALB0005,Non-OECD,Albania,2,10,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
10,11,Albania,80000,ALB0005,Non-OECD,Albania,2,11,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
11,12,Albania,80000,ALB0005,Non-OECD,Albania,2,12,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
12,13,Albania,80000,ALB0005,Non-OECD,Albania,2,13,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
13,14,Albania,80000,ALB0005,Non-OECD,Albania,2,14,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
14,15,Albania,80000,ALB0005,Non-OECD,Albania,2,15,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
15,16,Albania,80000,ALB0005,Non-OECD,Albania,2,16,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
16,17,Albania,80000,ALB0005,Non-OECD,Albania,2,17,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
17,18,Albania,80000,ALB0005,Non-OECD,Albania,2,18,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
18,19,Albania,80000,ALB0005,Non-OECD,Albania,2,19,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
19,20,Albania,80000,ALB0005,Non-OECD,Albania,2,20,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
20,21,Albania,80000,ALB0005,Non-OECD,Albania,2,21,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
21,22,Albania,80000,ALB0005,Non-OECD,Albania,2,22,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
22,23,Albania,80000,ALB0005,Non-OECD,Albania,2,23,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
23,24,Albania,80000,ALB0005,Non-OECD,Albania,2,24,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
24,25,Albania,80000,ALB0005,Non-OECD,Albania,2,25,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
25,26,Albania,80000,ALB0005,Non-OECD,Albania,2,26,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
26,27,Albania,80000,ALB0005,Non-OECD,Albania,2,27,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
27,28,Albania,80000,ALB0005,Non-OECD,Albania,2,28,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
28,29,Albania,80000,ALB0005,Non-OECD,Albania,2,29,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
29,30,Albania,80000,ALB0005,Non-OECD,Albania,2,30,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485460,485461,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4930,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485461,485462,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4931,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485462,485463,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4932,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485463,485464,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4933,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485464,485465,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4934,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485465,485466,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4935,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485466,485467,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4936,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485467,485468,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4937,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485468,485469,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4938,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485469,485470,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4939,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485470,485471,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4940,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485471,485472,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4941,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485472,485473,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4942,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485473,485474,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4943,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485474,485475,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4944,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485475,485476,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4945,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485476,485477,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4946,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485477,485478,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4947,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485478,485479,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4948,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485479,485480,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4949,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485480,485481,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4950,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485481,485482,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4951,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485482,485483,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4952,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485483,485484,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4953,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485484,485485,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4954,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485485,485486,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4955,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485486,485487,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4956,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485487,485488,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4957,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485488,485489,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4958,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485489,485490,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4959,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13

In [4]:
# Check how many entries and types of data
pisa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Columns: 636 entries, Unnamed: 0 to VER_STU
dtypes: float64(250), int64(18), object(368)
memory usage: 2.3+ GB

In [5]:
# Look through the datatypes
pisa.dtypes[400:]

ST23Q08        object
ST24Q01        object
ST24Q02        object
ST24Q03        object
CLCUSE1        object
CLCUSE301       int64
CLCUSE302       int64
DEFFORT         int64
QUESTID        object
BOOKID         object
EASY           object
AGE           float64
GRADE         float64
PROGN          object
ANXMAT        float64
ATSCHL        float64
ATTLNACT      float64
BELONG        float64
BFMJ2         float64
BMMJ1         float64
CLSMAN        float64
COBN_F         object
COBN_M         object
COBN_S         object
COGACT        float64
CULTDIST      float64
CULTPOS       float64
DISCLIMA      float64
ENTUSE        float64
ESCS          float64
               ...
W_FSTR55      float64
W_FSTR56      float64
W_FSTR57      float64
W_FSTR58      float64
W_FSTR59      float64
W_FSTR60      float64
W_FSTR61      float64
W_FSTR62      float64
W_FSTR63      float64
W_FSTR64      float64
W_FSTR65      float64
W_FSTR66      float64
W_FSTR67      float64
W_FSTR68      float64
W_FSTR69      float64
W_FSTR70      float64
W_FSTR71      float64
W_FSTR72      float64
W_FSTR73      float64
W_FSTR74      float64
W_FSTR75      float64
W_FSTR76      float64
W_FSTR77      float64
W_FSTR78      float64
W_FSTR79      float64
W_FSTR80      float64
WVARSTRR        int64
VAR_UNIT        int64
SENWGT_STU    float64
VER_STU        object
Length: 236, dtype: object

In [6]:
# Check dictionary for names of variables
pisa_dict

     Unnamed: 0                                                  x
0           CNT                           Country code 3-character
1      SUBNATIO  Adjudicated sub-region code 7-digit code (3-di...
2       STRATUM  Stratum ID 7-character (cnt + region ID + orig...
3          OECD                                       OECD country
4            NC                       National Centre 6-digit Code
5      SCHOOLID  School ID 7-digit (region ID + stratum ID + 3-...
6       STIDSTD                                         Student ID
7       ST01Q01                                International Grade
8       ST02Q01                           National Study Programme
9       ST03Q01                                      Birth - Month
10      ST03Q02                                        Birth -Year
11      ST04Q01                                             Gender
12      ST05Q01                                   Attend <ISCED 0>
13      ST06Q01                                   Age at <ISCED 1>
14      ST07Q01                                 Repeat - <ISCED 1>
15      ST07Q02                                 Repeat - <ISCED 2>
16      ST07Q03                                 Repeat - <ISCED 3>
17      ST08Q01                          Truancy - Late for School
18      ST09Q01                    Truancy - Skip whole school day
19     ST115Q01           Truancy - Skip classes within school day
20      ST11Q01                                   At Home - Mother
21      ST11Q02                                   At Home - Father
22      ST11Q03                                 At Home - Brothers
23      ST11Q04                                  At Home - Sisters
24      ST11Q05                             At Home - Grandparents
25      ST11Q06                                   At Home - Others
26      ST13Q01                          Mother<Highest Schooling>
27      ST14Q01            Mother Qualifications - <ISCED level 6>
28      ST14Q02           Mother Qualifications - <ISCED level 5A>
29      ST14Q03           Mother Qualifications - <ISCED level 5B>
..          ...                                                ...
605    W_FSTR55           FINAL STUDENT REPLICATE BRR-FAY WEIGHT55
606    W_FSTR56           FINAL STUDENT REPLICATE BRR-FAY WEIGHT56
607    W_FSTR57           FINAL STUDENT REPLICATE BRR-FAY WEIGHT57
608    W_FSTR58           FINAL STUDENT REPLICATE BRR-FAY WEIGHT58
609    W_FSTR59           FINAL STUDENT REPLICATE BRR-FAY WEIGHT59
610    W_FSTR60           FINAL STUDENT REPLICATE BRR-FAY WEIGHT60
611    W_FSTR61           FINAL STUDENT REPLICATE BRR-FAY WEIGHT61
612    W_FSTR62           FINAL STUDENT REPLICATE BRR-FAY WEIGHT62
613    W_FSTR63           FINAL STUDENT REPLICATE BRR-FAY WEIGHT63
614    W_FSTR64           FINAL STUDENT REPLICATE BRR-FAY WEIGHT64
615    W_FSTR65           FINAL STUDENT REPLICATE BRR-FAY WEIGHT65
616    W_FSTR66           FINAL STUDENT REPLICATE BRR-FAY WEIGHT66
617    W_FSTR67           FINAL STUDENT REPLICATE BRR-FAY WEIGHT67
618    W_FSTR68           FINAL STUDENT REPLICATE BRR-FAY WEIGHT68
619    W_FSTR69           FINAL STUDENT REPLICATE BRR-FAY WEIGHT69
620    W_FSTR70           FINAL STUDENT REPLICATE BRR-FAY WEIGHT70
621    W_FSTR71           FINAL STUDENT REPLICATE BRR-FAY WEIGHT71
622    W_FSTR72           FINAL STUDENT REPLICATE BRR-FAY WEIGHT72
623    W_FSTR73           FINAL STUDENT REPLICATE BRR-FAY WEIGHT73
624    W_FSTR74           FINAL STUDENT REPLICATE BRR-FAY WEIGHT74
625    W_FSTR75           FINAL STUDENT REPLICATE BRR-FAY WEIGHT75
626    W_FSTR76           FINAL STUDENT REPLICATE BRR-FAY WEIGHT76
627    W_FSTR77           FINAL STUDENT REPLICATE BRR-FAY WEIGHT77
628    W_FSTR78           FINAL STUDENT REPLICATE BRR-FAY WEIGHT78
629    W_FSTR79           FINAL STUDENT REPLICATE BRR-FAY WEIGHT79
630    W_FSTR80           FINAL STUDENT REPLICATE BRR-FAY WEIGHT80
631    WVARSTRR           RANDOMIZED FINAL VARIANCE STRATUM (1-80)
632    VAR_UNIT                    RANDOMLY ASSIGNED VARIANCE UNIT
633  SENWGT_STU  Senate weight - sum of weight within the count...
634     VER_STU                      Date of the database creation

[635 rows x 2 columns]

In [7]:
# Check for null values in relevant columns
columns = ['CNT', 'STIDSTD', 'ST01Q01', 'ST04Q01', 'ST13Q01', 
            'ST17Q01', 'ST28Q01', 'ST57Q01', 'ST57Q02', 'ST57Q03', 
            'ST57Q04', 'ST57Q05', 'MMINS', 'LMINS', 'SMINS',
            'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH',  
            'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ', 'PV5READ',
            'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE']

for x in columns:
    print(x, pisa[x].isna().sum())

CNT 0
STIDSTD 0
ST01Q01 0
ST04Q01 0
ST13Q01 27511
ST17Q01 42229
ST28Q01 11725
ST57Q01 184123
ST57Q02 215682
ST57Q03 201677
ST57Q04 205833
ST57Q05 195988
MMINS 202187
LMINS 202624
SMINS 214576
PV1MATH 0
PV2MATH 0
PV3MATH 0
PV4MATH 0
PV5MATH 0
PV1READ 0
PV2READ 0
PV3READ 0
PV4READ 0
PV5READ 0
PV1SCIE 0
PV2SCIE 0
PV3SCIE 0
PV4SCIE 0
PV5SCIE 0

In [8]:
# See countries included in dataframe
pisa['CNT'].value_counts()

Mexico                      33806
Italy                       31073
Spain                       25313
Canada                      21544
Brazil                      19204
Australia                   14481
United Kingdom              12659
United Arab Emirates        11500
Switzerland                 11229
Qatar                       10966
Colombia                     9073
Finland                      8829
Belgium                      8597
Denmark                      7481
Jordan                       7038
Chile                        6856
Thailand                     6606
Japan                        6351
Chinese Taipei               6046
Peru                         6035
Slovenia                     5911
Argentina                    5908
Kazakhstan                   5808
Portugal                     5722
Indonesia                    5622
Singapore                    5546
Macao-China                  5335
Czech Republic               5327
Uruguay                      5315
Bulgaria                     5282
                            ...
Ireland                      5016
Croatia                      5008
Germany                      5001
United States of America     4978
Vietnam                      4959
Turkey                       4848
Hungary                      4810
Estonia                      4779
Austria                      4755
Montenegro                   4744
Albania                      4743
Sweden                       4736
Norway                       4686
Serbia                       4684
Slovak Republic              4678
Hong Kong-China              4670
Lithuania                    4618
France                       4613
Poland                       4607
Costa Rica                   4602
Netherlands                  4460
Tunisia                      4407
Latvia                       4306
New Zealand                  4291
Iceland                      3508
Florida (USA)                1896
Perm(Russian Federation)     1761
Massachusetts (USA)          1723
Connecticut (USA)            1697
Liechtenstein                 293
Name: CNT, Length: 68, dtype: int64

In [9]:
# Check if there are any duplicates
pisa.duplicated().sum()

0

<a id='issues1'></a>
### Identified Issues
Here we can see some of the issues noticed in the dataframes. These quality issues will be cleaned in the following section.

1. Narrow down the dataframe by only looking at variables of interest since there are more variables than needed
2. Create an average of all Math, Reading, and Science scores since all 5 scores for each are not necessary
3. Make the variable names readable since they are codes that can only be read with the dictionary

4. There are multiple columns for single variables related to father's education
5. There are multiple columns for single variables related to mother's education

6. Missing values in relevant columns

7. Create a total for Out-of-School Study Time and Learning time (minutes per week)
8. Single countries have various entries in the country column (Florida (USA), Massachusetts (USA), Connecticut (USA) and United States of America)

<a id='cleaning1'></a>
### First Cleaning

In [10]:
# Create a copy to preserve the original dataframe
pisa_clean = pisa.copy()

### 1. Narrow down the dataframe by only looking at variables of interest since there are more variables than needed


There are 636 columns available in the original dataframe, which is far more than what is necessary. We will rather look at just the following variables.

In [11]:
# Create new dataframe with only the selected columns
pisa_clean = pisa_clean[['CNT', 'STIDSTD', 'ST04Q01', 'ST13Q01', 'ST14Q01', 'ST14Q02', 'ST14Q03', 'ST14Q04', 
                         'ST17Q01', 'ST18Q01', 'ST18Q02', 'ST18Q03', 'ST18Q04', 
                         'ST57Q01', 'ST57Q02', 'ST57Q03', 'ST57Q04', 'ST57Q05', 'MMINS', 
                         'LMINS', 'SMINS', 'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 
                         'PV5MATH', 'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ', 'PV5READ',
                         'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE']]

In [12]:
# Check to see if the columns are correctly reduced
list(pisa_clean)

['CNT',
 'STIDSTD',
 'ST04Q01',
 'ST13Q01',
 'ST14Q01',
 'ST14Q02',
 'ST14Q03',
 'ST14Q04',
 'ST17Q01',
 'ST18Q01',
 'ST18Q02',
 'ST18Q03',
 'ST18Q04',
 'ST57Q01',
 'ST57Q02',
 'ST57Q03',
 'ST57Q04',
 'ST57Q05',
 'MMINS',
 'LMINS',
 'SMINS',
 'PV1MATH',
 'PV2MATH',
 'PV3MATH',
 'PV4MATH',
 'PV5MATH',
 'PV1READ',
 'PV2READ',
 'PV3READ',
 'PV4READ',
 'PV5READ',
 'PV1SCIE',
 'PV2SCIE',
 'PV3SCIE',
 'PV4SCIE',
 'PV5SCIE']

### 2. Create an average of all Math, Reading, and Science scores since all 5 scores for each are not necessary

For each of the Math, Reading, and Science scores, there are 5 scores provided. The variation between these scores is not needed, so rather we will look at the average for each of these major categories and remove the individual scores.

In [13]:
# Create average of Math scores
pisa_clean['Average Math Score']    = (pisa_clean['PV1MATH'] + pisa_clean['PV2MATH'] + pisa_clean['PV3MATH'] + pisa_clean['PV4MATH'] + pisa_clean['PV5MATH']) / 5

# Create average of Reading scores
pisa_clean['Average Reading Score'] = (pisa_clean['PV1READ'] + pisa_clean['PV2READ'] + pisa_clean['PV3READ'] + pisa_clean['PV4READ'] + pisa_clean['PV5READ']) / 5

# Create average of Science scores
pisa_clean['Average Science Score'] = (pisa_clean['PV1SCIE'] + pisa_clean['PV2SCIE'] + pisa_clean['PV3SCIE'] + pisa_clean['PV4SCIE'] + pisa_clean['PV5SCIE']) / 5

# Create average score
pisa_clean['Average Total Score']   = (pisa_clean['Average Math Score'] + pisa_clean['Average Reading Score'] + pisa_clean['Average Science Score']) / 3

In [14]:
# Remove the individual scores for Math, Reading, and Science
pisa_clean.drop(columns=['PV1MATH',  'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH',   
                         'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ',  'PV5READ',
                         'PV1SCIE',  'PV2SCIE', 'PV3SCIE',  'PV4SCIE', 'PV5SCIE'], inplace=True)

In [15]:
# Test to see accuracy of the Math score
print(pisa_clean['Average Math Score'].describe())
print('-'*22)

# Test to see accuracy of the Reading score
print(pisa_clean['Average Reading Score'].describe())
print('-'*22)

# Test to see accuracy of the Science score
print(pisa_clean['Average Science Score'].describe())
print('-'*22)

# Test to see accuracy of the Total score
print(pisa_clean['Average Total Score'].describe())

count    485490.000000
mean        469.651234
std         100.786610
min          54.767080
25%         396.019620
50%         465.734520
75%         540.123060
max         903.107960
Name: Average Math Score, dtype: float64
----------------------
count    485490.000000
mean        472.006964
std          98.863310
min           6.445400
25%         405.044200
50%         475.477980
75%         542.831195
max         849.359740
Name: Average Reading Score, dtype: float64
----------------------
count    485490.000000
mean        475.808094
std          97.998470
min          25.158540
25%         405.762800
50%         475.512860
75%         546.381920
max         857.832900
Name: Average Science Score, dtype: float64
----------------------
count    485490.000000
mean        472.488764
std          96.036271
min          77.114593
25%         403.992595
50%         472.046460
75%         541.455700
max         826.592027
Name: Average Total Score, dtype: float64

In [16]:
# Test to see if the data from the new variables display correctly
pisa_clean.sample(10)

,CNT,STIDSTD,ST04Q01,ST13Q01,ST14Q01,ST14Q02,ST14Q03,ST14Q04,ST17Q01,ST18Q01,...,ST57Q03,ST57Q04,ST57Q05,MMINS,LMINS,SMINS,Average Math Score,Average Reading Score,Average Science Score,Average Total Score
171063,Estonia,168,Female,<ISCED level 3A>,No,No,No,Yes,<ISCED level 3A>,No,...,0.0,0.0,2.0,270.0,180.0,360.0,470.56398,480.95872,484.83778,478.786827
468398,Turkey,3009,Male,<ISCED level 1>,No,No,No,NaN,<ISCED level 3A>,No,...,NaN,NaN,NaN,NaN,NaN,NaN,431.14972,463.66640,454.34538,449.720500
469476,Turkey,4087,Female,<ISCED level 1>,No,No,No,NaN,<ISCED level 1>,No,...,NaN,NaN,NaN,NaN,NaN,NaN,452.95996,511.46024,462.64456,475.688253
390216,Qatar,966,Male,<ISCED level 3A>,No,Yes,No,No,<ISCED level 3A>,No,...,1.0,3.0,2.0,275.0,NaN,NaN,358.86430,373.68816,336.29242,356.281627
269205,Italy,28616,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,443.30116,345.45968,484.93100,424.563947
461983,Tunisia,1001,Male,NaN,No,No,No,Yes,NaN,No,...,0.0,0.0,3.0,240.0,300.0,60.0,360.26638,365.82910,402.40582,376.167100
92847,Canada,18378,Male,<ISCED level 3A>,Yes,NaN,NaN,NaN,<ISCED level 3A>,Yes,...,0.0,0.0,0.0,375.0,375.0,375.0,580.78362,459.01512,525.40094,521.733227
239638,Israel,4104,Female,<ISCED level 3A>,NaN,NaN,NaN,NaN,<ISCED level 3A>,NaN,...,NaN,0.0,4.0,225.0,135.0,90.0,519.09176,449.42460,486.79594,485.104100
98131,Switzerland,2118,Male,<ISCED level 1>,NaN,NaN,NaN,NaN,<ISCED level 1>,NaN,...,0.0,0.0,1.0,225.0,225.0,270.0,450.46734,434.63596,406.78850,430.630600
385510,Portugal,1982,Male,<ISCED level 3A>,No,No,No,No,<ISCED level 2>,No,...,NaN,NaN,NaN,NaN,NaN,NaN,564.50384,506.57044,522.69674,531.257007

### 3. Make the variable names readable since they are codes that can only be read with the dictionary

In the original dataframe, the variable names are all codes and unreadable without the dictionary. Therefore, we will change them to accurately reflect the information within the column.

In [17]:
# Rename columns
pisa_clean.rename({'CNT': 'Country',
                   'STIDSTD': 'Student ID',
                   'ST04Q01': 'Gender', 
                   'ST13Q01': 'Mother - Highest Schooling', 
                   'ST14Q01': 'Mother Qualifications - ISCED level 6',
                   'ST14Q02': 'Mother Qualifications - ISCED level 5A',
                   'ST14Q03': 'Mother Qualifications - ISCED level 5B',
                   'ST14Q04': 'Mother Qualifications - ISCED level 4',
                   'ST17Q01': 'Father - Highest Schooling',
                   'ST18Q01': 'Father Qualifications - ISCED level 6',
                   'ST18Q02': 'Father Qualifications - ISCED level 5A',
                   'ST18Q03': 'Father Qualifications - ISCED level 5B',
                   'ST18Q04': 'Father Qualifications - ISCED level 4',
                   'ST57Q01': 'Out-of-School Study Time - Homework',
                   'ST57Q02': 'Out-of-School Study Time - Guided Homework',
                   'ST57Q03': 'Out-of-School Study Time - Personal Tutor',
                   'ST57Q04': 'Out-of-School Study Time - Commercial Company',
                   'ST57Q05': 'Out-of-School Study Time - With Parent',
                   'MMINS': 'Learning Time - Mathematics',
                   'LMINS': 'Learning Time - Test Language',
                   'SMINS': 'Learning Time - Science'}, axis='columns', inplace=True)

In [18]:
# Check to see if the columns are correctly renamed
list(pisa_clean)

['Country',
 'Student ID',
 'Gender',
 'Mother - Highest Schooling',
 'Mother Qualifications - ISCED level 6',
 'Mother Qualifications - ISCED level 5A',
 'Mother Qualifications - ISCED level 5B',
 'Mother Qualifications - ISCED level 4',
 'Father - Highest Schooling',
 'Father Qualifications - ISCED level 6',
 'Father Qualifications - ISCED level 5A',
 'Father Qualifications - ISCED level 5B',
 'Father Qualifications - ISCED level 4',
 'Out-of-School Study Time - Homework',
 'Out-of-School Study Time - Guided Homework',
 'Out-of-School Study Time - Personal Tutor',
 'Out-of-School Study Time - Commercial Company',
 'Out-of-School Study Time - With Parent',
 'Learning Time - Mathematics',
 'Learning Time - Test Language',
 'Learning Time - Science',
 'Average Math Score',
 'Average Reading Score',
 'Average Science Score',
 'Average Total Score']

### 4. There are multiple columns for single variables related to father's education

Values for the father's education are distributed among 5 columns. One column holds '<ISCED level 1>', '<ISCED level 2>', '<ISCED level 3A>', '<ISCED level 3B, 3C>', and 'He did not complete <ISCED level 1>'. We would rather have one level for ISCED level 3, and change 'He did not complete <ISCED level 1>' to level 0, in accordance to this classification: http://uis.unesco.org/sites/default/files/documents/international-standard-classification-of-education-isced-2011-en.pdf

Also, since the data for this variable has multiple pieces of data in one column, and then another 4 columns hold the rest of the data, we will have to expand the first column by creating dummies for each data to have a column, and then melt all the columns into one.

In [19]:
# Begin with a copy
father_edu = pisa_clean.copy()

In [20]:
# Split column up with dummies
father_edu[['<ISCED level 1>', 
            '<ISCED level 2>', 
            '<ISCED level 3A>', 
            '<ISCED level 3B, 3C>', 
            'He did not complete <ISCED level 1>']] = pd.get_dummies(father_edu['Father - Highest Schooling'])

In [21]:
# Rename the columns for consistency and to remove subcategorization of levels
father_edu.rename({'He did not complete <ISCED level 1>': '<ISCED level 0>',
                   '<ISCED level 3A>': '<ISCED level 3>', 
                   '<ISCED level 3B, 3C>': '<ISCED level 3>',
                   'Father Qualifications - ISCED level 4': '<ISCED level 4>',
                   'Father Qualifications - ISCED level 5A': '<ISCED level 5>',
                   'Father Qualifications - ISCED level 5B': '<ISCED level 5>',
                   'Father Qualifications - ISCED level 6': '<ISCED level 6>'}, axis='columns', inplace=True)

In [22]:
# Change datatypes from ints into strings for dummy columns
father_edu['<ISCED level 0>'] = father_edu['<ISCED level 0>'].astype(str)
father_edu['<ISCED level 1>'] = father_edu['<ISCED level 1>'].astype(str)
father_edu['<ISCED level 2>'] = father_edu['<ISCED level 2>'].astype(str)
father_edu['<ISCED level 3>'] = father_edu['<ISCED level 3>'].astype(str)

In [23]:
# Change values from '1's and 'Yes's to the corresponding level to prepare for the melt
father_edu['<ISCED level 0>'] = father_edu['<ISCED level 0>'].replace(regex='1', value='<ISCED level 0>')
father_edu['<ISCED level 1>'] = father_edu['<ISCED level 1>'].replace(regex='1', value='<ISCED level 1>')
father_edu['<ISCED level 2>'] = father_edu['<ISCED level 2>'].replace(regex='1', value='<ISCED level 2>')
father_edu['<ISCED level 3>'] = father_edu['<ISCED level 3>'].replace(regex='1', value='<ISCED level 3>')
father_edu['<ISCED level 4>'] = father_edu['<ISCED level 4>'].replace(regex='Yes', value='<ISCED level 4>')
father_edu['<ISCED level 5>'] = father_edu['<ISCED level 5>'].replace(regex='Yes', value='<ISCED level 5>')
father_edu['<ISCED level 6>'] = father_edu['<ISCED level 6>'].replace(regex='Yes', value='<ISCED level 6>')

In [24]:
# Test to see if the columns are all correct before melt
father_edu.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Father - Highest Schooling,<ISCED level 6>,...,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,<ISCED level 1>,<ISCED level 2>,<ISCED level 3>,<ISCED level 3>,<ISCED level 0>
259102,Italy,18513,Male,<ISCED level 2>,No,No,No,No,<ISCED level 2>,No,...,120.0,454.67364,347.38434,375.27042,392.442800,0,<ISCED level 2>,0,0,0
277022,Jordan,5360,Male,<ISCED level 3A>,NaN,NaN,Yes,NaN,<ISCED level 3A>,NaN,...,NaN,248.72256,191.72680,235.39726,225.282207,0,0,<ISCED level 3>,0,0
36744,Austria,113,Female,"<ISCED level 3B, 3C>",No,No,Yes,No,"<ISCED level 3B, 3C>",No,...,NaN,463.94298,488.58408,478.77658,477.101213,0,0,0,<ISCED level 3>,0
210860,Hong Kong-China,3960,Male,"<ISCED level 3B, 3C>",No,No,No,No,<ISCED level 1>,No,...,480.0,663.19520,561.10272,623.03244,615.776787,<ISCED level 1>,0,0,0,0
218055,Hungary,1477,Female,<ISCED level 3A>,No,No,No,Yes,NaN,NaN,...,NaN,384.72504,438.86028,410.42522,411.336847,0,0,0,0,0
335531,Mexico,19829,Female,<ISCED level 3A>,No,No,Yes,NaN,<ISCED level 2>,No,...,500.0,472.97868,515.67008,493.23016,493.959640,0,<ISCED level 2>,0,0,0
345797,Mexico,30095,Male,"<ISCED level 3B, 3C>",NaN,NaN,Yes,NaN,<ISCED level 2>,NaN,...,NaN,283.46314,245.45712,267.94108,265.620447,0,<ISCED level 2>,0,0,0
182902,Finland,7228,Male,<ISCED level 3A>,No,Yes,No,No,<ISCED level 3A>,No,...,135.0,565.04908,520.76490,597.48228,561.098753,0,0,<ISCED level 3>,0,0
363747,Netherlands,4298,Female,<ISCED level 1>,NaN,NaN,NaN,NaN,<ISCED level 3A>,No,...,0.0,459.11358,453.87274,451.45468,454.813667,0,0,<ISCED level 3>,0,0
454529,Thailand,153,Female,<ISCED level 2>,No,No,NaN,No,<ISCED level 2>,No,...,200.0,283.38524,348.62666,332.18948,321.400460,0,<ISCED level 2>,0,0,0

In [25]:
# Combine all columns into one variable column
father_edu = pd.melt(father_edu, 
                     id_vars=['Country','Student ID', 'Gender',
                            'Mother - Highest Schooling', 
                            'Mother Qualifications - ISCED level 6', 
                            'Mother Qualifications - ISCED level 5A',
                            'Mother Qualifications - ISCED level 5B',
                            'Mother Qualifications - ISCED level 4',
                            'Out-of-School Study Time - Homework',
                            'Out-of-School Study Time - Guided Homework',
                            'Out-of-School Study Time - Personal Tutor',
                            'Out-of-School Study Time - Commercial Company',
                            'Out-of-School Study Time - With Parent',
                            'Learning Time - Mathematics',
                            'Learning Time - Test Language',
                            'Learning Time - Science',
                            'Average Math Score',
                            'Average Reading Score',
                            'Average Science Score',
                            'Average Total Score'], var_name='Completed_edu - Father', value_name='Education - Father')

In [26]:
# Check to see if the columns from the melt were correctly created
father_edu.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Completed_edu - Father,Education - Father
921879,Slovak Republic,3384,Female,"<ISCED level 3B, 3C>",No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,533.11262,511.53966,495.65460,513.435627,<ISCED level 6>,No
1940188,Vietnam,3188,Female,<ISCED level 1>,No,No,NaN,No,4.0,3.0,...,0.0,135.0,135.0,90.0,497.59310,476.59002,513.18538,495.789500,<ISCED level 5>,NaN
3006335,Canada,18926,Female,<ISCED level 3A>,No,No,Yes,No,4.0,2.0,...,0.0,415.0,415.0,415.0,414.32466,492.07904,480.54830,462.317333,<ISCED level 2>,0
2697285,Italy,29246,Female,<ISCED level 2>,No,No,No,Yes,3.0,2.0,...,1.0,300.0,180.0,120.0,347.41392,378.01612,351.95822,359.129420,<ISCED level 1>,0
3148175,Iceland,3209,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,502.73406,401.59582,474.02090,459.450260,<ISCED level 2>,0
763452,Jordan,6300,Male,<ISCED level 1>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,325.83736,294.37580,301.69712,307.303427,<ISCED level 6>,NaN
3564924,Spain,20912,Female,<ISCED level 2>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,599.32234,618.53322,621.26074,613.038767,<ISCED level 3>,0
1245700,Jordan,3058,Male,<ISCED level 3A>,No,Yes,Yes,NaN,2.0,NaN,...,2.0,250.0,250.0,200.0,352.86650,379.78294,386.36702,373.005487,<ISCED level 5>,<ISCED level 5>
2329011,Portugal,3523,Female,She did not complete <ISCED level 1>,No,No,No,No,2.0,1.0,...,10.0,270.0,225.0,180.0,490.27106,558.32454,454.53190,501.042500,<ISCED level 4>,No
4381160,United Arab Emirates,7008,Male,She did not complete <ISCED level 1>,No,No,No,No,2.0,2.0,...,3.0,280.0,175.0,210.0,254.09720,202.23230,248.54532,234.958273,<ISCED level 0>,0

In [27]:
# Remove all cases from melt where the education of the father is either '0' or 'No'
father_edu = father_edu[(father_edu['Education - Father'] != '0')] 
father_edu = father_edu[(father_edu['Education - Father'] != 'No')]

In [28]:
# Check to see if 0's and No's have been removed
father_edu.sample(70)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Completed_edu - Father,Education - Father
1991071,Belgium,7725,Male,"<ISCED level 3B, 3C>",No,No,No,Yes,2.0,0.0,...,0.0,200.0,200.0,100.0,503.12354,463.66640,506.56470,491.118213,<ISCED level 4>,<ISCED level 4>
1973610,Australia,9500,Male,<ISCED level 3A>,NaN,NaN,NaN,NaN,9.0,9.0,...,0.0,200.0,200.0,400.0,579.14786,581.23154,603.54346,587.974287,<ISCED level 4>,<ISCED level 4>
292239,Korea,1380,Female,<ISCED level 3A>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,483.65010,518.92674,540.97350,514.516780,Father - Highest Schooling,<ISCED level 3A>
474853,Uruguay,4616,Female,<ISCED level 3A>,No,No,No,NaN,8.0,3.0,...,NaN,180.0,160.0,400.0,402.32902,404.38722,442.78254,416.499593,Father - Highest Schooling,<ISCED level 2>
1352947,Poland,3046,Male,<ISCED level 3A>,No,Yes,No,No,1.0,0.0,...,0.0,225.0,225.0,225.0,681.96760,569.68352,655.01678,635.555967,<ISCED level 5>,<ISCED level 5>
3691678,Korea,2389,Female,<ISCED level 3A>,No,Yes,No,NaN,NaN,NaN,...,0.0,200.0,200.0,200.0,675.03506,659.04304,623.87170,652.649933,<ISCED level 3>,<ISCED level 3>
325421,Mexico,9719,Male,<ISCED level 3A>,Yes,Yes,NaN,NaN,1.0,NaN,...,NaN,90.0,45.0,45.0,333.78254,361.81936,362.21558,352.605827,Father - Highest Schooling,<ISCED level 3A>
3400091,Albania,1662,Female,<ISCED level 3A>,No,No,No,Yes,3.0,0.0,...,1.0,135.0,135.0,90.0,408.24894,338.93608,418.07162,388.418880,<ISCED level 3>,<ISCED level 3>
3702436,Luxembourg,3203,Female,<ISCED level 3A>,No,Yes,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,576.10998,593.90962,556.91906,575.646220,<ISCED level 3>,<ISCED level 3>
3355493,Slovenia,4870,Male,"<ISCED level 3B, 3C>",No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,561.85544,479.94586,559.80976,533.870353,<ISCED level 2>,<ISCED level 2>
7448,United Arab Emirates,2706,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,392.43652,429.24914,451.82770,424.504453,Father - Highest Schooling,<ISCED level 3A>
2264052,Mexico,6390,Female,<ISCED level 3A>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,488.16796,513.20772,543.86424,515.079973,<ISCED level 4>,NaN
397436,Qatar,8186,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,547.99034,580.10882,540.69376,556.264307,Father - Highest Schooling,"<ISCED level 3B, 3C>"
543594,Brazil,2839,Female,<ISCED level 3A>,No,No,No,No,2.0,2.0,...,0.0,150.0,150.0,150.0,397.88908,464.19878,386.74002,416.275960,<ISCED level 6>,<ISCED level 6>
202099,Greece,324,Male,<ISCED level 3A>,No,No,No,No,10.0,NaN,...,NaN,NaN,NaN,NaN,401.08272,386.75984,409.30622,399.049593,Father - Highest Schooling,<ISCED level 3A>
1516156,Brazil,4421,Female,NaN,NaN,NaN,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,60.0,299.66508,328.05402,317.73590,315.151667,<ISCED level 5>,<ISCED level 5>
534874,Belgium,7998,Female,<ISCED level 3A>,NaN,NaN,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,560.21964,596.05426,595.61732,583.963740,<ISCED level 6>,NaN
48266,Belgium,6880,Female,She did not complete <ISCED level 1>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,414.79202,533.38320,448.84372,465.672980,Father - Highest Schooling,"<ISCED level 3B, 3C>"
3611210,Croatia,1210,Female,<ISCED level 3A>,No,No,No,Yes,20.0,0.0,...,0.0,135.0,180.0,270.0,579.92678,627.82666,601.30548,603.019640,<ISCED level 3>,<ISCED level 3>
1024942,Bulgaria,3979,Female,<ISCED level 3A>,No,No,No,Yes,NaN,NaN,...,NaN,120.0,160.0,200.0,428.73502,411.29772,495.84112,445.291287,<ISCED level 5>,NaN
3403887,United Arab Emirates,715,Female,<ISCED level 3A>,No,No,No,Yes,6.0,2.0,...,0.0,270.0,225.0,135.0,517.06652,626.39692,569.13466,570.866033,<ISCED level 3>,<ISCED level 3>
2373899,Serbia,3618,Male,"<ISCED level 3B, 3C>",No,No,No,NaN,2.0,2.0,...,1.0,90.0,135.0,90.0,448.20842,413.78540,422.54756,428.180460,<ISCED level 4>,NaN
384430,Portugal,902,Female,<ISCED level 2>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,456.62096,553.87640,526.14694,512.214767,Father - Highest Schooling,<ISCED level 1>
2258077,Mexico,415,Female,"<ISCED level 3B, 3C>",No,Yes,No,NaN,11.0,8.0,...,5.0,250.0,200.0,250.0,407.93736,520.11822,401.00710,443.020893,<ISCED level 4>,NaN
721351,Israel,327,Male,<ISCED level 3A>,No,No,No,No,1.0,1.0,...,NaN,135.0,135.0,180.0,327.86258,325.73184,356.80716,336.800527,<ISCED level 6>,NaN
3455349,Brazil,1654,Female,<ISCED level 1>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,321.31952,329.80152,292.46552,314.528853,<ISCED level 3>,<ISCED level 3>
2282908,Mexico,25246,Male,<ISCED level 2>,No,No,No,NaN,8.0,6.0,...,2.0,250.0,200.0,250.0,465.34508,455.48656,415.83362,445.555087,<ISCED level 4>,NaN
2280593,Mexico,22931,Male,She did not complete <ISCED level 1>,No,NaN,NaN,NaN,1.0,1.0,...,NaN,236.0,295.0,NaN,290.08414,307.12670,384.87504,327.361960,<ISCED level 4>,NaN
1225809,Italy,14240,Female,<ISCED level 2>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,411.67628,503.91428,435.32264,450.304400,<ISCED level 5>,NaN
3338273,Singapore,2558,Male,<ISCED level 1>,No,No,No,No,4.0,3.0,...,0.0,315.0,315.0,0.0,438.39382,472.64816,434.11040,448.384127,<ISCED level 2>,<ISCED level 2>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1310693,Mexico,24011,Female,NaN,NaN,NaN,NaN,NaN,11.0,0.0,...,0.0,420.0,420.0,NaN,472.90080,511.69854,477.84408,487.481140,<ISCED level 5>,NaN
202734,Greece,959,Male,"<ISCED level 3B, 3C>",No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,425.61924,453.08072,446.23272,441.644227,Father - Highest Schooling,"<ISCED level 3B, 3C>"
2196551,Italy,14002,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,529.60740,562.13722,502.18202,531.308880,<ISCED level 4>,NaN
2059131,Colombia,3073,Female,<ISCED level 3A>,NaN,NaN,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,331.60150,350.45354,270.17904,317.411360,<ISCED level 4>,NaN
1224446,Italy,12877,Male,<ISCED level 3A>,Yes,Yes,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,517.76758,511.46232,493.13690,507.455600,<ISCED level 5>,<ISCED level 5>
563371,Canada,3412,Male,<ISCED level 3A>,NaN,NaN,NaN,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,472.66706,427.41844,506.84444,468.976647,<ISCED level 6>,NaN
390835,Qatar,1585,Male,<ISCED level 3A>,No,Yes,No,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,378.80514,461.66152,444.36778,428.278147,Father - Highest Schooling,<ISCED level 3A>
661849,Finland,685,Female,"<ISCED level 3B, 3C>",NaN,Yes,NaN,NaN,1.0,0.0,...,0.0,150.0,150.0,225.0,440.02960,460.14780,417.32562,439.167673,<ISCED level 6>,NaN
3777284,Peru,5968,Female,<ISCED level 2>,NaN,NaN,NaN,NaN,2.0,1.0,...,1.0,NaN,NaN,NaN,280.97054,310.34090,302.16336,297.824933,<ISCED level 3>,<ISCED level 3>
433753,Slovak Republic,748,Female,<ISCED level 3A>,No,No,No,No,1.0,0.0,...,0.0,90.0,135.0,135.0,452.64840,471.58586,436.16188,453.465380,Father - Highest Schooling,NaN
2266433,Mexico,8771,Male,<ISCED level 2>,No,No,No,NaN,10.0,3.0,...,1.0,250.0,150.0,NaN,363.92740,352.51676,404.64378,373.695980,<ISCED level 4>,NaN
2035119,Canada,18690,Male,<ISCED level 3A>,No,No,Yes,Yes,10.0,2.0,...,0.0,375.0,375.0,375.0,515.43076,488.52670,529.31742,511.091627,<ISCED level 4>,<ISCED level 4>
97033,Switzerland,1020,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,4.0,2.0,...,2.0,180.0,225.0,90.0,479.83330,514.67008,425.90454,473.469307,Father - Highest Schooling,<ISCED level 3A>
2283059,Mexico,25397,Male,<ISCED level 2>,No,No,No,NaN,8.0,2.0,...,0.0,300.0,300.0,720.0,461.52826,472.08678,473.27490,468.963313,<ISCED level 4>,NaN
946696,Tunisia,224,Male,<ISCED level 2>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,252.85092,281.62484,290.88028,275.118680,<ISCED level 6>,NaN
2949076,Australia,13986,Male,<ISCED level 3A>,NaN,NaN,Yes,Yes,0.0,0.0,...,0.0,NaN,540.0,NaN,360.42220,364.46576,377.97464,367.620867,<ISCED level 2>,<ISCED level 2>
351602,Montenegro,2094,Male,<ISCED level 3A>,No,Yes,No,NaN,1.0,NaN,...,2.0,90.0,135.0,NaN,271.07804,260.29310,229.33604,253.569060,Father - Highest Schooling,"<ISCED level 3B, 3C>"
3639251,Italy,232,Male,<ISCED level 3A>,No,Yes,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,592.54558,542.17680,540.22754,558.316640,<ISCED level 3>,<ISCED level 3>
2299688,Malaysia,3476,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,2.0,1.0,...,0.0,140.0,140.0,105.0,482.55958,442.65544,514.77058,479.995200,<ISCED level 4>,NaN
2276146,Mexico,18484,Male,"<ISCED level 3B, 3C>",No,Yes,No,NaN,28.0,12.0,...,0.0,250.0,200.0,250.0,457.71148,483.07344,455.55764,465.447520,<ISCED level 4>,NaN
3181189,Italy,27660,Female,<ISCED level 2>,No,No,No,No,9.0,8.0,...,0.0,240.0,NaN,120.0,472.04394,487.86922,537.24358,499.052247,<ISCED level 2>,<ISCED level 2>
3617527,Hungary,2519,Male,"<ISCED level 3B, 3C>",No,No,NaN,No,5.0,3.0,...,1.0,70.0,120.0,NaN,545.73142,531.35054,501.43604,526.172667,<ISCED level 3>,<ISCED level 3>
3629598,Ireland,4158,Female,<ISCED level 2>,No,No,Yes,No,NaN,NaN,...,NaN,NaN,NaN,NaN,518.54652,536.71928,549.92542,535.063740,<ISCED level 3>,<ISCED level 3>
1772694,Mexico,522,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,355.04752,362.84478,341.98058,353.290960,<ISCED level 5>,NaN
75468,Canada,999,Male,<ISCED level 3A>,No,Yes,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,583.04252,563.18778,604.19618,583.475493,Father - Highest Schooling,<ISCED level 3A>
574827,Canada,14868,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,478.66492,544.58264,536.68408,519.977213,<ISCED level 6>,NaN
1163717,United Kingdom,3621,Male,NaN,NaN,NaN,NaN,NaN,3.0,0.0,...,0.0,250.0,200.0,300.0,527.42638,557.17318,522.23052,535.610027,<ISCED level 5>,NaN
1523699,Brazil,11964,Female,"<ISCED level 3B, 3C>",NaN,NaN,NaN,No,1.0,NaN,...,2.0,200.0,150.0,200.0,364.78422,417.65222,369.30250,383.912980,<ISCED level 5>,<ISCED level 5>
328381,Mexico,12679,Male,<ISCED level 3A>,No,Yes,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,567.85324,558.61668,573.05110,566.507007,Father - Highest Schooling,"<ISCED level 3B, 3C>"
209752,Hong Kong-China,2852,Male,<ISCED level 3A>,No,No,No,No,4.0,2.0,...,0.0,275.0,330.0,440.0,628.76616,548.99338,578.08652,585.282020,Father - Highest Schooling,<ISCED level 3A>

In [29]:
# Remove 'Father - Highest Schooling' since it is redundant
father_edu = father_edu[(father_edu['Completed_edu - Father'] != 'Father - Highest Schooling')]

In [30]:
# Check to see if correct values remain
father_edu['Education - Father'].value_counts()

<ISCED level 3>    306459
<ISCED level 5>    185130
<ISCED level 2>     84329
<ISCED level 4>     77265
<ISCED level 1>     35938
<ISCED level 6>     29589
<ISCED level 0>     16535
Name: Education - Father, dtype: int64

In [31]:
# Completed_edu is no longer needed since it duplicates the information in 'Education - Father'
father_edu.drop(columns=['Completed_edu - Father'], axis=1, inplace=True)

In [32]:
# Ensure the column has been dropped
father_edu.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father
4059317,Estonia,4502,Female,<ISCED level 3A>,No,No,No,Yes,7.0,0.0,...,0.0,0.0,225.0,225.0,90.0,522.05170,502.80228,510.20140,511.685127,<ISCED level 3>
3078866,Spain,20344,Male,<ISCED level 3A>,No,No,No,No,3.0,0.0,...,0.0,0.0,220.0,200.0,110.0,477.49650,457.89240,503.30100,479.563300,<ISCED level 2>
665039,Finland,3875,Female,<ISCED level 3A>,Yes,NaN,NaN,NaN,2.0,0.0,...,0.0,0.0,135.0,135.0,225.0,556.01338,552.84378,574.82282,561.226660,NaN
1406137,Slovak Republic,2152,Male,"<ISCED level 3B, 3C>",NaN,NaN,Yes,NaN,1.0,0.0,...,0.0,0.0,270.0,270.0,NaN,387.76288,346.82298,383.66282,372.749560,NaN
1937348,Vietnam,348,Male,<ISCED level 1>,No,No,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,484.89640,381.14622,453.13316,439.725260,NaN
3551578,Spain,7566,Male,"<ISCED level 3B, 3C>",No,No,No,Yes,4.0,2.0,...,2.0,0.0,275.0,220.0,220.0,544.79670,453.40150,526.79972,508.332640,<ISCED level 3>
1805988,Montenegro,10,Female,"<ISCED level 3B, 3C>",No,Yes,No,NaN,7.0,0.0,...,1.0,0.0,0.0,135.0,90.0,393.83862,478.73466,402.49906,425.024113,<ISCED level 5>
4037569,Spain,8067,Male,"<ISCED level 3B, 3C>",No,No,Yes,Yes,5.0,5.0,...,0.0,2.0,220.0,220.0,165.0,461.91776,477.05888,508.33644,482.437693,<ISCED level 3>
3821281,Singapore,76,Female,<ISCED level 3A>,No,No,Yes,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,640.68394,646.49296,666.29990,651.158933,<ISCED level 3>
659213,Estonia,2828,Male,<ISCED level 2>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,637.64604,596.86946,676.46402,636.993173,NaN

In [33]:
# Check if there are any duplicated values remaining
father_edu['Student ID'].duplicated().sum()

1229261

In [34]:
# https://stackoverflow.com/questions/33042777/removing-duplicates-from-pandas-dataframe-with-condition-for-retaining-original
# Change datatypes into category, and put into order from lowest to highest
father_edu['Education - Father'] = father_edu['Education - Father'].astype('category')
father_edu['Education - Father'] = father_edu['Education - Father'].cat.set_categories(['<ISCED level 0>', 
                                                                                        '<ISCED level 1>', 
                                                                                        '<ISCED level 2>', 
                                                                                        '<ISCED level 3>',
                                                                                        '<ISCED level 4>', 
                                                                                        '<ISCED level 5>', 
                                                                                        '<ISCED level 6>'], ordered=True)
father_edu.sort_values(['Education - Father'], inplace=True)

# Remove duplicates and keep last, which is the highest level of education for the student's father
father_edu_clean = father_edu.drop_duplicates(keep='last')

In [35]:
# Ensure there are no duplicates
father_edu_clean['Student ID'].duplicated().sum()

901800

In [36]:
# Check the size of the dataframe - 
print(pisa_clean.shape)
print(father_edu_clean.shape)

(485490, 25)
(935606, 21)

In [37]:
# Final check of clean dataframe
father_edu_clean.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father
3708036,Latvia,3545,Male,<ISCED level 3A>,No,No,No,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,454.51782,404.08186,421.80156,426.800413,<ISCED level 3>
2282126,Mexico,24464,Female,<ISCED level 3A>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,377.71460,471.42700,395.41214,414.851247,NaN
1759662,Luxembourg,2389,Male,"<ISCED level 3B, 3C>",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,564.73748,591.01526,590.58188,582.111540,<ISCED level 5>
3843830,Sweden,1806,Female,<ISCED level 3A>,No,No,Yes,NaN,18.0,0.0,...,0.0,1.0,180.0,180.0,180.0,417.59620,475.23968,449.40322,447.413033,<ISCED level 3>
1672048,Croatia,4008,Male,<ISCED level 3A>,No,No,Yes,Yes,4.0,1.0,...,0.0,0.0,90.0,90.0,0.0,414.01308,409.21430,455.18462,426.137333,<ISCED level 5>
3449088,Bulgaria,675,Male,<ISCED level 3A>,No,No,No,No,3.0,0.0,...,0.0,0.0,90.0,270.0,225.0,362.99270,346.58242,392.80120,367.458773,<ISCED level 3>
1958734,Argentina,532,Male,She did not complete <ISCED level 1>,No,No,No,NaN,0.0,0.0,...,0.0,0.0,NaN,NaN,80.0,320.38480,255.48144,304.49458,293.453607,NaN
3070405,Spain,11883,Male,<ISCED level 3A>,No,No,Yes,No,0.0,0.0,...,0.0,0.0,220.0,275.0,165.0,473.21236,468.39786,475.51288,472.374367,<ISCED level 2>
2124133,Finland,6499,Female,"<ISCED level 3B, 3C>",No,No,No,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,510.05610,560.07200,528.75792,532.962007,<ISCED level 4>
3513719,Colombia,1191,Male,She did not complete <ISCED level 1>,No,No,No,NaN,2.0,1.0,...,2.0,1.0,NaN,240.0,120.0,424.52876,439.12688,500.13054,454.595393,<ISCED level 3>

### 5. There are multiple columns for single variables related to mother's education

The exact same process for the mother's education is followed as for the father's education.

In [38]:
# Build mother's education dataframe off of the existing father education dataframe
mother_edu = father_edu_clean.copy()

In [39]:
# Check to visually assess
mother_edu.head()

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father
4854888,Vietnam,4948,Female,<ISCED level 1>,No,No,NaN,No,2.0,2.0,...,0.0,0.0,315.0,NaN,450.0,441.04222,469.12348,494.90860,468.358100,<ISCED level 0>
4854895,Vietnam,4955,Female,<ISCED level 2>,No,No,NaN,No,5.0,NaN,...,0.0,0.0,NaN,NaN,NaN,486.22058,472.61846,536.31110,498.383380,<ISCED level 0>
4427204,Brazil,2529,Male,<ISCED level 1>,No,No,No,No,2.0,2.0,...,3.0,1.0,135.0,180.0,90.0,406.06790,433.19248,466.84074,435.367040,<ISCED level 0>
4490059,Colombia,6551,Female,<ISCED level 1>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,367.35474,413.52178,372.28646,384.387660,<ISCED level 0>
4490057,Colombia,6549,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,4.0,NaN,...,3.0,4.0,360.0,360.0,240.0,323.50054,407.16730,360.16410,363.610647,<ISCED level 0>

In [40]:
# Compare original dataframe to father dataframe
print(pisa_clean['Mother - Highest Schooling'].value_counts())
print('-'*47)
print(mother_edu['Mother - Highest Schooling'].value_counts())

<ISCED level 3A>                         236993
<ISCED level 3B, 3C>                      83048
<ISCED level 2>                           82614
<ISCED level 1>                           36556
She did not complete <ISCED level 1>      18768
Name: Mother - Highest Schooling, dtype: int64
-----------------------------------------------
<ISCED level 3A>                         500747
<ISCED level 3B, 3C>                     161851
<ISCED level 2>                          142068
<ISCED level 1>                           61226
She did not complete <ISCED level 1>      30053
Name: Mother - Highest Schooling, dtype: int64

In [41]:
# Split column up with dummies
mother_edu[['<ISCED level 1>', 
            '<ISCED level 2>', 
            '<ISCED level 3A>', 
            '<ISCED level 3B, 3C>', 
            'She did not complete <ISCED level 1>']] = pd.get_dummies(mother_edu['Mother - Highest Schooling'])

In [42]:
# Rename the columns for consistency and to remove subcategorization of levels
mother_edu.rename({'She did not complete <ISCED level 1>': '<ISCED level 0>',
                   '<ISCED level 3A>': '<ISCED level 3>', 
                   '<ISCED level 3B, 3C>': '<ISCED level 3>',
                   'Mother Qualifications - ISCED level 4': '<ISCED level 4>',
                   'Mother Qualifications - ISCED level 5A': '<ISCED level 5>',
                   'Mother Qualifications - ISCED level 5B': '<ISCED level 5>',
                   'Mother Qualifications - ISCED level 6': '<ISCED level 6>'}, axis='columns', inplace=True)

In [43]:
# Change datatypes from ints into strings for dummy columns
mother_edu['<ISCED level 0>'] = mother_edu['<ISCED level 0>'].astype(str)
mother_edu['<ISCED level 1>'] = mother_edu['<ISCED level 1>'].astype(str)
mother_edu['<ISCED level 2>'] = mother_edu['<ISCED level 2>'].astype(str)
mother_edu['<ISCED level 3>'] = mother_edu['<ISCED level 3>'].astype(str)

In [44]:
# Change values from '1's and 'Yes's to the corresponding level to prepare for the melt
mother_edu['<ISCED level 0>'] = mother_edu['<ISCED level 0>'].replace(regex='1', value='<ISCED level 0>')
mother_edu['<ISCED level 1>'] = mother_edu['<ISCED level 1>'].replace(regex='1', value='<ISCED level 1>')
mother_edu['<ISCED level 2>'] = mother_edu['<ISCED level 2>'].replace(regex='1', value='<ISCED level 2>')
mother_edu['<ISCED level 3>'] = mother_edu['<ISCED level 3>'].replace(regex='1', value='<ISCED level 3>')
mother_edu['<ISCED level 4>'] = mother_edu['<ISCED level 4>'].replace(regex='Yes', value='<ISCED level 4>')
mother_edu['<ISCED level 5>'] = mother_edu['<ISCED level 5>'].replace(regex='Yes', value='<ISCED level 5>')
mother_edu['<ISCED level 6>'] = mother_edu['<ISCED level 6>'].replace(regex='Yes', value='<ISCED level 6>')

In [45]:
# Test to see if the columns are all correct before melt
mother_edu.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,<ISCED level 6>,<ISCED level 5>,<ISCED level 5>,<ISCED level 4>,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,<ISCED level 1>,<ISCED level 2>,<ISCED level 3>,<ISCED level 3>,<ISCED level 0>
3577947,Finland,3843,Female,<ISCED level 3A>,No,No,No,No,1.0,0.0,...,476.63968,548.47508,502.18202,509.098927,<ISCED level 3>,0,0,<ISCED level 3>,0,0
4191391,Latvia,1410,Female,<ISCED level 3A>,No,No,No,<ISCED level 4>,4.0,NaN,...,432.86336,517.65584,462.83104,471.116747,<ISCED level 3>,0,0,<ISCED level 3>,0,0
952897,Turkey,2018,Female,"<ISCED level 3B, 3C>",No,No,<ISCED level 5>,NaN,NaN,NaN,...,348.03708,447.04168,401.47332,398.850693,NaN,0,0,0,<ISCED level 3>,0
3664536,Italy,25517,Female,<ISCED level 3A>,NaN,NaN,NaN,<ISCED level 4>,7.0,2.0,...,444.62532,555.70332,416.76614,472.364927,<ISCED level 3>,0,0,<ISCED level 3>,0,0
2260895,Mexico,3233,Female,<ISCED level 1>,No,No,No,NaN,1.0,1.0,...,335.65198,319.07830,302.44312,319.057800,NaN,<ISCED level 1>,0,0,0,0
4074092,United Kingdom,1056,Male,"<ISCED level 3B, 3C>",No,No,No,No,NaN,NaN,...,464.95560,456.52906,440.07832,453.854327,<ISCED level 3>,0,0,0,<ISCED level 3>,0
3821286,Singapore,81,Female,<ISCED level 3A>,No,No,No,<ISCED level 4>,8.0,2.0,...,582.96462,573.49586,587.50466,581.321713,<ISCED level 3>,0,0,<ISCED level 3>,0,0
3399470,Albania,1041,Male,She did not complete <ISCED level 1>,NaN,NaN,NaN,NaN,9.0,9.0,...,473.36812,438.88630,478.49684,463.583753,<ISCED level 3>,0,0,0,0,<ISCED level 0>
3119003,Greece,4288,Male,<ISCED level 3A>,NaN,NaN,<ISCED level 5>,NaN,7.0,0.0,...,447.35162,464.70892,496.21410,469.424880,<ISCED level 2>,0,0,<ISCED level 3>,0,0
1341001,New Zealand,1426,Male,<ISCED level 3A>,No,No,<ISCED level 5>,No,7.0,0.0,...,621.28836,653.00562,651.65982,641.984600,<ISCED level 5>,0,0,<ISCED level 3>,0,0

In [46]:
# Combine all columns into one variable column
mother_edu = pd.melt(mother_edu, 
                     id_vars=['Country','Student ID', 'Gender',
                            'Out-of-School Study Time - Homework',
                            'Out-of-School Study Time - Guided Homework',
                            'Out-of-School Study Time - Personal Tutor',
                            'Out-of-School Study Time - Commercial Company',
                            'Out-of-School Study Time - With Parent',
                            'Learning Time - Mathematics',
                            'Learning Time - Test Language',
                            'Learning Time - Science',
                            'Average Math Score',
                            'Average Reading Score',
                            'Average Science Score',
                            'Average Total Score',
                             'Education - Father'], var_name='Completed_edu - Mother', value_name='Education - Mother')

In [47]:
# Check to see if the columns from the melt were correctly created
mother_edu.sample(10)

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Completed_edu - Mother,Education - Mother
8446161,Spain,20683,Female,1.0,0.0,0.0,0.0,0.0,180.0,180.0,90.0,545.41984,508.28300,539.38830,531.030380,<ISCED level 1>,<ISCED level 0>,0
1579539,Japan,4079,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,672.62034,683.63992,656.60200,670.954087,<ISCED level 5>,<ISCED level 6>,No
1799733,Brazil,282,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,303.24816,329.58116,340.95486,324.594727,NaN,<ISCED level 6>,NaN
3457886,Iceland,2621,Male,3.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,363.84952,361.49860,356.43420,360.594107,<ISCED level 5>,<ISCED level 5>,<ISCED level 5>
3575131,Uruguay,835,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,364.62846,296.30046,361.65608,340.861667,NaN,<ISCED level 5>,No
6722176,United Kingdom,7421,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,614.66740,640.85336,614.36032,623.293693,<ISCED level 3>,<ISCED level 3>,<ISCED level 3>
6946648,Poland,1020,Male,7.0,2.0,2.0,1.0,0.0,225.0,270.0,135.0,413.31208,386.11830,423.38678,407.605720,<ISCED level 3>,<ISCED level 3>,<ISCED level 3>
4594983,Australia,881,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.85542,564.95204,650.07458,592.294013,NaN,<ISCED level 4>,NaN
8733354,Spain,4157,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,401.08272,467.35530,439.05258,435.830200,<ISCED level 3>,<ISCED level 0>,0
8007510,New Zealand,3433,Male,1.0,0.0,0.0,0.0,0.0,280.0,280.0,560.0,753.16248,745.87088,786.59082,761.874727,<ISCED level 5>,<ISCED level 3>,0

In [48]:
# Remove all cases from melt where the education of the mother is either '0' or 'No'
mother_edu = mother_edu[(mother_edu['Education - Mother'] != '0')] 
mother_edu = mother_edu[(mother_edu['Education - Mother'] != 'No')]

In [49]:
# Check to see if 0's and No's have been removed
mother_edu.sample(70)

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Completed_edu - Mother,Education - Mother
2240826,Florida (USA),1368,Male,1.0,1.0,0.0,0.0,0.0,450.0,270.0,270.0,415.64884,393.49618,382.35732,397.167447,<ISCED level 3>,<ISCED level 5>,NaN
325266,Spain,19872,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,422.89296,430.04344,415.36740,422.767933,<ISCED level 3>,Mother - Highest Schooling,"<ISCED level 3B, 3C>"
8230840,Mexico,5420,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,487.31110,482.11112,471.78292,480.401713,NaN,<ISCED level 3>,<ISCED level 3>
3723354,Mexico,25243,Female,2.0,1.0,0.0,0.0,0.0,540.0,NaN,NaN,419.30988,447.20054,400.44760,422.319340,NaN,<ISCED level 5>,NaN
2708551,Chile,2605,Female,2.0,1.0,0.0,0.0,2.0,NaN,NaN,NaN,391.26812,482.46790,464.32300,446.019673,NaN,<ISCED level 5>,<ISCED level 5>
2964002,Estonia,2252,Female,30.0,0.0,0.0,0.0,24.0,180.0,225.0,270.0,497.12572,536.63986,506.65796,513.474513,<ISCED level 3>,<ISCED level 5>,<ISCED level 5>
3952463,Jordan,974,Female,20.0,5.0,0.0,0.0,0.0,330.0,385.0,440.0,441.35378,461.18040,454.43864,452.324273,<ISCED level 3>,<ISCED level 4>,NaN
380857,Singapore,128,Male,0.0,0.0,0.0,0.0,0.0,240.0,240.0,240.0,568.24272,530.30802,512.06638,536.872373,<ISCED level 3>,Mother - Highest Schooling,<ISCED level 1>
6566847,Mexico,10029,Male,5.0,2.0,0.0,0.0,3.0,250.0,250.0,250.0,436.99172,417.79510,430.00746,428.264760,<ISCED level 1>,<ISCED level 3>,<ISCED level 3>
2775473,Israel,2363,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,453.97258,441.95808,446.97872,447.636460,NaN,<ISCED level 5>,NaN
7285502,Mexico,29095,Male,12.0,10.0,3.0,1.0,1.0,225.0,225.0,540.0,320.46270,314.66498,308.78404,314.637240,NaN,<ISCED level 3>,<ISCED level 3>
6928308,Singapore,1185,Female,3.0,0.0,0.0,0.0,0.0,400.0,200.0,400.0,639.20392,638.78812,635.06154,637.684527,<ISCED level 3>,<ISCED level 3>,<ISCED level 3>
876262,Korea,1145,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,557.41550,519.24118,561.30176,545.986147,NaN,Mother - Highest Schooling,<ISCED level 3A>
3231335,Slovenia,610,Female,2.0,0.0,0.0,0.0,0.0,180.0,180.0,225.0,494.47734,515.19350,504.60648,504.759107,<ISCED level 3>,<ISCED level 5>,NaN
6620763,Italy,7920,Female,6.0,3.0,NaN,2.0,NaN,180.0,240.0,120.0,449.37686,510.03046,419.93658,459.781300,<ISCED level 2>,<ISCED level 3>,<ISCED level 3>
6701884,Ireland,5011,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,524.70012,449.15118,485.67698,486.509427,<ISCED level 3>,<ISCED level 3>,<ISCED level 3>
18644,Luxembourg,2008,Male,1.0,0.0,0.0,0.0,1.0,200.0,200.0,200.0,536.15050,493.09778,501.06304,510.103773,<ISCED level 1>,Mother - Highest Schooling,<ISCED level 2>
2872980,Russian Federation,4284,Male,20.0,NaN,0.0,3.0,20.0,135.0,90.0,90.0,395.70808,337.27984,443.24878,392.078900,<ISCED level 2>,<ISCED level 5>,<ISCED level 5>
3628569,United States of America,2673,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,574.16264,565.99456,606.52742,582.228207,NaN,<ISCED level 5>,NaN
3934817,Mexico,2183,Male,10.0,2.0,8.0,0.0,0.0,160.0,NaN,NaN,411.52048,399.51078,402.12606,404.385773,<ISCED level 3>,<ISCED level 4>,NaN
3663708,Australia,7695,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,411.90996,418.43666,453.87914,428.075253,NaN,<ISCED level 5>,<ISCED level 5>
310424,Denmark,2484,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,604.15172,536.24242,563.35324,567.915793,<ISCED level 3>,Mother - Highest Schooling,<ISCED level 3A>
699089,Greece,5046,Female,2.0,2.0,1.0,6.0,0.0,225.0,180.0,135.0,509.97816,591.68556,523.81574,541.826487,<ISCED level 6>,Mother - Highest Schooling,<ISCED level 3A>
3497734,Canada,19731,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,615.60212,630.07000,640.93622,628.869447,<ISCED level 6>,<ISCED level 5>,<ISCED level 5>
2705784,Switzerland,1529,Male,0.0,0.0,0.0,0.0,0.0,270.0,495.0,180.0,606.17700,545.14402,616.87804,589.399687,NaN,<ISCED level 5>,NaN
5703743,Macao-China,3010,Male,3.0,2.0,0.0,0.0,0.0,NaN,NaN,NaN,593.24662,570.56568,584.33420,582.715500,<ISCED level 2>,<ISCED level 2>,<ISCED level 2>
2085092,United Arab Emirates,5614,Female,10.0,5.0,4.0,0.0,2.0,270.0,315.0,90.0,279.25692,342.82820,333.40170,318.495607,<ISCED level 3>,<ISCED level 5>,<ISCED level 5>
4742819,Portugal,3135,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,556.63656,553.24094,550.76464,553.547380,<ISCED level 2>,<ISCED level 1>,<ISCED level 1>
223496,Canada,2080,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,459.26936,490.56988,427.02350,458.954247,<ISCED level 3>,Mother - Highest Schooling,<ISCED level 3A>
10062,Portugal,273,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,542.69358,553.56444,561.48826,552.582093,<ISCED level 0>,Mother - Highest Schooling,She did not complete <ISCED level 1>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4301735,Montenegro,4653,Male,2.0,NaN,1.0,1.0,2.0,450.0,450.0,450.0,440.57484,395.50106,443.06228,426.379393,<ISCED level 5>,<ISCED level 4>,NaN
8013326,Qatar,10211,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.74466,338.96390,330.51100,333.406520,<ISCED level 5>,<ISCED level 3>,<ISCED level 3>
2124844,Costa Rica,4418,Male,7.0,2.0,1.0,1.0,1.0,320.0,280.0,NaN,532.95684,535.36028,518.78030,529.032473,<ISCED level 3>,<ISCED level 5>,<ISCED level 5>
1844304,Italy,25882,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,473.29022,553.24092,543.49122,523.340787,NaN,<ISCED level 6>,NaN
663318,Serbia,2045,Male,2.0,0.0,0.0,0.0,3.0,135.0,135.0,90.0,471.88814,393.73678,474.20738,446.610767,<ISCED level 5>,Mother - Highest Schooling,"<ISCED level 3B, 3C>"
139984,Ireland,4145,Female,2.0,1.0,1.0,0.0,0.0,200.0,160.0,160.0,581.32886,610.11356,606.43418,599.292200,<ISCED level 3>,Mother - Highest Schooling,<ISCED level 3A>
7800305,Switzerland,8403,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,543.70618,457.09040,505.81872,502.205100,<ISCED level 3>,<ISCED level 3>,<ISCED level 3>
273468,Canada,17212,Female,1.0,0.0,0.0,0.0,0.0,0.0,0.0,320.0,381.14190,428.53426,436.34838,415.341513,<ISCED level 3>,Mother - Highest Schooling,<ISCED level 3A>
2766174,Serbia,4022,Female,NaN,NaN,NaN,NaN,1.0,NaN,NaN,30.0,267.72862,345.92600,379.55986,331.071493,NaN,<ISCED level 5>,NaN
7086823,Spain,19229,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,576.65522,454.52420,519.43308,516.870833,<ISCED level 5>,<ISCED level 3>,<ISCED level 3>
4473904,Mexico,30309,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,419.07620,350.27134,394.10666,387.818067,NaN,<ISCED level 4>,NaN
1806725,Belgium,4272,Male,6.0,6.0,2.0,0.0,2.0,200.0,180.0,120.0,440.10750,457.41120,455.37114,450.963280,NaN,<ISCED level 6>,<ISCED level 6>
598349,Brazil,17704,Male,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,420.40036,404.56306,414.90114,413.288187,<ISCED level 5>,Mother - Highest Schooling,<ISCED level 3A>
3571424,Uruguay,2955,Female,7.0,1.0,0.0,0.0,0.0,90.0,70.0,45.0,554.29972,582.86872,624.61770,587.262047,NaN,<ISCED level 5>,<ISCED level 5>
102452,Kazakhstan,1647,Female,3.0,2.0,1.0,1.0,1.0,180.0,90.0,225.0,420.47828,404.62552,396.25138,407.118393,<ISCED level 2>,Mother - Highest Schooling,<ISCED level 3A>
4528027,Colombia,6449,Female,2.0,1.0,NaN,NaN,NaN,240.0,240.0,180.0,280.97054,291.75404,325.66206,299.462213,NaN,<ISCED level 4>,NaN
64105,Portugal,5371,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,587.71616,572.97150,575.10256,578.596740,<ISCED level 2>,Mother - Highest Schooling,<ISCED level 2>
109028,Switzerland,5362,Male,6.0,1.0,1.0,0.0,8.0,NaN,NaN,NaN,406.06792,304.96144,319.41440,343.481253,<ISCED level 2>,Mother - Highest Schooling,NaN
4172148,Serbia,72,Male,4.0,1.0,0.0,0.0,3.0,180.0,180.0,90.0,632.50508,601.60094,586.10592,606.737313,<ISCED level 3>,<ISCED level 4>,NaN
2458750,Switzerland,7140,Female,5.0,2.0,0.0,0.0,12.0,180.0,180.0,270.0,572.83844,528.85562,599.72024,567.138100,<ISCED level 5>,<ISCED level 5>,<ISCED level 5>
115835,Albania,4671,Male,5.0,0.0,0.0,0.0,0.0,180.0,225.0,270.0,515.43076,495.98478,527.91870,513.111413,<ISCED level 2>,Mother - Highest Schooling,<ISCED level 2>
3248065,Thailand,4211,Male,14.0,8.0,0.0,0.0,7.0,350.0,150.0,150.0,538.72100,563.66892,571.09288,557.827600,<ISCED level 3>,<ISCED level 5>,NaN
797503,Mexico,1342,Female,2.0,1.0,1.0,1.0,2.0,200.0,200.0,250.0,413.23416,482.15020,438.12010,444.501487,NaN,Mother - Highest Schooling,<ISCED level 2>
7436135,Spain,21563,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,504.05826,507.61296,502.46178,504.711000,NaN,<ISCED level 3>,<ISCED level 3>
3680416,Israel,4313,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,549.85982,564.99674,555.14732,556.667960,NaN,<ISCED level 5>,NaN
550800,United Kingdom,8256,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,591.06560,633.27778,705.74412,643.362500,<ISCED level 5>,Mother - Highest Schooling,<ISCED level 3A>
6207460,Costa Rica,1142,Male,9.0,6.0,2.0,2.0,3.0,200.0,NaN,200.0,384.33558,420.84248,434.11040,413.096153,<ISCED level 5>,<ISCED level 2>,<ISCED level 2>
4772946,Mexico,9971,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,526.88114,457.57160,503.86050,496.104413,<ISCED level 2>,<ISCED level 1>,<ISCED level 1>
987468,Brazil,17190,Male,2.0,NaN,24.0,14.0,12.0,240.0,240.0,240.0,300.28822,287.55922,288.92204,292.256493,<ISCED level 1>,<ISCED level 6>,NaN
8165740,Hong Kong-China,2822,Female,5.0,1.0,2.0,0.0,0.0,280.0,280.0,NaN,566.37326,615.99144,560.74226,581.035653,<ISCED level 5>,<ISCED level 3>,<ISCED level 3>

In [50]:
# Remove 'Mother - Highest Schooling' since it is redundant
mother_edu = mother_edu[(mother_edu['Completed_edu - Mother'] != 'Mother - Highest Schooling')]

In [51]:
# Check to see if correct values remain
mother_edu['Education - Mother'].value_counts()

<ISCED level 3>    662598
<ISCED level 5>    454810
<ISCED level 4>    164266
<ISCED level 2>    142068
<ISCED level 6>     65007
<ISCED level 1>     61226
<ISCED level 0>     30053
Name: Education - Mother, dtype: int64

In [52]:
# Completed_edu is no longer needed since it duplicates the information in 'Education - Mother'
mother_edu.drop(columns=['Completed_edu - Mother'], axis=1, inplace=True)

In [53]:
# Ensure the column has been dropped
mother_edu.sample(10)

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Education - Mother
1184306,Belgium,1039,Male,3.0,0.0,0.0,0.0,2.0,150.0,200.0,NaN,371.71678,322.28346,402.40580,365.468680,<ISCED level 3>,NaN
8000103,Thailand,3974,Male,4.0,1.0,0.0,0.0,0.0,250.0,150.0,150.0,488.94688,472.72838,487.07572,482.916993,<ISCED level 4>,<ISCED level 3>
6933528,Romania,4054,Male,14.0,0.0,0.0,0.0,0.0,150.0,150.0,NaN,464.56614,504.72596,506.09846,491.796853,<ISCED level 3>,<ISCED level 3>
3546368,Montenegro,2051,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215.15032,137.75592,181.68592,178.197387,NaN,NaN
5425960,Mexico,7959,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,385.89342,435.92134,390.84294,404.219233,NaN,<ISCED level 1>
7026090,Australia,11966,Male,1.0,0.0,1.0,0.0,0.0,265.0,265.0,212.0,401.08272,385.31636,449.03022,411.809767,<ISCED level 4>,<ISCED level 3>
7079595,Belgium,3527,Female,9.0,0.0,0.0,0.0,0.0,200.0,200.0,NaN,507.25190,558.88054,557.47854,541.203660,<ISCED level 5>,<ISCED level 3>
4583705,Canada,11222,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,647.07120,638.97160,706.49012,664.177640,NaN,NaN
3687478,United Kingdom,860,Male,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,423.90560,399.19002,434.85638,419.317333,NaN,<ISCED level 5>
2509810,Spain,7029,Male,10.0,0.0,0.0,0.0,0.0,240.0,180.0,NaN,658.36580,656.21340,637.48600,650.688400,<ISCED level 5>,<ISCED level 5>

In [54]:
# Check if there are any duplicated values remaining
mother_edu['Student ID'].duplicated().sum()

2572439

In [55]:
# mother_edu.replace(["NaN"], np.nan, inplace = True)
# mother_edu.dropna(inplace = True)

In [56]:
# Change datatypes into category, and put into order from lowest to highest
mother_edu['Education - Mother'] = mother_edu['Education - Mother'].astype('category')
mother_edu['Education - Mother'] = mother_edu['Education - Mother'].cat.set_categories(['<ISCED level 0>', 
                                                                                        '<ISCED level 1>', 
                                                                                        '<ISCED level 2>', 
                                                                                        '<ISCED level 3>',
                                                                                        '<ISCED level 4>', 
                                                                                        '<ISCED level 5>', 
                                                                                        '<ISCED level 6>'], ordered=True)
mother_edu.sort_values(['Education - Mother'], inplace=True)

# Remove duplicates and keep last, which is the highest level of education for the student's father
mother_edu_clean = mother_edu.drop_duplicates(keep='last')

In [57]:
# Ensure there are no duplicates
mother_edu_clean['Student ID'].duplicated().sum()

1968316

In [58]:
# Check the size of the dataframe - 
mother_edu_clean.shape

(2002122, 17)

In [59]:
# Update pisa_clean with final variable from mother and father education
pisa_clean = mother_edu_clean.copy()

In [60]:
mother_edu_clean.head()

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Education - Mother
9339235,Mexico,22883,Female,5.0,3.0,1.0,0.0,2.0,900.0,480.0,480.0,312.82910,321.54066,285.84482,306.738193,NaN,<ISCED level 0>
9270076,Colombia,4439,Female,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.25908,346.16428,294.70346,304.708940,NaN,<ISCED level 0>
9313010,Singapore,534,Female,10.0,2.0,5.0,3.0,0.0,180.0,225.0,225.0,464.17668,479.52896,423.10706,455.604233,NaN,<ISCED level 0>
9341153,Luxembourg,721,Male,2.0,NaN,0.0,NaN,NaN,90.0,90.0,NaN,379.73982,401.59584,324.72958,368.688413,NaN,<ISCED level 0>
9231275,Jordan,1639,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.51098,367.92838,353.63672,350.692027,NaN,<ISCED level 0>

### 4. Missing values in relevant columns 
('Mother Highest Schooling', 'Father Highest Schooling', 'How many books at home', 'Out-of-School Study Time - Homework', 'Out-of-School Study Time - Guided Homework', 'Out-of-School Study Time - Personal Tutor','Out-of-School Study Time - Commercial Company', 'Out-of-School Study Time - With Parent', 'Learning time (minutes per week)- Mathematics', 'Learning time (minutes per week)  - test language', 'Learning time (minutes per week) - Science')

Due to the amount of rows in this dataframe, we can comfortably remove the rows with missing values.

In [61]:
# Change string "NaN" to real nan value, and drop those values
pisa_clean.replace(["NaN"], np.nan, inplace = True)
pisa_clean.dropna(inplace = True)

In [62]:
# Check to see if null values correctly dropped
pisa_clean

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Education - Mother
8633803,Jordan,5208,Female,5.0,1.0,2.0,0.0,0.0,225.0,270.0,315.0,304.33868,333.37590,355.96794,331.227507,<ISCED level 3>,<ISCED level 0>
8435132,Mexico,27182,Female,4.0,2.0,1.0,0.0,1.0,150.0,150.0,180.0,369.69154,382.06712,396.06490,382.607853,<ISCED level 0>,<ISCED level 0>
8633906,United Arab Emirates,5353,Female,4.0,2.0,3.0,2.0,1.0,315.0,315.0,270.0,367.74420,394.85550,384.96830,382.522667,<ISCED level 3>,<ISCED level 0>
8435127,Mexico,27237,Male,4.0,1.0,0.0,0.0,0.0,275.0,165.0,275.0,489.88162,538.56808,426.55726,485.002320,<ISCED level 0>,<ISCED level 0>
8435121,Mexico,27343,Male,4.0,2.0,0.0,0.0,2.0,120.0,180.0,180.0,432.94126,357.32846,425.90452,405.391413,<ISCED level 0>,<ISCED level 0>
8633551,Jordan,5821,Male,2.0,1.0,3.0,4.0,0.0,225.0,270.0,315.0,421.10142,460.93976,444.36776,442.136313,<ISCED level 3>,<ISCED level 0>
8633468,Jordan,5952,Male,2.0,2.0,2.0,3.0,2.0,225.0,180.0,135.0,274.34958,241.20684,296.38194,270.646120,<ISCED level 3>,<ISCED level 0>
8631736,Jordan,6733,Female,4.0,2.0,1.0,1.0,2.0,225.0,270.0,315.0,420.16670,470.07664,473.64790,454.630413,<ISCED level 3>,<ISCED level 0>
8631832,Jordan,6131,Female,7.0,3.0,0.0,0.0,1.0,225.0,270.0,225.0,350.21808,397.31788,399.42188,382.319280,<ISCED level 3>,<ISCED level 0>
8632050,Jordan,6309,Male,5.0,2.0,2.0,2.0,2.0,250.0,250.0,350.0,326.77210,340.08662,382.17084,349.676520,<ISCED level 3>,<ISCED level 0>
8632480,Jordan,6957,Female,2.0,0.0,0.0,0.0,0.0,225.0,270.0,315.0,353.02228,353.78966,356.71390,354.508613,<ISCED level 3>,<ISCED level 0>
8435134,Mexico,27177,Male,4.0,1.0,0.0,0.0,0.0,275.0,220.0,220.0,334.95092,282.90794,365.47932,327.779393,<ISCED level 0>,<ISCED level 0>
8632481,Jordan,6960,Female,1.0,1.0,1.0,1.0,1.0,225.0,270.0,315.0,327.55104,282.77834,325.84856,312.059313,<ISCED level 3>,<ISCED level 0>
8632971,Jordan,4474,Male,1.0,1.0,2.0,0.0,5.0,225.0,225.0,225.0,345.15500,309.53252,304.30810,319.665207,<ISCED level 3>,<ISCED level 0>
8633227,Jordan,4274,Male,4.0,2.0,0.0,0.0,0.0,225.0,270.0,315.0,406.53530,399.35040,414.06190,406.649200,<ISCED level 3>,<ISCED level 0>
8635286,United Arab Emirates,7008,Male,2.0,2.0,1.0,2.0,3.0,280.0,175.0,210.0,254.09720,202.23230,248.54532,234.958273,<ISCED level 3>,<ISCED level 0>
8635397,United Arab Emirates,7712,Female,6.0,1.0,0.0,0.0,0.0,270.0,270.0,90.0,492.91946,520.75366,495.28160,502.984907,<ISCED level 3>,<ISCED level 0>
8635633,United Arab Emirates,7537,Male,1.0,1.0,2.0,2.0,2.0,90.0,45.0,45.0,290.94098,252.51424,245.84110,263.098773,<ISCED level 3>,<ISCED level 0>
8635667,United Arab Emirates,6371,Female,3.0,0.0,0.0,0.0,0.0,270.0,270.0,180.0,486.92166,520.59480,503.76726,503.761240,<ISCED level 3>,<ISCED level 0>
8634616,United Arab Emirates,4297,Female,7.0,0.0,0.0,0.0,0.0,270.0,270.0,315.0,402.40692,443.70558,454.90488,433.672460,<ISCED level 3>,<ISCED level 0>
8634815,United Arab Emirates,4794,Male,2.0,1.0,1.0,2.0,1.0,225.0,225.0,225.0,327.23944,302.47542,343.65910,324.457987,<ISCED level 3>,<ISCED level 0>
8435095,Mexico,28077,Female,3.0,2.0,1.0,3.0,4.0,300.0,150.0,100.0,237.97322,298.10852,377.13540,304.405713,<ISCED level 0>,<ISCED level 0>
8631223,Jordan,1235,Male,3.0,3.0,3.0,3.0,3.0,225.0,315.0,360.0,318.28168,310.01370,309.90302,312.732800,<ISCED level 3>,<ISCED level 0>
8435141,Mexico,27156,Female,3.0,2.0,0.0,0.0,0.0,120.0,150.0,100.0,414.55834,429.56684,386.55352,410.226233,<ISCED level 0>,<ISCED level 0>
8620749,Italy,10666,Female,0.0,0.0,0.0,0.0,0.0,240.0,240.0,120.0,501.40988,514.31974,548.99292,521.574180,<ISCED level 3>,<ISCED level 0>
8435198,Mexico,23679,Male,6.0,2.0,0.0,0.0,0.0,225.0,135.0,225.0,416.66148,378.09886,397.27712,397.345820,<ISCED level 0>,<ISCED level 0>
8435191,Mexico,23708,Female,8.0,8.0,2.0,0.0,1.0,480.0,480.0,480.0,541.13570,547.91906,517.00860,535.354453,<ISCED level 0>,<ISCED level 0>
8435185,Mexico,23751,Male,1.0,1.0,0.0,0.0,0.0,300.0,240.0,480.0,380.83034,324.44872,380.67886,361.985973,<ISCED level 0>,<ISCED level 0>
8623926,Italy,17551,Male,5.0,5.0,5.0,5.0,5.0,240.0,300.0,120.0,458.95778,379.62254,510.57440,449.718240,<ISCED level 3>,<ISCED level 0>
8435182,Mexico,25457,Female,2.0,2.0,3.0,1.0,1.0,225.0,135.0,225.0,364.55056,411.77432,354.56918,376.964687,<ISCED level 0>,<ISCED level 0>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1622162,Canada,7089,Male,1.0,0.0,0.0,0.0,0.0,300.0,300.0,300.0,655.40580,606.49282,652.77882,638.225813,<ISCED level 6>,<ISCED level 6>
1622161,Switzerland,1356,Female,2.0,1.0,2.0,0.0,2.0,270.0,270.0,90.0,506.23930,588.34946,547.12794,547.238900,<ISCED level 6>,<ISCED level 6>
1622073,Qatar,4191,Female,1.0,1.0,1.0,1.0,1.0,330.0,220.0,165.0,365.64108,372.21766,338.62364,358.827460,<ISCED level 6>,<ISCED level 6>
1622070,Canada,10790,Male,10.0,7.0,0.0,0.0,2.0,435.0,435.0,435.0,461.52828,509.77824,531.46212,500.922880,<ISCED level 6>,<ISCED level 6>
1621994,Switzerland,1900,Female,5.0,0.0,0.0,0.0,0.0,225.0,180.0,90.0,720.68082,669.92510,629.93286,673.512927,<ISCED level 6>,<ISCED level 6>
1621990,Brazil,10521,Male,2.0,2.0,2.0,2.0,2.0,100.0,100.0,100.0,396.79856,311.45720,375.92318,361.392980,<ISCED level 6>,<ISCED level 6>
1621985,Brazil,2444,Male,1.0,0.0,0.0,0.0,1.0,200.0,200.0,120.0,365.48528,331.34544,369.39574,355.408820,<ISCED level 6>,<ISCED level 6>
1621984,Qatar,937,Male,1.0,1.0,1.0,1.0,1.0,220.0,220.0,220.0,335.72988,284.67222,308.22456,309.542220,<ISCED level 6>,<ISCED level 6>
1621980,Brazil,9631,Male,1.0,0.0,3.0,0.0,0.0,300.0,200.0,150.0,468.14924,467.03456,543.39800,492.860600,<ISCED level 6>,<ISCED level 6>
1621979,Brazil,9632,Male,6.0,3.0,0.0,0.0,2.0,300.0,250.0,400.0,543.08302,520.12334,543.58448,535.596947,<ISCED level 6>,<ISCED level 6>
1621972,Qatar,931,Male,3.0,1.0,0.0,0.0,3.0,275.0,220.0,275.0,394.22806,367.27260,393.36068,384.953780,<ISCED level 6>,<ISCED level 6>
1621962,Brazil,6541,Female,8.0,0.0,0.0,0.0,0.0,180.0,180.0,180.0,563.88066,549.11054,588.06414,567.018447,<ISCED level 6>,<ISCED level 6>
1621950,Canada,14509,Female,3.0,0.0,0.0,0.0,0.0,475.0,475.0,475.0,582.18570,584.93390,616.50502,594.541540,<ISCED level 6>,<ISCED level 6>
1621942,Canada,14502,Female,11.0,1.0,1.0,0.0,0.0,450.0,450.0,450.0,655.32794,615.27658,639.72398,636.776167,<ISCED level 6>,<ISCED level 6>
1621940,Canada,14500,Female,10.0,1.0,0.0,0.0,1.0,400.0,0.0,400.0,633.51768,639.82074,638.51176,637.283393,<ISCED level 6>,<ISCED level 6>
1621959,Canada,11969,Female,6.0,3.0,0.0,6.0,0.0,180.0,300.0,180.0,610.53900,549.42826,530.06342,563.343560,<ISCED level 6>,<ISCED level 6>
1622064,Brazil,2543,Male,3.0,0.0,0.0,0.0,0.0,250.0,250.0,150.0,417.59618,448.83038,439.23908,435.221880,<ISCED level 6>,<ISCED level 6>
1622058,Switzerland,1617,Female,1.0,0.0,0.0,0.0,1.0,180.0,180.0,270.0,744.59418,713.37390,695.58002,717.849367,<ISCED level 6>,<ISCED level 6>
1622048,Canada,7298,Male,1.0,1.0,0.0,0.0,1.0,300.0,300.0,300.0,500.31940,495.42342,516.44908,504.063967,<ISCED level 6>,<ISCED level 6>
1622039,Canada,14415,Male,10.0,6.0,0.0,0.0,0.0,350.0,350.0,350.0,627.51988,577.54258,626.38942,610.483960,<ISCED level 6>,<ISCED level 6>
1621999,Brazil,8793,Male,12.0,6.0,2.0,2.0,2.0,200.0,250.0,300.0,505.30456,474.17184,489.50020,489.658867,<ISCED level 6>,<ISCED level 6>
1622038,Canada,14413,Female,12.0,5.0,0.0,0.0,5.0,350.0,350.0,350.0,583.27620,581.91552,582.37596,582.522560,<ISCED level 6>,<ISCED level 6>
1622034,Canada,10818,Male,15.0,0.0,1.0,0.0,0.0,600.0,480.0,480.0,585.22354,613.06872,586.66542,594.985893,<ISCED level 6>,<ISCED level 6>
1622033,Brazil,4139,Male,1.0,1.0,12.0,0.0,0.0,100.0,100.0,200.0,374.05358,304.23972,421.98808,366.760460,<ISCED level 6>,<ISCED level 6>
1622028,Canada,7343,Male,2.0,0.0,0.0,0.0,0.0,300.0,300.0,180.0,556.79232,569.44294,620.51474,582.250000,<ISCED level 6>,<ISCED level 6>
1622027,Canada,11942,Male,5.0,0.0,0.0,0.0,1.0,275.0,275.0,275.0,573.22792,540.33234,558.78402,557.448093,<ISCED level 6>,<ISCED level 6>
1622023,Qatar,832,Male,5.0,5.0,4.0,3.0,3.0,275.0,275.0,275.0,306.13022,322.84482,360.44388,329.806307,<ISCED level 6>,<ISCED level 6>
1622014,Brazil,4154,Male,4.0,0.0,0.0,0.0,0.0,360.0,360.0,360.0,513.01606,488.52670,455.18464,485.575800,<ISCED level 6>,<ISCED level 6>
1622012,Brazil,4153,Male,3.0,3.0,4.0,3.0,1.0,240.0,1440.0,240.0,433.79810,489.00786,454.43862,459.081527,<ISCED level 6>,<ISCED level 6>
1622036,Brazil,8787,Male,1.0,1.0,3.0,1.0,0.0,200.0,250.0,250.0,464.79982,409.77568,437.84038,437.471960,<ISCED level 6>,<ISCED level 6>

In [63]:
# Confirm with smaller shape of dataframe
pisa_clean.shape

(560077, 17)

### 5. Create a total for Out-of-School Study Time and Learning time (minutes per week)

In [64]:
# Create total of Out-of-School Study Time
pisa_clean['Out-of-School Study Time - Total'] = pisa_clean['Out-of-School Study Time - Homework'] + pisa_clean['Out-of-School Study Time - Guided Homework'] + pisa_clean['Out-of-School Study Time - Personal Tutor'] + pisa_clean['Out-of-School Study Time - Commercial Company'] + pisa_clean['Out-of-School Study Time - With Parent']

# Create total of Learning time (minutes per week)
pisa_clean['Learning Time - Total'] = pisa_clean['Learning Time - Mathematics'] + pisa_clean['Learning Time - Test Language'] + pisa_clean['Learning Time - Science']

In [65]:
list(pisa_clean)

['Country',
 'Student ID',
 'Gender',
 'Out-of-School Study Time - Homework',
 'Out-of-School Study Time - Guided Homework',
 'Out-of-School Study Time - Personal Tutor',
 'Out-of-School Study Time - Commercial Company',
 'Out-of-School Study Time - With Parent',
 'Learning Time - Mathematics',
 'Learning Time - Test Language',
 'Learning Time - Science',
 'Average Math Score',
 'Average Reading Score',
 'Average Science Score',
 'Average Total Score',
 'Education - Father',
 'Education - Mother',
 'Out-of-School Study Time - Total',
 'Learning Time - Total']

<a id='assessing2'></a>
### Final Assessment

In this section, we will do the preliminary visual and programmatic assessment of the pisa datasets to determine whether or not it holds any major quality or tidiness issues.

In [66]:
pisa_clean

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Education - Mother,Out-of-School Study Time - Total,Learning Time - Total
8633803,Jordan,5208,Female,5.0,1.0,2.0,0.0,0.0,225.0,270.0,315.0,304.33868,333.37590,355.96794,331.227507,<ISCED level 3>,<ISCED level 0>,8.0,810.0
8435132,Mexico,27182,Female,4.0,2.0,1.0,0.0,1.0,150.0,150.0,180.0,369.69154,382.06712,396.06490,382.607853,<ISCED level 0>,<ISCED level 0>,8.0,480.0
8633906,United Arab Emirates,5353,Female,4.0,2.0,3.0,2.0,1.0,315.0,315.0,270.0,367.74420,394.85550,384.96830,382.522667,<ISCED level 3>,<ISCED level 0>,12.0,900.0
8435127,Mexico,27237,Male,4.0,1.0,0.0,0.0,0.0,275.0,165.0,275.0,489.88162,538.56808,426.55726,485.002320,<ISCED level 0>,<ISCED level 0>,5.0,715.0
8435121,Mexico,27343,Male,4.0,2.0,0.0,0.0,2.0,120.0,180.0,180.0,432.94126,357.32846,425.90452,405.391413,<ISCED level 0>,<ISCED level 0>,8.0,480.0
8633551,Jordan,5821,Male,2.0,1.0,3.0,4.0,0.0,225.0,270.0,315.0,421.10142,460.93976,444.36776,442.136313,<ISCED level 3>,<ISCED level 0>,10.0,810.0
8633468,Jordan,5952,Male,2.0,2.0,2.0,3.0,2.0,225.0,180.0,135.0,274.34958,241.20684,296.38194,270.646120,<ISCED level 3>,<ISCED level 0>,11.0,540.0
8631736,Jordan,6733,Female,4.0,2.0,1.0,1.0,2.0,225.0,270.0,315.0,420.16670,470.07664,473.64790,454.630413,<ISCED level 3>,<ISCED level 0>,10.0,810.0
8631832,Jordan,6131,Female,7.0,3.0,0.0,0.0,1.0,225.0,270.0,225.0,350.21808,397.31788,399.42188,382.319280,<ISCED level 3>,<ISCED level 0>,11.0,720.0
8632050,Jordan,6309,Male,5.0,2.0,2.0,2.0,2.0,250.0,250.0,350.0,326.77210,340.08662,382.17084,349.676520,<ISCED level 3>,<ISCED level 0>,13.0,850.0
8632480,Jordan,6957,Female,2.0,0.0,0.0,0.0,0.0,225.0,270.0,315.0,353.02228,353.78966,356.71390,354.508613,<ISCED level 3>,<ISCED level 0>,2.0,810.0
8435134,Mexico,27177,Male,4.0,1.0,0.0,0.0,0.0,275.0,220.0,220.0,334.95092,282.90794,365.47932,327.779393,<ISCED level 0>,<ISCED level 0>,5.0,715.0
8632481,Jordan,6960,Female,1.0,1.0,1.0,1.0,1.0,225.0,270.0,315.0,327.55104,282.77834,325.84856,312.059313,<ISCED level 3>,<ISCED level 0>,5.0,810.0
8632971,Jordan,4474,Male,1.0,1.0,2.0,0.0,5.0,225.0,225.0,225.0,345.15500,309.53252,304.30810,319.665207,<ISCED level 3>,<ISCED level 0>,9.0,675.0
8633227,Jordan,4274,Male,4.0,2.0,0.0,0.0,0.0,225.0,270.0,315.0,406.53530,399.35040,414.06190,406.649200,<ISCED level 3>,<ISCED level 0>,6.0,810.0
8635286,United Arab Emirates,7008,Male,2.0,2.0,1.0,2.0,3.0,280.0,175.0,210.0,254.09720,202.23230,248.54532,234.958273,<ISCED level 3>,<ISCED level 0>,10.0,665.0
8635397,United Arab Emirates,7712,Female,6.0,1.0,0.0,0.0,0.0,270.0,270.0,90.0,492.91946,520.75366,495.28160,502.984907,<ISCED level 3>,<ISCED level 0>,7.0,630.0
8635633,United Arab Emirates,7537,Male,1.0,1.0,2.0,2.0,2.0,90.0,45.0,45.0,290.94098,252.51424,245.84110,263.098773,<ISCED level 3>,<ISCED level 0>,8.0,180.0
8635667,United Arab Emirates,6371,Female,3.0,0.0,0.0,0.0,0.0,270.0,270.0,180.0,486.92166,520.59480,503.76726,503.761240,<ISCED level 3>,<ISCED level 0>,3.0,720.0
8634616,United Arab Emirates,4297,Female,7.0,0.0,0.0,0.0,0.0,270.0,270.0,315.0,402.40692,443.70558,454.90488,433.672460,<ISCED level 3>,<ISCED level 0>,7.0,855.0
8634815,United Arab Emirates,4794,Male,2.0,1.0,1.0,2.0,1.0,225.0,225.0,225.0,327.23944,302.47542,343.65910,324.457987,<ISCED level 3>,<ISCED level 0>,7.0,675.0
8435095,Mexico,28077,Female,3.0,2.0,1.0,3.0,4.0,300.0,150.0,100.0,237.97322,298.10852,377.13540,304.405713,<ISCED level 0>,<ISCED level 0>,13.0,550.0
8631223,Jordan,1235,Male,3.0,3.0,3.0,3.0,3.0,225.0,315.0,360.0,318.28168,310.01370,309.90302,312.732800,<ISCED level 3>,<ISCED level 0>,15.0,900.0
8435141,Mexico,27156,Female,3.0,2.0,0.0,0.0,0.0,120.0,150.0,100.0,414.55834,429.56684,386.55352,410.226233,<ISCED level 0>,<ISCED level 0>,5.0,370.0
8620749,Italy,10666,Female,0.0,0.0,0.0,0.0,0.0,240.0,240.0,120.0,501.40988,514.31974,548.99292,521.574180,<ISCED level 3>,<ISCED level 0>,0.0,600.0
8435198,Mexico,23679,Male,6.0,2.0,0.0,0.0,0.0,225.0,135.0,225.0,416.66148,378.09886,397.27712,397.345820,<ISCED level 0>,<ISCED level 0>,8.0,585.0
8435191,Mexico,23708,Female,8.0,8.0,2.0,0.0,1.0,480.0,480.0,480.0,541.13570,547.91906,517.00860,535.354453,<ISCED level 0>,<ISCED level 0>,19.0,1440.0
8435185,Mexico,23751,Male,1.0,1.0,0.0,0.0,0.0,300.0,240.0,480.0,380.83034,324.44872,380.67886,361.985973,<ISCED level 0>,<ISCED level 0>,2.0,1020.0
8623926,Italy,17551,Male,5.0,5.0,5.0,5.0,5.0,240.0,300.0,120.0,458.95778,379.62254,510.57440,449.718240,<ISCED level 3>,<ISCED level 0>,25.0,660.0
8435182,Mexico,25457,Female,2.0,2.0,3.0,1.0,1.0,225.0,135.0,225.0,364.55056,411.77432,354.56918,376.964687,<ISCED level 0>,<ISCED level 0>,9.0,585.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1622162,Canada,7089,Male,1.0,0.0,0.0,0.0,0.0,300.0,300.0,300.0,655.40580,606.49282,652.77882,638.225813,<ISCED level 6>,<ISCED level 6>,1.0,900.0
1622161,Switzerland,1356,Female,2.0,1.0,2.0,0.0,2.0,270.0,270.0,90.0,506.23930,588.34946,547.12794,547.238900,<ISCED level 6>,<ISCED level 6>,7.0,630.0
1622073,Qatar,4191,Female,1.0,1.0,1.0,1.0,1.0,330.0,220.0,165.0,365.64108,372.21766,338.62364,358.827460,<ISCED level 6>,<ISCED level 6>,5.0,715.0
1622070,Canada,10790,Male,10.0,7.0,0.0,0.0,2.0,435.0,435.0,435.0,461.52828,509.77824,531.46212,500.922880,<ISCED level 6>,<ISCED level 6>,19.0,1305.0
1621994,Switzerland,1900,Female,5.0,0.0,0.0,0.0,0.0,225.0,180.0,90.0,720.68082,669.92510,629.93286,673.512927,<ISCED level 6>,<ISCED level 6>,5.0,495.0
1621990,Brazil,10521,Male,2.0,2.0,2.0,2.0,2.0,100.0,100.0,100.0,396.79856,311.45720,375.92318,361.392980,<ISCED level 6>,<ISCED level 6>,10.0,300.0
1621985,Brazil,2444,Male,1.0,0.0,0.0,0.0,1.0,200.0,200.0,120.0,365.48528,331.34544,369.39574,355.408820,<ISCED level 6>,<ISCED level 6>,2.0,520.0
1621984,Qatar,937,Male,1.0,1.0,1.0,1.0,1.0,220.0,220.0,220.0,335.72988,284.67222,308.22456,309.542220,<ISCED level 6>,<ISCED level 6>,5.0,660.0
1621980,Brazil,9631,Male,1.0,0.0,3.0,0.0,0.0,300.0,200.0,150.0,468.14924,467.03456,543.39800,492.860600,<ISCED level 6>,<ISCED level 6>,4.0,650.0
1621979,Brazil,9632,Male,6.0,3.0,0.0,0.0,2.0,300.0,250.0,400.0,543.08302,520.12334,543.58448,535.596947,<ISCED level 6>,<ISCED level 6>,11.0,950.0
1621972,Qatar,931,Male,3.0,1.0,0.0,0.0,3.0,275.0,220.0,275.0,394.22806,367.27260,393.36068,384.953780,<ISCED level 6>,<ISCED level 6>,7.0,770.0
1621962,Brazil,6541,Female,8.0,0.0,0.0,0.0,0.0,180.0,180.0,180.0,563.88066,549.11054,588.06414,567.018447,<ISCED level 6>,<ISCED level 6>,8.0,540.0
1621950,Canada,14509,Female,3.0,0.0,0.0,0.0,0.0,475.0,475.0,475.0,582.18570,584.93390,616.50502,594.541540,<ISCED level 6>,<ISCED level 6>,3.0,1425.0
1621942,Canada,14502,Female,11.0,1.0,1.0,0.0,0.0,450.0,450.0,450.0,655.32794,615.27658,639.72398,636.776167,<ISCED level 6>,<ISCED level 6>,13.0,1350.0
1621940,Canada,14500,Female,10.0,1.0,0.0,0.0,1.0,400.0,0.0,400.0,633.51768,639.82074,638.51176,637.283393,<ISCED level 6>,<ISCED level 6>,12.0,800.0
1621959,Canada,11969,Female,6.0,3.0,0.0,6.0,0.0,180.0,300.0,180.0,610.53900,549.42826,530.06342,563.343560,<ISCED level 6>,<ISCED level 6>,15.0,660.0
1622064,Brazil,2543,Male,3.0,0.0,0.0,0.0,0.0,250.0,250.0,150.0,417.59618,448.83038,439.23908,435.221880,<ISCED level 6>,<ISCED level 6>,3.0,650.0
1622058,Switzerland,1617,Female,1.0,0.0,0.0,0.0,1.0,180.0,180.0,270.0,744.59418,713.37390,695.58002,717.849367,<ISCED level 6>,<ISCED level 6>,2.0,630.0
1622048,Canada,7298,Male,1.0,1.0,0.0,0.0,1.0,300.0,300.0,300.0,500.31940,495.42342,516.44908,504.063967,<ISCED level 6>,<ISCED level 6>,3.0,900.0
1622039,Canada,14415,Male,10.0,6.0,0.0,0.0,0.0,350.0,350.0,350.0,627.51988,577.54258,626.38942,610.483960,<ISCED level 6>,<ISCED level 6>,16.0,1050.0
1621999,Brazil,8793,Male,12.0,6.0,2.0,2.0,2.0,200.0,250.0,300.0,505.30456,474.17184,489.50020,489.658867,<ISCED level 6>,<ISCED level 6>,24.0,750.0
1622038,Canada,14413,Female,12.0,5.0,0.0,0.0,5.0,350.0,350.0,350.0,583.27620,581.91552,582.37596,582.522560,<ISCED level 6>,<ISCED level 6>,22.0,1050.0
1622034,Canada,10818,Male,15.0,0.0,1.0,0.0,0.0,600.0,480.0,480.0,585.22354,613.06872,586.66542,594.985893,<ISCED level 6>,<ISCED level 6>,16.0,1560.0
1622033,Brazil,4139,Male,1.0,1.0,12.0,0.0,0.0,100.0,100.0,200.0,374.05358,304.23972,421.98808,366.760460,<ISCED level 6>,<ISCED level 6>,14.0,400.0
1622028,Canada,7343,Male,2.0,0.0,0.0,0.0,0.0,300.0,300.0,180.0,556.79232,569.44294,620.51474,582.250000,<ISCED level 6>,<ISCED level 6>,2.0,780.0
1622027,Canada,11942,Male,5.0,0.0,0.0,0.0,1.0,275.0,275.0,275.0,573.22792,540.33234,558.78402,557.448093,<ISCED level 6>,<ISCED level 6>,6.0,825.0
1622023,Qatar,832,Male,5.0,5.0,4.0,3.0,3.0,275.0,275.0,275.0,306.13022,322.84482,360.44388,329.806307,<ISCED level 6>,<ISCED level 6>,20.0,825.0
1622014,Brazil,4154,Male,4.0,0.0,0.0,0.0,0.0,360.0,360.0,360.0,513.01606,488.52670,455.18464,485.575800,<ISCED level 6>,<ISCED level 6>,4.0,1080.0
1622012,Brazil,4153,Male,3.0,3.0,4.0,3.0,1.0,240.0,1440.0,240.0,433.79810,489.00786,454.43862,459.081527,<ISCED level 6>,<ISCED level 6>,14.0,1920.0
1622036,Brazil,8787,Male,1.0,1.0,3.0,1.0,0.0,200.0,250.0,250.0,464.79982,409.77568,437.84038,437.471960,<ISCED level 6>,<ISCED level 6>,6.0,700.0

In [67]:
pisa_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560077 entries, 8633803 to 1622036
Data columns (total 19 columns):
Country                                          560077 non-null object
Student ID                                       560077 non-null int64
Gender                                           560077 non-null object
Out-of-School Study Time - Homework              560077 non-null float64
Out-of-School Study Time - Guided Homework       560077 non-null float64
Out-of-School Study Time - Personal Tutor        560077 non-null float64
Out-of-School Study Time - Commercial Company    560077 non-null float64
Out-of-School Study Time - With Parent           560077 non-null float64
Learning Time - Mathematics                      560077 non-null float64
Learning Time - Test Language                    560077 non-null float64
Learning Time - Science                          560077 non-null float64
Average Math Score                               560077 non-null float64
Average Reading Score                            560077 non-null float64
Average Science Score                            560077 non-null float64
Average Total Score                              560077 non-null float64
Education - Father                               560077 non-null category
Education - Mother                               560077 non-null category
Out-of-School Study Time - Total                 560077 non-null float64
Learning Time - Total                            560077 non-null float64
dtypes: category(2), float64(14), int64(1), object(2)
memory usage: 78.0+ MB

In [68]:
pisa_clean.shape

(560077, 19)

In [69]:
pisa_clean.drop_duplicates(keep='last', inplace=True)

In [70]:
pisa_clean.duplicated().sum()

0

In [71]:
pisa_clean['Student ID'].drop_duplicates(keep='last', inplace=True)

In [72]:
pisa_clean['Student ID'].duplicated().sum()

0

In [73]:
pisa_clean.shape

(560077, 19)

In [75]:
pisa.shape

(485490, 636)

In [76]:
pisa_clean.head()

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Education - Mother,Out-of-School Study Time - Total,Learning Time - Total
8633803,Jordan,5208,Female,5.0,1.0,2.0,0.0,0.0,225.0,270.0,315.0,304.33868,333.37590,355.96794,331.227507,<ISCED level 3>,<ISCED level 0>,8.0,810.0
8435132,Mexico,27182,Female,4.0,2.0,1.0,0.0,1.0,150.0,150.0,180.0,369.69154,382.06712,396.06490,382.607853,<ISCED level 0>,<ISCED level 0>,8.0,480.0
8633906,United Arab Emirates,5353,Female,4.0,2.0,3.0,2.0,1.0,315.0,315.0,270.0,367.74420,394.85550,384.96830,382.522667,<ISCED level 3>,<ISCED level 0>,12.0,900.0
8435127,Mexico,27237,Male,4.0,1.0,0.0,0.0,0.0,275.0,165.0,275.0,489.88162,538.56808,426.55726,485.002320,<ISCED level 0>,<ISCED level 0>,5.0,715.0
8435121,Mexico,27343,Male,4.0,2.0,0.0,0.0,2.0,120.0,180.0,180.0,432.94126,357.32846,425.90452,405.391413,<ISCED level 0>,<ISCED level 0>,8.0,480.0

<a id='sav'></a>
## Store

In [74]:
# Store the clean DataFrame in a CSV file
pisa_clean.to_csv("pisa_df.csv", index=False, encoding='utf8')

<a id='conclusion'></a>
## Conclusion

<a id='references'></a>
## References