# Wrangle Pisa 2012
#### By Gabriela Sikora


### Abstract



### Table of Contents

<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
    <ul>
    <li><a href="#gathering">Gathering Data</a></li>
    <li><a href="#assessing1">Initial Assessment</a></li>
        <ul>
          <li><a href="#issues1">Identified Issues</a></li>
        </ul>
    <li><a href="#cleaning1">Cleaning Data</a></li>
    <li><a href="#assessing2">Final Assessment</a></li>
    </ul>
<li><a href="#sav">Store</a></li>
<li><a href="#conclusion">Conclusion</a></li>
<li><a href="#references">References</a></li>    
</ul>

<a id='intro'></a>
## Introduction



To begin, we first need to import all the relevant libraries:
#### Import

In [3]:
# import all packages
import numpy as np
import pandas as pd

<a id='wrangling'></a>
## Data Wrangling

In this section of the report, we will load in the data, check it for cleanliness, and then trim and clean the datasets for analysis.

<a id='gathering'></a>
### Gathering Data

Unfortunately the Pisa dataset is too large to be uploaded to github, but if you would like to work with it yourself then place follow this link: https://s3.amazonaws.com/udacity-hosted-downloads/ud507/pisa2012.csv.zip

In [4]:
# Encoding help found here: https://stackoverflow.com/questions/30462807/encoding-error-in-panda-read-csv

# Load in the Pisa dataframe
pisa = pd.read_csv('pisa2012.csv', encoding="cp1252", sep=',')

# Load in the Pisa dictionary
pisa_dict = pd.read_csv('pisadict2012.csv', encoding="cp1252", sep=',')

/Users/gabriela/Desktop/Code/myenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<a id='assessing1'></a>
### First Assessment

In this section, we will do the preliminary visual and programmatic assessment of the pisa datasets to determine whether or not it holds any major quality or tidiness issues.

In [5]:
pisa

,Unnamed: 0,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
0,1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
1,2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
3,4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
5,6,Albania,80000,ALB0006,Non-OECD,Albania,1,6,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
6,7,Albania,80000,ALB0006,Non-OECD,Albania,1,7,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
7,8,Albania,80000,ALB0006,Non-OECD,Albania,1,8,10,1.0,...,14.4599,14.6374,15.8728,15.8728,5.2248,15.2579,19,1,0.2322,22NOV13
8,9,Albania,80000,ALB0006,Non-OECD,Albania,1,9,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
9,10,Albania,80000,ALB0005,Non-OECD,Albania,2,10,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
10,11,Albania,80000,ALB0005,Non-OECD,Albania,2,11,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
11,12,Albania,80000,ALB0005,Non-OECD,Albania,2,12,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
12,13,Albania,80000,ALB0005,Non-OECD,Albania,2,13,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
13,14,Albania,80000,ALB0005,Non-OECD,Albania,2,14,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
14,15,Albania,80000,ALB0005,Non-OECD,Albania,2,15,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
15,16,Albania,80000,ALB0005,Non-OECD,Albania,2,16,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
16,17,Albania,80000,ALB0005,Non-OECD,Albania,2,17,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
17,18,Albania,80000,ALB0005,Non-OECD,Albania,2,18,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
18,19,Albania,80000,ALB0005,Non-OECD,Albania,2,19,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
19,20,Albania,80000,ALB0005,Non-OECD,Albania,2,20,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
20,21,Albania,80000,ALB0005,Non-OECD,Albania,2,21,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
21,22,Albania,80000,ALB0005,Non-OECD,Albania,2,22,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
22,23,Albania,80000,ALB0005,Non-OECD,Albania,2,23,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
23,24,Albania,80000,ALB0005,Non-OECD,Albania,2,24,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
24,25,Albania,80000,ALB0005,Non-OECD,Albania,2,25,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
25,26,Albania,80000,ALB0005,Non-OECD,Albania,2,26,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
26,27,Albania,80000,ALB0005,Non-OECD,Albania,2,27,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
27,28,Albania,80000,ALB0005,Non-OECD,Albania,2,28,10,1.0,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
28,29,Albania,80000,ALB0005,Non-OECD,Albania,2,29,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
29,30,Albania,80000,ALB0005,Non-OECD,Albania,2,30,10,1.0,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485460,485461,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4930,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485461,485462,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4931,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485462,485463,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4932,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485463,485464,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4933,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485464,485465,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4934,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485465,485466,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4935,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485466,485467,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4936,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485467,485468,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4937,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485468,485469,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4938,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485469,485470,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4939,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485470,485471,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4940,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485471,485472,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4941,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485472,485473,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4942,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485473,485474,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4943,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485474,485475,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4944,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485475,485476,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4945,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485476,485477,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4946,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485477,485478,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4947,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485478,485479,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4948,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485479,485480,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4949,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485480,485481,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4950,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485481,485482,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4951,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485482,485483,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4952,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485483,485484,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4953,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485484,485485,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4954,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485485,485486,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4955,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485486,485487,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4956,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485487,485488,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4957,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485488,485489,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4958,10,3.0,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485489,485490,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4959,10,3.0,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13

In [6]:
pisa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Columns: 636 entries, Unnamed: 0 to VER_STU
dtypes: float64(250), int64(18), object(368)
memory usage: 2.3+ GB

In [7]:
pisa_dict

     Unnamed: 0                                                  x
0           CNT                           Country code 3-character
1      SUBNATIO  Adjudicated sub-region code 7-digit code (3-di...
2       STRATUM  Stratum ID 7-character (cnt + region ID + orig...
3          OECD                                       OECD country
4            NC                       National Centre 6-digit Code
5      SCHOOLID  School ID 7-digit (region ID + stratum ID + 3-...
6       STIDSTD                                         Student ID
7       ST01Q01                                International Grade
8       ST02Q01                           National Study Programme
9       ST03Q01                                      Birth - Month
10      ST03Q02                                        Birth -Year
11      ST04Q01                                             Gender
12      ST05Q01                                   Attend <ISCED 0>
13      ST06Q01                                   Age at <ISCED 1>
14      ST07Q01                                 Repeat - <ISCED 1>
15      ST07Q02                                 Repeat - <ISCED 2>
16      ST07Q03                                 Repeat - <ISCED 3>
17      ST08Q01                          Truancy - Late for School
18      ST09Q01                    Truancy - Skip whole school day
19     ST115Q01           Truancy - Skip classes within school day
20      ST11Q01                                   At Home - Mother
21      ST11Q02                                   At Home - Father
22      ST11Q03                                 At Home - Brothers
23      ST11Q04                                  At Home - Sisters
24      ST11Q05                             At Home - Grandparents
25      ST11Q06                                   At Home - Others
26      ST13Q01                          Mother<Highest Schooling>
27      ST14Q01            Mother Qualifications - <ISCED level 6>
28      ST14Q02           Mother Qualifications - <ISCED level 5A>
29      ST14Q03           Mother Qualifications - <ISCED level 5B>
..          ...                                                ...
605    W_FSTR55           FINAL STUDENT REPLICATE BRR-FAY WEIGHT55
606    W_FSTR56           FINAL STUDENT REPLICATE BRR-FAY WEIGHT56
607    W_FSTR57           FINAL STUDENT REPLICATE BRR-FAY WEIGHT57
608    W_FSTR58           FINAL STUDENT REPLICATE BRR-FAY WEIGHT58
609    W_FSTR59           FINAL STUDENT REPLICATE BRR-FAY WEIGHT59
610    W_FSTR60           FINAL STUDENT REPLICATE BRR-FAY WEIGHT60
611    W_FSTR61           FINAL STUDENT REPLICATE BRR-FAY WEIGHT61
612    W_FSTR62           FINAL STUDENT REPLICATE BRR-FAY WEIGHT62
613    W_FSTR63           FINAL STUDENT REPLICATE BRR-FAY WEIGHT63
614    W_FSTR64           FINAL STUDENT REPLICATE BRR-FAY WEIGHT64
615    W_FSTR65           FINAL STUDENT REPLICATE BRR-FAY WEIGHT65
616    W_FSTR66           FINAL STUDENT REPLICATE BRR-FAY WEIGHT66
617    W_FSTR67           FINAL STUDENT REPLICATE BRR-FAY WEIGHT67
618    W_FSTR68           FINAL STUDENT REPLICATE BRR-FAY WEIGHT68
619    W_FSTR69           FINAL STUDENT REPLICATE BRR-FAY WEIGHT69
620    W_FSTR70           FINAL STUDENT REPLICATE BRR-FAY WEIGHT70
621    W_FSTR71           FINAL STUDENT REPLICATE BRR-FAY WEIGHT71
622    W_FSTR72           FINAL STUDENT REPLICATE BRR-FAY WEIGHT72
623    W_FSTR73           FINAL STUDENT REPLICATE BRR-FAY WEIGHT73
624    W_FSTR74           FINAL STUDENT REPLICATE BRR-FAY WEIGHT74
625    W_FSTR75           FINAL STUDENT REPLICATE BRR-FAY WEIGHT75
626    W_FSTR76           FINAL STUDENT REPLICATE BRR-FAY WEIGHT76
627    W_FSTR77           FINAL STUDENT REPLICATE BRR-FAY WEIGHT77
628    W_FSTR78           FINAL STUDENT REPLICATE BRR-FAY WEIGHT78
629    W_FSTR79           FINAL STUDENT REPLICATE BRR-FAY WEIGHT79
630    W_FSTR80           FINAL STUDENT REPLICATE BRR-FAY WEIGHT80
631    WVARSTRR           RANDOMIZED FINAL VARIANCE STRATUM (1-80)
632    VAR_UNIT                    RANDOMLY ASSIGNED VARIANCE UNIT
633  SENWGT_STU  Senate weight - sum of weight within the count...
634     VER_STU                      Date of the database creation

[635 rows x 2 columns]

In [8]:
# Check for null values in relevant columns
columns = ['STIDSTD', 'ST01Q01', 'ST04Q01', 'ST13Q01', 
            'ST17Q01', 'ST28Q01', 'ST57Q01', 'ST57Q02', 'ST57Q03', 
            'ST57Q04', 'ST57Q05', 'MMINS', 'LMINS', 'SMINS',
            'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH',  
            'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ', 'PV5READ',
            'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE']

for x in columns:
    print(x, pisa[x].isna().sum())

STIDSTD 0
ST01Q01 0
ST04Q01 0
ST13Q01 27511
ST17Q01 42229
ST28Q01 11725
ST57Q01 184123
ST57Q02 215682
ST57Q03 201677
ST57Q04 205833
ST57Q05 195988
MMINS 202187
LMINS 202624
SMINS 214576
PV1MATH 0
PV2MATH 0
PV3MATH 0
PV4MATH 0
PV5MATH 0
PV1READ 0
PV2READ 0
PV3READ 0
PV4READ 0
PV5READ 0
PV1SCIE 0
PV2SCIE 0
PV3SCIE 0
PV4SCIE 0
PV5SCIE 0

In [9]:
pisa['CNT'].value_counts()

Mexico                      33806
Italy                       31073
Spain                       25313
Canada                      21544
Brazil                      19204
Australia                   14481
United Kingdom              12659
United Arab Emirates        11500
Switzerland                 11229
Qatar                       10966
Colombia                     9073
Finland                      8829
Belgium                      8597
Denmark                      7481
Jordan                       7038
Chile                        6856
Thailand                     6606
Japan                        6351
Chinese Taipei               6046
Peru                         6035
Slovenia                     5911
Argentina                    5908
Kazakhstan                   5808
Portugal                     5722
Indonesia                    5622
Singapore                    5546
Macao-China                  5335
Czech Republic               5327
Uruguay                      5315
Bulgaria                     5282
                            ...
Ireland                      5016
Croatia                      5008
Germany                      5001
United States of America     4978
Vietnam                      4959
Turkey                       4848
Hungary                      4810
Estonia                      4779
Austria                      4755
Montenegro                   4744
Albania                      4743
Sweden                       4736
Norway                       4686
Serbia                       4684
Slovak Republic              4678
Hong Kong-China              4670
Lithuania                    4618
France                       4613
Poland                       4607
Costa Rica                   4602
Netherlands                  4460
Tunisia                      4407
Latvia                       4306
New Zealand                  4291
Iceland                      3508
Florida (USA)                1896
Perm(Russian Federation)     1761
Massachusetts (USA)          1723
Connecticut (USA)            1697
Liechtenstein                 293
Name: CNT, Length: 68, dtype: int64

In [10]:
pisa.duplicated().sum()

0

<a id='issues1'></a>
### Identified Issues
Here we can see some of the issues noticed in the dataframes. These quality issues will be cleaned in the following section.

1. Narrow down the dataframe by only looking at variables of interest since there are more variables than needed
2. Make the variable names readable since they are codes that can only be read with the dictionary
3. Create an average of all Math, Reading, and Science scores since all 5 scores for each are not necessary
4. Missing values in relevant columns ('Mother Highest Schooling', 'Father Highest Schooling', 'How many books at home', 'Out-of-School Study Time - Homework', 'Out-of-School Study Time - Guided Homework', 'Out-of-School Study Time - Personal Tutor','Out-of-School Study Time - Commercial Company', 'Out-of-School Study Time - With Parent', 'Learning time (minutes per week)- Mathematics', 'Learning time (minutes per week)  - test language', 'Learning time (minutes per week) - Science')
5. Create a total for Out-of-School Study Time and Learning time (minutes per week)
6. Single countries have various entries in the country column (Florida (USA), Massachusetts (USA), Connecticut (USA) and United States of America)

<a id='cleaning1'></a>
### First Cleaning

In [11]:
# Create a copy to preserve the original dataframe
pisa_clean = pisa.copy()

### Narrow down the dataframe by only looking at variables of interest

There are 636 columns available in the original dataframe, which is far more than what is necessary. We will rather look at just the following variables.

In [12]:
pisa_clean = pisa_clean[['STIDSTD', 'ST04Q01', 'ST13Q01', 'ST14Q01', 'ST14Q02', 'ST14Q03', 'ST14Q04', 
                         'ST17Q01', 'ST18Q01', 'ST18Q02', 'ST18Q03', 'ST18Q04', 'ST28Q01', 
                         'ST57Q01', 'ST57Q02', 'ST57Q03', 'ST57Q04', 'ST57Q05', 'MMINS', 
                         'LMINS', 'SMINS', 'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 
                         'PV5MATH', 'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ', 'PV5READ',
                         'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE']]

In [13]:
# Check to see if the columns are correctly reduced
list(pisa_clean)

['STIDSTD',
 'ST04Q01',
 'ST13Q01',
 'ST14Q01',
 'ST14Q02',
 'ST14Q03',
 'ST14Q04',
 'ST17Q01',
 'ST18Q01',
 'ST18Q02',
 'ST18Q03',
 'ST18Q04',
 'ST28Q01',
 'ST57Q01',
 'ST57Q02',
 'ST57Q03',
 'ST57Q04',
 'ST57Q05',
 'MMINS',
 'LMINS',
 'SMINS',
 'PV1MATH',
 'PV2MATH',
 'PV3MATH',
 'PV4MATH',
 'PV5MATH',
 'PV1READ',
 'PV2READ',
 'PV3READ',
 'PV4READ',
 'PV5READ',
 'PV1SCIE',
 'PV2SCIE',
 'PV3SCIE',
 'PV4SCIE',
 'PV5SCIE']

### Create an average of all Math, Reading, and Science scores

For each of the Math, Reading, and Science scores, there are 5 scores provided. The variation between these scores is not needed, so rather we will look at the average for each of these major categories and remove the individual scores.

In [14]:
# Create average of Math scores
pisa_clean['Average Math Score']    = (pisa_clean['PV1MATH'] + pisa_clean['PV2MATH'] + pisa_clean['PV3MATH'] + pisa_clean['PV4MATH'] + pisa_clean['PV5MATH']) / 5

# Create average of Reading scores
pisa_clean['Average Reading Score'] = (pisa_clean['PV1READ'] + pisa_clean['PV2READ'] + pisa_clean['PV3READ'] + pisa_clean['PV4READ'] + pisa_clean['PV5READ']) / 5

# Create average of Science scores
pisa_clean['Average Science Score'] = (pisa_clean['PV1SCIE'] + pisa_clean['PV2SCIE'] + pisa_clean['PV3SCIE'] + pisa_clean['PV4SCIE'] + pisa_clean['PV5SCIE']) / 5

# Create average score
pisa_clean['Average Total Score']   = (pisa_clean['Average Math Score'] + pisa_clean['Average Reading Score'] + pisa_clean['Average Science Score'] +pisa_clean['Average Math Score']) / 3

In [15]:
# Remove the individual scores for Math, Reading, and Science
pisa_clean.drop(columns=['PV1MATH',  'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH',   
                         'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ',  'PV5READ',
                         'PV1SCIE',  'PV2SCIE', 'PV3SCIE',  'PV4SCIE', 'PV5SCIE'], inplace=True)

In [16]:
# Test to see accuracy of the Math score
print(pisa_clean['Average Math Score'].describe())
print('-'*22)

# Test to see accuracy of the Reading score
print(pisa_clean['Average Reading Score'].describe())
print('-'*22)

# Test to see accuracy of the Science score
print(pisa_clean['Average Science Score'].describe())

# Test to see accuracy of the Total score
print(pisa_clean['Average Total Score'].describe())

count    485490.000000
mean        469.651234
std         100.786610
min          54.767080
25%         396.019620
50%         465.734520
75%         540.123060
max         903.107960
Name: Average Math Score, dtype: float64
----------------------
count    485490.000000
mean        472.006964
std          98.863310
min           6.445400
25%         405.044200
50%         475.477980
75%         542.831195
max         849.359740
Name: Average Reading Score, dtype: float64
----------------------
count    485490.000000
mean        475.808094
std          97.998470
min          25.158540
25%         405.762800
50%         475.512860
75%         546.381920
max         857.832900
Name: Average Science Score, dtype: float64
count    485490.000000
mean        629.039175
std         128.839689
min         105.496473
25%         536.312167
50%         627.318087
75%         721.099990
max        1123.882273
Name: Average Total Score, dtype: float64

In [17]:
pisa_clean.sample(10)

,STIDSTD,ST04Q01,ST13Q01,ST14Q01,ST14Q02,ST14Q03,ST14Q04,ST17Q01,ST18Q01,ST18Q02,...,ST57Q03,ST57Q04,ST57Q05,MMINS,LMINS,SMINS,Average Math Score,Average Reading Score,Average Science Score,Average Total Score
24284,2134,Female,<ISCED level 3A>,No,Yes,No,Yes,<ISCED level 3A>,No,Yes,...,0.0,0.0,0.0,180.0,270.0,135.0,426.32028,477.14602,438.95934,589.581973
316972,1270,Female,"<ISCED level 3B, 3C>",No,No,No,NaN,<ISCED level 2>,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,355.43698,367.61068,356.24766,478.244100
377890,5004,Female,<ISCED level 3A>,NaN,NaN,NaN,Yes,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,325.99314,358.55552,319.32114,443.287647
471669,1432,Male,<ISCED level 3A>,No,No,No,NaN,"<ISCED level 3B, 3C>",No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,492.45208,463.50602,465.06900,637.826393
411743,996,Male,<ISCED level 3A>,NaN,NaN,Yes,Yes,<ISCED level 3A>,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,550.48296,539.61056,553.65534,731.410607
245555,4966,Female,<ISCED level 3A>,No,No,No,No,<ISCED level 3A>,No,No,...,NaN,NaN,NaN,200.0,350.0,200.0,530.38636,532.98604,535.09884,709.619200
345189,29487,Male,<ISCED level 3A>,No,No,No,NaN,"<ISCED level 3B, 3C>",NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,537.24100,601.76134,520.55202,732.265120
212227,657,Male,"<ISCED level 3B, 3C>",No,No,Yes,NaN,<ISCED level 3A>,No,No,...,0.0,0.0,0.0,180.0,135.0,180.0,517.92336,462.62384,568.38866,688.953073
364233,324,Male,NaN,No,No,No,No,NaN,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,519.63702,520.36390,548.06042,702.566120
171269,374,Male,<ISCED level 3A>,No,No,Yes,No,<ISCED level 3A>,No,No,...,0.0,0.0,0.0,225.0,135.0,135.0,583.58780,560.62154,581.16374,769.653627

### Make the variable names readable

In the original dataframe, the variable names are all codes and unreadable without the dictionary. Therefore, we will change them to accurately reflect the information within the column.

In [18]:
# Rename columns
pisa_clean.rename({'STIDSTD': 'Student ID',
                   'ST04Q01': 'Gender', 
                   'ST13Q01': 'Mother - Highest Schooling', 
                   'ST14Q01': 'Mother Qualifications - ISCED level 6',
                   'ST14Q02': 'Mother Qualifications - ISCED level 5A',
                   'ST14Q03': 'Mother Qualifications - ISCED level 5B',
                   'ST14Q04': 'Mother Qualifications - ISCED level 4',
                   'ST17Q01': 'Father - Highest Schooling',
                   'ST18Q01': 'Father Qualifications - ISCED level 6',
                   'ST18Q02': 'Father Qualifications - ISCED level 5A',
                   'ST18Q03': 'Father Qualifications - ISCED level 5B',
                   'ST18Q04': 'Father Qualifications - ISCED level 4',
                   'ST28Q01': 'How many books at home', 
                   'ST57Q01': 'Out-of-School Study Time - Homework',
                   'ST57Q02': 'Out-of-School Study Time - Guided Homework',
                   'ST57Q03': 'Out-of-School Study Time - Personal Tutor',
                   'ST57Q04': 'Out-of-School Study Time - Commercial Company',
                   'ST57Q05': 'Out-of-School Study Time - With Parent',
                   'MMINS': 'Learning time (minutes per week)- <Mathematics>',
                   'LMINS': 'Learning time (minutes per week)  - <test language>',
                   'SMINS': 'Learning time (minutes per week) - <Science>'}, axis='columns', inplace=True)

In [19]:
# Check to see if the columns are correctly renamed
list(pisa_clean)

['Student ID',
 'Gender',
 'Mother - Highest Schooling',
 'Mother Qualifications - ISCED level 6',
 'Mother Qualifications - ISCED level 5A',
 'Mother Qualifications - ISCED level 5B',
 'Mother Qualifications - ISCED level 4',
 'Father - Highest Schooling',
 'Father Qualifications - ISCED level 6',
 'Father Qualifications - ISCED level 5A',
 'Father Qualifications - ISCED level 5B',
 'Father Qualifications - ISCED level 4',
 'How many books at home',
 'Out-of-School Study Time - Homework',
 'Out-of-School Study Time - Guided Homework',
 'Out-of-School Study Time - Personal Tutor',
 'Out-of-School Study Time - Commercial Company',
 'Out-of-School Study Time - With Parent',
 'Learning time (minutes per week)- <Mathematics>',
 'Learning time (minutes per week)  - <test language>',
 'Learning time (minutes per week) - <Science>',
 'Average Math Score',
 'Average Reading Score',
 'Average Science Score',
 'Average Total Score']

### Education
Multiple columns with the single variable. 

http://uis.unesco.org/sites/default/files/documents/international-standard-classification-of-education-isced-2011-en.pdf

In [319]:
father_edu = pisa_clean.copy()

In [320]:
father_edu[['<ISCED level 1>', 
            '<ISCED level 2>', 
            '<ISCED level 3A>', 
            '<ISCED level 3B, 3C>', 
            'He did not complete <ISCED level 1>']] = pd.get_dummies(father_edu['Father - Highest Schooling'])

In [321]:
father_edu.rename({'He did not complete <ISCED level 1>': '<ISCED level 0>',
                   '<ISCED level 3A>': '<ISCED level 3>', 
                   '<ISCED level 3B, 3C>': '<ISCED level 3>',
                   'Father Qualifications - ISCED level 4': '<ISCED level 4>',
                   'Father Qualifications - ISCED level 5A': '<ISCED level 5>',
                   'Father Qualifications - ISCED level 5B': '<ISCED level 5>',
                   'Father Qualifications - ISCED level 6': '<ISCED level 6>'}, axis='columns', inplace=True)

In [322]:
father_edu['<ISCED level 0>'] = father_edu['<ISCED level 0>'].astype(str)
father_edu['<ISCED level 1>'] = father_edu['<ISCED level 1>'].astype(str)
father_edu['<ISCED level 2>'] = father_edu['<ISCED level 2>'].astype(str)
father_edu['<ISCED level 3>'] = father_edu['<ISCED level 3>'].astype(str)

In [323]:
father_edu['<ISCED level 0>'] = father_edu['<ISCED level 0>'].replace(regex='1', value='<ISCED level 0>')
father_edu['<ISCED level 1>'] = father_edu['<ISCED level 1>'].replace(regex='1', value='<ISCED level 1>')
father_edu['<ISCED level 2>'] = father_edu['<ISCED level 2>'].replace(regex='1', value='<ISCED level 2>')
father_edu['<ISCED level 3>'] = father_edu['<ISCED level 3>'].replace(regex='1', value='<ISCED level 3>')
father_edu['<ISCED level 4>'] = father_edu['<ISCED level 4>'].replace(regex='Yes', value='<ISCED level 4>')
father_edu['<ISCED level 5>'] = father_edu['<ISCED level 5>'].replace(regex='Yes', value='<ISCED level 5>')
father_edu['<ISCED level 6>'] = father_edu['<ISCED level 6>'].replace(regex='Yes', value='<ISCED level 6>')

In [324]:
father_edu.sample(10)

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Father - Highest Schooling,<ISCED level 6>,<ISCED level 5>,...,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,<ISCED level 1>,<ISCED level 2>,<ISCED level 3>,<ISCED level 3>,<ISCED level 0>
288763,3712,Female,"<ISCED level 3B, 3C>",No,No,Yes,No,<ISCED level 3A>,No,No,...,585.0,421.10142,436.87452,416.85940,565.312253,0,0,<ISCED level 3>,0,0
181234,5560,Male,<ISCED level 3A>,NaN,NaN,Yes,NaN,"<ISCED level 3B, 3C>",NaN,NaN,...,120.0,559.67440,584.76012,614.17384,772.760920,0,0,0,<ISCED level 3>,0
342770,27068,Female,<ISCED level 3A>,No,No,Yes,NaN,NaN,NaN,<ISCED level 5>,...,200.0,372.80730,412.88636,395.31890,517.939953,0,0,0,0,0
417517,5047,Female,<ISCED level 2>,No,No,No,No,NaN,No,No,...,NaN,451.16840,463.88106,446.60574,604.274533,0,0,0,0,0
212176,606,Male,<ISCED level 3A>,No,No,Yes,No,<ISCED level 3A>,No,No,...,NaN,575.33104,539.45022,565.96420,752.025500,0,0,<ISCED level 3>,0,0
239666,4132,Female,<ISCED level 3A>,No,No,No,No,"<ISCED level 3B, 3C>",No,No,...,0.0,361.20110,430.59946,332.46922,495.156960,0,0,0,<ISCED level 3>,0
47451,6065,Male,"<ISCED level 3B, 3C>",Yes,NaN,NaN,NaN,<ISCED level 2>,No,No,...,280.0,519.16966,517.79768,572.49162,709.542873,0,<ISCED level 2>,0,0,0
147540,1958,Male,<ISCED level 1>,No,No,No,No,<ISCED level 1>,No,No,...,NaN,524.85588,449.23138,510.38790,669.777013,<ISCED level 1>,0,0,0,0
479968,4416,Female,<ISCED level 3A>,No,No,Yes,No,NaN,NaN,NaN,...,250.0,653.14690,670.56054,639.72398,872.192773,0,0,0,0,0
284123,5423,Female,<ISCED level 3A>,No,No,Yes,NaN,<ISCED level 3A>,No,No,...,150.0,640.83970,672.06972,678.98174,877.576953,0,0,<ISCED level 3>,0,0

In [325]:
father_edu = pd.melt(father_edu, 
                     id_vars=['Student ID', 'Gender',
                            'Mother - Highest Schooling', 
                            'Mother Qualifications - ISCED level 6', 
                            'Mother Qualifications - ISCED level 5A',
                            'Mother Qualifications - ISCED level 5B',
                            'Mother Qualifications - ISCED level 4',
                            'How many books at home',
                            'Out-of-School Study Time - Homework',
                            'Out-of-School Study Time - Guided Homework',
                            'Out-of-School Study Time - Personal Tutor',
                            'Out-of-School Study Time - Commercial Company',
                            'Out-of-School Study Time - With Parent',
                            'Learning time (minutes per week)- <Mathematics>',
                            'Learning time (minutes per week)  - <test language>',
                            'Learning time (minutes per week) - <Science>',
                            'Average Math Score',
                            'Average Reading Score',
                            'Average Science Score',
                            'Average Total Score'], var_name='Completed_edu - Father', value_name='Education - Father')

In [326]:
father_edu.sample(10)

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Completed_edu - Father,Education - Father
3083885,50,Female,<ISCED level 3A>,No,No,No,No,101-200 books,NaN,NaN,...,NaN,NaN,NaN,NaN,509.82238,504.31144,522.88326,682.279820,<ISCED level 2>,<ISCED level 2>
4144558,20049,Male,NaN,NaN,NaN,NaN,NaN,201-500 books,NaN,NaN,...,NaN,220.0,220.0,110.0,493.93208,488.20592,530.99592,669.022000,<ISCED level 3>,0
4330851,3337,Female,"<ISCED level 3B, 3C>",No,No,No,NaN,101-200 books,12.0,0.0,...,3.0,180.0,150.0,180.0,435.12230,499.06898,429.72770,599.680427,<ISCED level 3>,0
1841243,1245,Male,<ISCED level 2>,No,No,No,No,0-10 books,1.0,1.0,...,0.0,270.0,270.0,90.0,434.03180,390.12804,477.28460,578.492080,<ISCED level 5>,No
3803523,4877,Male,<ISCED level 3A>,No,Yes,No,Yes,201-500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,667.79092,605.37008,611.46960,850.807173,<ISCED level 3>,<ISCED level 3>
432308,3987,Male,"<ISCED level 3B, 3C>",NaN,NaN,Yes,NaN,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,469.39554,357.97002,374.33794,557.033013,Father - Highest Schooling,"<ISCED level 3B, 3C>"
4757811,4873,Female,<ISCED level 2>,No,No,No,No,0-10 books,5.0,0.0,...,5.0,NaN,180.0,NaN,485.98690,548.15736,488.56770,669.566287,<ISCED level 0>,0
2063370,7312,Male,<ISCED level 2>,No,No,No,NaN,0-10 books,12.0,2.0,...,NaN,180.0,180.0,180.0,402.09534,399.35040,447.53822,550.359767,<ISCED level 4>,NaN
1308152,21470,Male,<ISCED level 3A>,No,Yes,No,NaN,11-25 books,2.0,1.0,...,4.0,NaN,NaN,NaN,399.52484,396.46340,415.64712,537.053400,<ISCED level 5>,<ISCED level 5>
1550786,19847,Male,<ISCED level 3A>,No,No,Yes,Yes,11-25 books,0.0,0.0,...,0.0,300.0,300.0,0.0,453.50524,416.83278,415.64714,579.830133,<ISCED level 5>,<ISCED level 5>

In [327]:
father_edu = father_edu[(father_edu['Education - Father'] != '0')] 
father_edu = father_edu[(father_edu['Education - Father'] != 'No')]

In [328]:
father_edu.sample(70)

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Completed_edu - Father,Education - Father
2355636,1206,Female,<ISCED level 2>,No,No,No,Yes,26-100 books,3.0,2.0,...,2.0,150.0,150.0,150.0,371.56100,447.35940,437.46736,542.649587,<ISCED level 4>,<ISCED level 4>
415295,2825,Female,NaN,NaN,NaN,NaN,Yes,11-25 books,6.0,4.0,...,0.0,150.0,150.0,0.0,323.03320,424.80098,366.13204,478.999807,Father - Highest Schooling,"<ISCED level 3B, 3C>"
3675901,5809,Male,"<ISCED level 3B, 3C>",NaN,NaN,Yes,NaN,26-100 books,4.0,1.0,...,2.0,270.0,225.0,405.0,424.13924,451.95800,434.11042,578.115633,<ISCED level 3>,<ISCED level 3>
3677239,109,Female,<ISCED level 3A>,No,No,NaN,NaN,201-500 books,6.0,0.0,...,0.0,250.0,250.0,150.0,519.40332,521.23024,562.98024,707.672373,<ISCED level 3>,<ISCED level 3>
2288970,31308,Female,<ISCED level 1>,No,No,No,NaN,0-10 books,5.0,NaN,...,3.0,NaN,NaN,NaN,406.45738,433.37956,396.62440,547.639573,<ISCED level 4>,NaN
315390,5023,Male,<ISCED level 3A>,No,No,No,No,11-25 books,3.0,0.0,...,0.0,280.0,280.0,160.0,637.33448,558.53650,575.19582,802.800427,Father - Highest Schooling,"<ISCED level 3B, 3C>"
1741393,6223,Female,<ISCED level 3A>,No,Yes,NaN,NaN,101-200 books,NaN,NaN,...,NaN,NaN,NaN,NaN,475.70494,482.94450,504.69974,646.351373,<ISCED level 5>,NaN
7065,2323,Female,<ISCED level 2>,No,No,No,No,26-100 books,5.0,2.0,...,NaN,630.0,180.0,360.0,339.00140,465.62854,448.28424,530.638527,Father - Highest Schooling,<ISCED level 3A>
1481734,3114,Male,NaN,NaN,NaN,NaN,NaN,26-100 books,0.0,0.0,...,0.0,NaN,NaN,NaN,336.50882,360.53624,320.71986,451.424580,<ISCED level 5>,NaN
699033,1973,Female,<ISCED level 3A>,NaN,NaN,NaN,NaN,0-10 books,4.0,2.0,...,0.0,90.0,135.0,45.0,392.98176,402.63974,486.32974,558.311000,<ISCED level 6>,NaN
4079551,6515,Female,"<ISCED level 3B, 3C>",No,No,No,No,26-100 books,2.0,0.0,...,0.0,500.0,600.0,500.0,374.98834,391.75768,423.38678,521.707047,<ISCED level 3>,<ISCED level 3>
3917076,11006,Male,<ISCED level 3A>,NaN,NaN,NaN,NaN,More than 500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,394.53964,275.61024,339.36964,468.019720,<ISCED level 3>,<ISCED level 3>
58686,3421,Female,"<ISCED level 3B, 3C>",No,Yes,No,No,11-25 books,6.0,5.0,...,2.0,220.0,220.0,110.0,436.52438,457.20888,406.88178,579.046473,Father - Highest Schooling,<ISCED level 1>
314587,4220,Male,<ISCED level 2>,No,No,No,No,26-100 books,7.0,2.0,...,0.0,180.0,270.0,270.0,647.14910,573.13192,600.00000,822.476707,Father - Highest Schooling,"<ISCED level 3B, 3C>"
167470,21888,Female,<ISCED level 3A>,No,Yes,No,No,101-200 books,20.0,2.0,...,0.0,200.0,200.0,300.0,584.98988,564.52016,556.26632,763.588747,Father - Highest Schooling,<ISCED level 1>
2948040,12950,Female,"<ISCED level 3B, 3C>",No,No,Yes,No,201-500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,509.19926,565.94990,601.39872,728.582380,<ISCED level 2>,<ISCED level 2>
3508972,3300,Male,<ISCED level 3A>,No,Yes,No,No,101-200 books,NaN,NaN,...,NaN,NaN,NaN,NaN,631.10296,604.80872,599.72024,822.244960,<ISCED level 3>,<ISCED level 3>
2035341,18912,Male,<ISCED level 3A>,No,No,No,No,0-10 books,2.0,NaN,...,0.0,375.0,NaN,NaN,483.18274,445.94340,478.31032,630.206400,<ISCED level 4>,NaN
421134,3590,Male,<ISCED level 3A>,No,Yes,No,No,More than 500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,581.48464,555.08814,577.62028,765.225900,Father - Highest Schooling,<ISCED level 3A>
1858221,1535,Male,<ISCED level 3A>,No,Yes,Yes,Yes,101-200 books,24.0,0.0,...,0.0,350.0,315.0,450.0,704.08944,625.57908,638.69826,890.818740,<ISCED level 5>,<ISCED level 5>
142353,4252,Male,<ISCED level 3A>,No,No,Yes,No,201-500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,539.65568,524.45380,505.81872,703.194627,Father - Highest Schooling,NaN
2278852,21190,Female,<ISCED level 2>,NaN,NaN,NaN,NaN,0-10 books,6.0,1.0,...,1.0,240.0,240.0,160.0,379.97352,397.15898,362.49534,506.533787,<ISCED level 4>,NaN
125615,2444,Female,<ISCED level 2>,No,No,No,No,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,409.57314,484.37424,441.19734,581.572620,Father - Highest Schooling,<ISCED level 2>
1463894,2682,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,460.98300,454.98476,474.58038,617.177047,<ISCED level 5>,NaN
3292844,983,Female,<ISCED level 2>,No,No,No,No,11-25 books,4.0,1.0,...,2.0,180.0,225.0,135.0,534.90420,559.51598,593.84558,741.056653,<ISCED level 2>,<ISCED level 2>
1360021,5513,Female,<ISCED level 2>,No,No,No,No,11-25 books,3.0,1.0,...,0.0,270.0,180.0,NaN,460.98304,493.27054,462.08504,625.773887,<ISCED level 5>,NaN
742740,16661,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,26-100 books,8.0,8.0,...,4.0,300.0,240.0,120.0,501.95512,541.08798,503.30100,682.766407,<ISCED level 6>,NaN
2207481,24932,Male,<ISCED level 3A>,NaN,NaN,NaN,NaN,11-25 books,NaN,NaN,...,NaN,NaN,NaN,NaN,422.73718,473.45012,401.56658,573.497020,<ISCED level 4>,NaN
2948015,12925,Female,<ISCED level 2>,No,No,Yes,No,201-500 books,2.0,1.0,...,1.0,250.0,250.0,150.0,437.53702,449.98064,485.02424,603.359640,<ISCED level 2>,<ISCED level 2>
197100,7984,Female,"<ISCED level 3B, 3C>",No,No,No,Yes,11-25 books,3.0,1.0,...,0.0,300.0,300.0,300.0,489.10266,512.73112,486.51624,659.150893,Father - Highest Schooling,"<ISCED level 3B, 3C>"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3181650,28121,Female,<ISCED level 3A>,No,No,No,No,101-200 books,NaN,NaN,...,NaN,NaN,NaN,NaN,556.16916,591.36784,600.74598,768.150713,<ISCED level 2>,<ISCED level 2>
247758,7169,Male,<ISCED level 2>,No,No,No,Yes,0-10 books,0.0,0.0,...,1.0,300.0,240.0,120.0,362.83692,382.42934,399.88812,502.663767,Father - Highest Schooling,<ISCED level 3A>
3945654,6469,Female,<ISCED level 2>,No,No,No,Yes,26-100 books,NaN,12.0,...,0.0,300.0,300.0,200.0,474.53654,438.30426,499.75754,629.044960,<ISCED level 3>,<ISCED level 3>
3868782,115,Male,<ISCED level 2>,No,No,No,NaN,26-100 books,4.0,NaN,...,2.0,135.0,135.0,135.0,462.85246,425.33342,497.14658,616.061640,<ISCED level 3>,<ISCED level 3>
3228136,4829,Male,<ISCED level 2>,No,No,No,No,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,648.62908,546.66770,594.87132,812.932393,<ISCED level 2>,<ISCED level 2>
3617,3618,Female,<ISCED level 2>,No,No,No,No,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,320.93006,307.56082,348.88102,432.767320,Father - Highest Schooling,<ISCED level 2>
4235189,1761,Female,"<ISCED level 3B, 3C>",No,No,No,NaN,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,486.45426,485.48628,460.87282,639.755873,<ISCED level 3>,<ISCED level 3>
1877326,3312,Male,<ISCED level 3A>,NaN,NaN,Yes,NaN,26-100 books,2.0,0.0,...,0.0,200.0,80.0,NaN,552.43028,540.33232,581.44348,742.212120,<ISCED level 5>,NaN
19917,3675,Male,<ISCED level 2>,No,No,No,NaN,0-10 books,0.0,0.0,...,0.0,NaN,NaN,NaN,415.72674,399.67114,430.00746,553.710693,Father - Highest Schooling,<ISCED level 3A>
250327,9738,Female,<ISCED level 1>,No,No,No,No,11-25 books,1.0,0.0,...,0.0,150.0,250.0,100.0,384.25768,374.20346,387.85900,510.192607,Father - Highest Schooling,<ISCED level 2>
3409959,6787,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,11-25 books,NaN,NaN,...,NaN,NaN,NaN,NaN,462.46298,454.12326,448.65720,609.235473,<ISCED level 3>,<ISCED level 3>
1552921,438,Male,<ISCED level 2>,No,No,No,No,201-500 books,1.0,0.0,...,0.0,250.0,250.0,100.0,593.32450,570.24488,531.08916,762.661013,<ISCED level 5>,<ISCED level 5>
3845292,3268,Female,<ISCED level 3A>,No,No,Yes,NaN,More than 500 books,3.0,3.0,...,1.0,160.0,120.0,160.0,550.17138,652.37084,576.78106,776.498220,<ISCED level 3>,<ISCED level 3>
4083450,10414,Female,<ISCED level 3A>,No,No,No,Yes,101-200 books,6.0,0.0,...,0.0,240.0,240.0,240.0,518.07916,542.43832,553.46886,710.688500,<ISCED level 3>,<ISCED level 3>
210838,3938,Male,"<ISCED level 3B, 3C>",No,No,No,No,101-200 books,NaN,2.0,...,0.0,280.0,280.0,200.0,601.65916,561.34332,613.52108,792.727573,Father - Highest Schooling,<ISCED level 1>
1914574,3728,Female,<ISCED level 3A>,No,No,NaN,No,26-100 books,5.0,3.0,...,0.0,150.0,150.0,150.0,390.64494,497.00380,436.34840,571.547360,<ISCED level 5>,NaN
1808104,2126,Male,"<ISCED level 3B, 3C>",No,No,Yes,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,321.08584,355.88498,356.90042,451.652360,<ISCED level 5>,<ISCED level 5>
3886916,2997,Male,"<ISCED level 3B, 3C>",No,No,No,Yes,11-25 books,4.0,2.0,...,2.0,135.0,180.0,270.0,188.82224,130.37802,133.10332,213.708607,<ISCED level 3>,<ISCED level 3>
288943,3892,Male,<ISCED level 2>,No,No,No,No,11-25 books,NaN,NaN,...,NaN,NaN,NaN,NaN,243.81522,203.99656,286.03132,325.886107,Father - Highest Schooling,<ISCED level 2>
3355300,4677,Male,"<ISCED level 3B, 3C>",No,No,No,Yes,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,513.32764,470.48292,564.00598,687.048060,<ISCED level 2>,<ISCED level 2>
244715,4126,Male,<ISCED level 2>,NaN,NaN,NaN,NaN,0-10 books,10.0,5.0,...,2.0,240.0,240.0,120.0,455.99782,353.23854,386.55352,550.595900,Father - Highest Schooling,<ISCED level 3A>
4368927,4477,Female,She did not complete <ISCED level 1>,No,No,NaN,No,0-10 books,5.0,2.0,...,2.0,180.0,180.0,135.0,404.82162,527.74358,517.19510,618.193973,<ISCED level 3>,<ISCED level 3>
2761865,18713,Male,<ISCED level 2>,NaN,NaN,NaN,NaN,26-100 books,1.0,NaN,...,NaN,250.0,250.0,200.0,425.93080,421.16330,402.03282,558.352573,<ISCED level 1>,<ISCED level 1>
4062815,3221,Male,"<ISCED level 3B, 3C>",No,Yes,No,No,More than 500 books,4.0,0.0,...,0.0,135.0,180.0,180.0,597.99814,587.40650,645.22566,809.542813,<ISCED level 3>,<ISCED level 3>
831928,30736,Male,<ISCED level 2>,NaN,NaN,NaN,NaN,0-10 books,NaN,NaN,...,NaN,150.0,250.0,100.0,338.30036,259.65156,307.38530,414.545860,<ISCED level 6>,NaN
1930193,3486,Female,<ISCED level 3A>,NaN,NaN,NaN,NaN,11-25 books,5.0,5.0,...,5.0,225.0,180.0,180.0,338.61194,416.61958,428.98174,507.608400,<ISCED level 5>,NaN
3211852,2727,Female,<ISCED level 2>,No,Yes,NaN,No,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,456.46518,487.86922,549.17940,649.992993,<ISCED level 2>,<ISCED level 2>
4263998,1157,Female,"<ISCED level 3B, 3C>",No,No,No,No,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,431.77286,466.18456,444.92726,591.552513,<ISCED level 3>,<ISCED level 3>
2444680,988,Male,<ISCED level 1>,NaN,NaN,NaN,NaN,11-25 books,NaN,NaN,...,NaN,NaN,NaN,NaN,311.27124,300.06960,355.59492,426.069000,<ISCED level 1>,<ISCED level 1>
1381331,1301,Female,<ISCED level 3A>,Yes,Yes,No,No,26-100 books,10.0,0.0,...,0.0,224.0,224.0,224.0,567.85324,627.82666,560.55576,774.696300,<ISCED level 5>,<ISCED level 5>

In [329]:
father_edu = father_edu[(father_edu['Completed_edu - Father'] != 'Father - Highest Schooling')]

In [330]:
father_edu['Education - Father'].value_counts()

<ISCED level 3>    306459
<ISCED level 5>    185130
<ISCED level 2>     84329
<ISCED level 4>     77265
<ISCED level 1>     35938
<ISCED level 6>     29589
<ISCED level 0>     16535
Name: Education - Father, dtype: int64

In [331]:
father_edu.drop(columns=['Completed_edu - Father'], axis=1, inplace=True)

In [332]:
father_edu.sample(10)

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father
1546012,15073,Female,<ISCED level 3A>,No,Yes,No,No,11-25 books,15.0,2.0,...,0.0,1.0,350.0,0.0,0.0,515.11918,575.40218,492.76390,699.468147,<ISCED level 5>
1413195,4532,Female,"<ISCED level 3B, 3C>",Yes,NaN,NaN,NaN,101-200 books,2.0,NaN,...,0.0,0.0,135.0,180.0,90.0,407.70370,426.54850,407.06824,549.674713,<ISCED level 5>
1196690,4322,Female,<ISCED level 3A>,No,NaN,NaN,NaN,26-100 books,3.0,2.0,...,2.0,3.0,120.0,80.0,80.0,353.64542,339.25378,373.96494,473.503187,NaN
1288038,1356,Male,"<ISCED level 3B, 3C>",No,Yes,Yes,NaN,More than 500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,596.82972,625.65932,585.91944,801.746067,<ISCED level 5>
3408319,5147,Male,<ISCED level 3A>,No,Yes,No,No,26-100 books,14.0,1.0,...,0.0,0.0,160.0,160.0,480.0,607.34538,577.46238,632.73032,808.294487,<ISCED level 3>
2106261,18719,Female,<ISCED level 3A>,No,Yes,Yes,Yes,201-500 books,4.0,0.0,...,3.0,0.0,220.0,220.0,440.0,501.33198,545.85384,492.48414,680.333980,<ISCED level 4>
1774980,2808,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,101-200 books,21.0,5.0,...,NaN,NaN,240.0,240.0,240.0,562.40066,457.09044,505.72548,695.872413,NaN
1439094,2725,Female,<ISCED level 3A>,No,Yes,No,NaN,26-100 books,10.0,10.0,...,10.0,2.0,180.0,225.0,270.0,594.41500,611.94046,587.31816,796.029540,<ISCED level 5>
3605231,5026,Female,<ISCED level 3A>,No,No,No,Yes,26-100 books,14.0,14.0,...,9.0,0.0,180.0,180.0,270.0,522.98644,588.90546,565.96420,733.614180,<ISCED level 3>
1314182,27500,Male,"<ISCED level 3B, 3C>",No,Yes,Yes,NaN,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,494.47732,475.69556,471.40992,645.353373,<ISCED level 5>

### Mother Edu

In [ ]:
father_edu = pisa_clean.copy()

In [283]:
father_edu['Student ID'].duplicated().sum()

1714751

In [307]:
# https://stackoverflow.com/questions/20067264/pandas-drop-duplicates-with-condition
father_edu_groups = father_edu.groupby('Student ID')

In [308]:
father_edu_groups['Education - Father'].max().reset_index()

TypeError: '>=' not supported between instances of 'str' and 'float'

In [105]:
father_edu_groups.head()

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Education - Father,Completed - father_edu
485492,3,Female,"<ISCED level 3B, 3C>",Yes,Yes,Yes,No,More than 500 books,NaN,6.0,...,2.0,NaN,300.0,NaN,505.53824,405.18154,486.60946,634.289160,<ISCED level 6>,Yes
485493,4,Female,"<ISCED level 3B, 3C>",No,No,No,No,11-25 books,10.0,2.0,...,0.0,135.0,135.0,90.0,449.45476,477.46376,453.97240,610.115227,<ISCED level 6>,Yes
485500,11,Female,<ISCED level 3A>,Yes,Yes,No,No,201-500 books,NaN,3.0,...,3.0,180.0,225.0,90.0,438.93910,551.49346,459.66058,629.677413,<ISCED level 6>,Yes
485505,16,Male,<ISCED level 2>,Yes,No,No,No,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,367.43262,375.05146,377.41516,495.777287,<ISCED level 6>,Yes
485517,28,Male,<ISCED level 3A>,Yes,NaN,NaN,NaN,201-500 books,9.0,3.0,...,2.0,200.0,120.0,160.0,405.28900,412.50230,395.59866,539.559653,<ISCED level 6>,Yes
485535,46,Female,<ISCED level 3A>,No,No,No,Yes,11-25 books,NaN,NaN,...,NaN,NaN,NaN,NaN,333.78252,331.70784,376.38940,458.554093,<ISCED level 6>,Yes
485546,57,Female,<ISCED level 3A>,Yes,Yes,No,No,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,524.07696,562.93152,538.45578,716.513740,<ISCED level 6>,Yes
485558,69,Male,"<ISCED level 3B, 3C>",NaN,Yes,NaN,NaN,201-500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,482.24802,388.44394,456.39688,603.112287,<ISCED level 6>,Yes
485608,119,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,101-200 books,NaN,10.0,...,1.0,225.0,135.0,90.0,366.96524,484.69200,432.52518,550.382553,<ISCED level 6>,Yes
485622,133,Female,<ISCED level 3A>,No,No,No,No,0-10 books,2.0,1.0,...,1.0,135.0,135.0,180.0,225.82178,158.46882,209.94030,273.350893,<ISCED level 6>,Yes
485629,140,Male,<ISCED level 3A>,No,No,No,No,11-25 books,NaN,2.0,...,7.0,225.0,135.0,90.0,280.26952,318.83512,276.79970,385.391287,<ISCED level 6>,Yes
485668,179,Female,NaN,Yes,Yes,NaN,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,527.58218,574.84616,490.43268,706.814400,<ISCED level 6>,Yes
485686,197,Male,"<ISCED level 3B, 3C>",No,Yes,No,Yes,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,461.13880,359.41350,442.50280,574.731300,<ISCED level 6>,Yes
485740,251,Female,<ISCED level 2>,NaN,No,No,No,11-25 books,3.0,2.0,...,2.0,NaN,NaN,NaN,347.80338,322.73212,299.64564,439.328173,<ISCED level 6>,Yes
485756,267,Female,<ISCED level 3A>,No,Yes,No,No,26-100 books,NaN,NaN,...,NaN,NaN,NaN,NaN,337.05406,368.32554,384.50206,475.645240,<ISCED level 6>,Yes
485773,284,Female,"<ISCED level 3B, 3C>",Yes,Yes,No,Yes,201-500 books,8.0,3.0,...,1.0,225.0,135.0,270.0,314.38700,439.41630,418.81762,495.669307,<ISCED level 6>,Yes
485792,303,Female,<ISCED level 3A>,Yes,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,402.56272,397.71504,450.42894,551.089807,<ISCED level 6>,Yes
485819,330,Male,<ISCED level 3A>,No,Yes,Yes,No,26-100 books,1.0,NaN,...,1.0,270.0,180.0,405.0,362.21374,411.21918,376.10968,503.918780,<ISCED level 6>,Yes
485843,354,Female,NaN,Yes,Yes,NaN,NaN,11-25 books,NaN,9.0,...,0.0,405.0,405.0,405.0,503.98038,441.71980,586.19918,678.626580,<ISCED level 6>,Yes
485875,386,Female,<ISCED level 3A>,No,No,No,No,11-25 books,NaN,1.0,...,2.0,225.0,135.0,270.0,335.18462,327.81574,301.13764,433.107540,<ISCED level 6>,Yes
485890,401,Female,<ISCED level 2>,Yes,No,No,No,11-25 books,NaN,NaN,...,NaN,NaN,NaN,NaN,295.69248,331.86672,223.18166,382.144447,<ISCED level 6>,Yes
485905,416,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,26-100 books,10.0,NaN,...,7.0,135.0,225.0,90.0,519.63702,563.96412,529.13092,710.789693,<ISCED level 6>,Yes
485906,417,Female,<ISCED level 3A>,No,No,No,Yes,11-25 books,NaN,8.0,...,2.0,135.0,180.0,90.0,394.77334,439.65458,391.86870,540.356653,<ISCED level 6>,Yes
485920,431,Female,<ISCED level 3A>,Yes,Yes,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,347.88128,380.31962,430.66020,502.247460,<ISCED level 6>,Yes
485935,446,Female,"<ISCED level 3B, 3C>",No,No,Yes,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,439.48434,495.33574,466.74748,613.683967,<ISCED level 6>,Yes
485951,462,Female,<ISCED level 3A>,No,Yes,No,Yes,26-100 books,NaN,4.0,...,1.0,225.0,270.0,90.0,361.12322,407.48504,394.10666,507.946047,<ISCED level 6>,Yes
485958,469,Male,<ISCED level 3A>,Yes,No,No,Yes,26-100 books,NaN,5.0,...,4.0,180.0,225.0,90.0,234.54590,237.83864,206.67660,304.535680,<ISCED level 6>,Yes
485963,474,Male,<ISCED level 2>,No,No,No,No,0-10 books,2.0,2.0,...,0.0,180.0,225.0,135.0,384.56926,412.74284,401.28680,527.722720,<ISCED level 6>,Yes
485981,492,Male,"<ISCED level 3B, 3C>",No,No,Yes,No,More than 500 books,0.0,0.0,...,0.0,NaN,NaN,NaN,565.82800,572.97150,530.99590,745.207800,<ISCED level 6>,Yes
485984,495,Female,<ISCED level 3A>,No,No,No,Yes,11-25 books,8.0,1.0,...,0.0,180.0,225.0,90.0,486.61006,497.71868,447.63148,639.523427,<ISCED level 6>,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4718674,33562,Male,She did not complete <ISCED level 1>,No,No,No,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,385.42606,367.27256,372.00672,503.377133,<ISCED level 0>,1
4718690,33578,Male,<ISCED level 2>,No,NaN,NaN,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,256.12244,188.59922,297.96716,332.937087,<ISCED level 0>,1
4718708,33596,Male,<ISCED level 2>,NaN,NaN,NaN,NaN,26-100 books,1.0,1.0,...,1.0,240.0,300.0,240.0,387.13976,359.57392,376.85564,503.569693,<ISCED level 0>,1
4718734,33622,Male,<ISCED level 2>,No,No,No,NaN,26-100 books,3.0,1.0,...,0.0,NaN,360.0,360.0,455.45256,454.68462,436.06862,600.552787,<ISCED level 0>,1
4718758,33646,Male,"<ISCED level 3B, 3C>",No,No,Yes,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,451.40210,477.21926,476.25886,618.760773,<ISCED level 0>,1
4718797,33685,Male,<ISCED level 1>,No,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,307.14284,281.06350,373.68520,423.011460,<ISCED level 0>,1
4718799,33687,Female,NaN,No,No,No,NaN,26-100 books,2.0,2.0,...,2.0,650.0,600.0,180.0,287.90312,287.06762,351.67848,404.850780,<ISCED level 0>,1
4718803,33691,Male,<ISCED level 2>,No,No,No,NaN,More than 500 books,NaN,NaN,...,NaN,NaN,NaN,NaN,396.48698,392.61406,374.61770,520.068573,<ISCED level 0>,1
4718804,33692,Female,<ISCED level 1>,NaN,NaN,NaN,NaN,0-10 books,6.0,4.0,...,0.0,120.0,180.0,180.0,357.46220,358.39668,380.77208,484.697720,<ISCED level 0>,1
4718811,33699,Female,She did not complete <ISCED level 1>,No,No,No,NaN,11-25 books,2.0,1.0,...,1.0,240.0,150.0,300.0,359.48746,390.01022,362.40210,490.462413,<ISCED level 0>,1
4718812,33700,Male,She did not complete <ISCED level 1>,No,No,No,NaN,26-100 books,10.0,3.0,...,2.0,120.0,200.0,250.0,440.10750,407.36986,468.61246,585.399107,<ISCED level 0>,1
4718815,33703,Male,<ISCED level 2>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,398.27854,412.34190,405.66954,538.189507,<ISCED level 0>,1
4718819,33707,Female,<ISCED level 2>,No,No,No,NaN,0-10 books,3.0,2.0,...,2.0,150.0,150.0,150.0,360.57798,392.86970,426.65050,513.558720,<ISCED level 0>,1
4718820,33708,Female,<ISCED level 1>,NaN,NaN,NaN,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,507.48560,504.15260,519.52630,679.550033,<ISCED level 0>,1
4718825,33713,Male,<ISCED level 2>,No,No,No,NaN,11-25 books,NaN,NaN,...,NaN,NaN,NaN,NaN,431.30548,425.97496,453.50616,580.697360,<ISCED level 0>,1
4718831,33719,Female,She did not complete <ISCED level 1>,No,No,No,NaN,0-10 books,NaN,NaN,...,NaN,100.0,150.0,150.0,327.16156,326.14768,364.91980,448.463533,<ISCED level 0>,1
4718832,33720,Male,She did not complete <ISCED level 1>,No,No,No,NaN,11-25 books,10.0,5.0,...,0.0,1200.0,300.0,600.0,401.08270,418.67726,411.91718,544.253280,<ISCED level 0>,1
4718836,33724,Female,<ISCED level 1>,No,No,No,NaN,0-10 books,6.0,3.0,...,0.0,225.0,200.0,180.0,441.89906,463.56332,376.76240,574.707947,<ISCED level 0>,1
4718843,33731,Female,<ISCED level 2>,No,No,No,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,268.50756,315.26562,332.37596,394.885567,<ISCED level 0>,1
4718858,33746,Male,<ISCED level 1>,No,No,No,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,338.14456,365.50830,350.46624,464.087887,<ISCED level 0>,1
4718865,33753,Female,<ISCED level 2>,No,No,No,NaN,0-10 books,1.0,NaN,...,1.0,225.0,150.0,60.0,472.35550,488.18694,418.44462,617.114187,<ISCED level 0>,1
4718881,33769,Female,She did not complete <ISCED level 1>,No,No,No,NaN,0-10 books,1.0,1.0,...,1.0,300.0,250.0,120.0,379.50616,385.08548,358.57888,500.892227,<ISCED level 0>,1
4718885,33773,Female,<ISCED level 1>,No,No,No,NaN,0-10 books,1.0,0.0,...,1.0,30.0,30.0,30.0,303.01448,368.40498,365.10628,446.513407,<ISCED level 0>,1
4718895,33783,Male,<ISCED level 1>,No,No,No,NaN,0-10 books,4.0,1.0,...,1.0,400.0,200.0,400.0,401.31642,365.34792,439.14584,535.708867,<ISCED level 0>,1
4718897,33785,Male,<ISCED level 2>,No,No,No,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,490.73846,465.10990,480.92130,642.502707,<ISCED level 0>,1
4718901,33789,Male,<ISCED level 1>,No,No,No,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,379.81774,377.05630,413.22268,516.638153,<ISCED level 0>,1
4718903,33791,Male,She did not complete <ISCED level 1>,No,No,No,NaN,0-10 books,3.0,NaN,...,0.0,250.0,200.0,250.0,445.24850,424.69184,461.15254,592.113793,<ISCED level 0>,1
4718909,33797,Female,<ISCED level 1>,No,No,No,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,374.75462,337.66518,371.54046,486.238293,<ISCED level 0>,1
4718914,33802,Female,She did not complete <ISCED level 1>,No,No,No,NaN,0-10 books,NaN,NaN,...,NaN,NaN,NaN,NaN,372.80730,361.73278,394.94592,500.764433,<ISCED level 0>,1
4718915,33803,Female,She did not complete <ISCED level 1>,No,No,No,NaN,0-10 books,15.0,5.0,...,3.0,NaN,160.0,NaN,439.64014,452.76074,471.96942,601.336813,<ISCED level 0>,1

In [109]:
father_edu_groups.duplicated

AttributeError: Cannot access callable attribute 'duplicated' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [19]:
father_edu = pisa_clean.copy()

In [20]:
pisa_clean[ 'Father - Highest Schooling'].value_counts()

<ISCED level 3A>                        215280
<ISCED level 3B, 3C>                     91179
<ISCED level 2>                          84329
<ISCED level 1>                          35938
He did not complete <ISCED level 1>      16535
Name: Father - Highest Schooling, dtype: int64

In [21]:
father_edu.rename({'Father Qualifications - ISCED level 6': '<ISCED level 6>',
                   'Father Qualifications - ISCED level 5A': '<ISCED level 5>',
                   'Father Qualifications - ISCED level 5B': '<ISCED level 5>',
                   'Father Qualifications - ISCED level 4': '<ISCED level 4>'}, axis='columns', inplace=True)

In [22]:
father_edu = pd.melt(father_edu, 
                     id_vars=['Student ID', 'Gender',
                            'Mother - Highest Schooling', 
                            'Mother Qualifications - ISCED level 6', 
                            'Mother Qualifications - ISCED level 5A',
                            'Mother Qualifications - ISCED level 5B',
                            'Mother Qualifications - ISCED level 4',
                            'Father - Highest Schooling', 'How many books at home',
                            'Out-of-School Study Time - Homework',
                            'Out-of-School Study Time - Guided Homework',
                            'Out-of-School Study Time - Personal Tutor',
                            'Out-of-School Study Time - Commercial Company',
                            'Out-of-School Study Time - With Parent',
                            'Learning time (minutes per week)- <Mathematics>',
                            'Learning time (minutes per week)  - <test language>',
                            'Learning time (minutes per week) - <Science>',
                            'Average Math Score',
                            'Average Reading Score',
                            'Average Science Score',
                            'Average Total Score'], var_name='father_edu', value_name='father')

In [23]:
father_edu.sample(10)

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Father - Highest Schooling,How many books at home,Out-of-School Study Time - Homework,...,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,father_edu,father
769883,5693,Female,<ISCED level 3A>,No,No,NaN,NaN,<ISCED level 3A>,0-10 books,NaN,...,NaN,NaN,NaN,NaN,487.07746,516.38494,499.57104,663.370300,<ISCED level 5>,Yes
450527,2197,Male,"<ISCED level 3B, 3C>",No,No,Yes,NaN,<ISCED level 3A>,More than 500 books,NaN,...,NaN,NaN,NaN,NaN,845.07714,701.36292,669.93662,1020.484607,<ISCED level 6>,No
1502523,4667,Male,NaN,No,No,No,NaN,"<ISCED level 3B, 3C>",0-10 books,2.0,...,0.0,150.0,100.0,50.0,381.21982,345.62006,405.57628,504.545327,<ISCED level 4>,NaN
1253483,3803,Female,<ISCED level 3A>,No,No,NaN,NaN,NaN,101-200 books,1.0,...,0.0,150.0,200.0,150.0,488.09006,561.89890,490.71244,676.263820,<ISCED level 5>,NaN
1176286,3531,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,480.14490,566.34710,434.20370,653.613533,<ISCED level 5>,NaN
1337319,2430,Female,"<ISCED level 3B, 3C>",No,No,Yes,Yes,<ISCED level 3A>,26-100 books,2.0,...,0.0,240.0,280.0,240.0,403.65322,498.27468,483.90526,596.495460,<ISCED level 5>,Yes
1011046,3435,Male,<ISCED level 3A>,No,Yes,No,No,<ISCED level 3A>,More than 500 books,2.0,...,0.0,150.0,150.0,150.0,589.27404,583.39680,606.24766,789.397513,<ISCED level 5>,No
592074,10571,Female,<ISCED level 3A>,Yes,No,No,No,<ISCED level 3A>,More than 500 books,20.0,...,2.0,225.0,270.0,90.0,531.63264,579.13546,590.76836,744.389700,<ISCED level 5>,No
852019,2620,Male,<ISCED level 3A>,No,Yes,Yes,Yes,"<ISCED level 3B, 3C>",11-25 books,NaN,...,NaN,NaN,NaN,NaN,529.60742,525.89734,521.11154,702.074573,<ISCED level 5>,No
1052029,6580,Female,<ISCED level 3A>,Yes,NaN,Yes,NaN,<ISCED level 3A>,201-500 books,1.0,...,0.0,150.0,150.0,150.0,471.57658,520.91252,481.85378,648.639820,<ISCED level 5>,NaN

In [31]:
list(father_edu)

['Student ID',
 'Gender',
 'Mother - Highest Schooling',
 'Mother Qualifications - ISCED level 6',
 'Mother Qualifications - ISCED level 5A',
 'Mother Qualifications - ISCED level 5B',
 'Mother Qualifications - ISCED level 4',
 'Father - Highest Schooling',
 'How many books at home',
 'Out-of-School Study Time - Homework',
 'Out-of-School Study Time - Guided Homework',
 'Out-of-School Study Time - Personal Tutor',
 'Out-of-School Study Time - Commercial Company',
 'Out-of-School Study Time - With Parent',
 'Learning time (minutes per week)- <Mathematics>',
 'Learning time (minutes per week)  - <test language>',
 'Learning time (minutes per week) - <Science>',
 'Average Math Score',
 'Average Reading Score',
 'Average Science Score',
 'Average Total Score',
 'father_edu',
 'father']

In [32]:
father_edu_miss = father_edu[(father_edu['father'] == 'No') | (father_edu['father'] == 'NaN')]

In [33]:
father_edu_miss

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Father - Highest Schooling,How many books at home,Out-of-School Study Time - Homework,...,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,father_edu,father
1,2,Female,<ISCED level 3A>,Yes,Yes,No,No,<ISCED level 3A>,201-500 books,NaN,...,0.0,270.0,315.0,90.0,470.56396,384.68832,478.12382,601.313353,<ISCED level 6>,No
4,5,Female,She did not complete <ISCED level 1>,No,No,No,No,"<ISCED level 3B, 3C>",101-200 books,NaN,...,NaN,NaN,NaN,NaN,385.50398,256.01010,367.15778,464.725280,<ISCED level 6>,No
5,6,Female,"<ISCED level 3B, 3C>",No,No,No,No,<ISCED level 2>,0-10 books,3.0,...,1.0,NaN,NaN,NaN,365.17370,337.42688,375.55018,481.108153,<ISCED level 6>,No
7,8,Male,<ISCED level 3A>,No,Yes,No,No,<ISCED level 3A>,26-100 books,NaN,...,NaN,NaN,NaN,NaN,542.14830,516.59478,559.06378,719.985053,<ISCED level 6>,No
9,10,Female,<ISCED level 3A>,No,No,No,No,<ISCED level 3A>,11-25 books,NaN,...,9.0,90.0,240.0,270.0,433.87600,401.92486,342.16710,537.281320,<ISCED level 6>,No
12,13,Female,<ISCED level 2>,No,No,No,No,He did not complete <ISCED level 1>,0-10 books,NaN,...,NaN,NaN,NaN,NaN,231.89750,178.88258,194.36778,279.015120,<ISCED level 6>,No
13,14,Female,<ISCED level 3A>,No,No,No,Yes,<ISCED level 3A>,0-10 books,8.0,...,8.0,135.0,135.0,270.0,448.20844,502.24622,505.35248,634.671860,<ISCED level 6>,No
14,15,Male,<ISCED level 2>,No,No,No,No,<ISCED level 3A>,NaN,1.0,...,0.0,NaN,NaN,NaN,297.25036,283.22874,294.42372,390.717727,<ISCED level 6>,No
16,17,Female,<ISCED level 2>,No,No,No,No,<ISCED level 3A>,11-25 books,NaN,...,NaN,NaN,NaN,NaN,245.99622,188.89090,225.97912,302.287487,<ISCED level 6>,No
17,18,Male,<ISCED level 2>,No,NaN,NaN,NaN,<ISCED level 2>,0-10 books,4.0,...,4.0,135.0,135.0,90.0,527.27062,558.77706,500.78328,704.700527,<ISCED level 6>,No
19,20,Female,<ISCED level 3A>,No,No,No,No,<ISCED level 3A>,201-500 books,5.0,...,2.0,180.0,225.0,270.0,453.19364,458.00314,451.82768,605.406033,<ISCED level 6>,No
21,22,Male,<ISCED level 2>,No,No,No,No,<ISCED level 3A>,26-100 books,NaN,...,NaN,NaN,NaN,NaN,393.05968,440.32980,409.02648,545.158547,<ISCED level 6>,No
22,23,Female,<ISCED level 2>,No,No,No,No,<ISCED level 2>,26-100 books,10.0,...,9.0,225.0,135.0,270.0,230.41752,264.74752,262.62588,329.402813,<ISCED level 6>,No
23,24,Female,<ISCED level 2>,No,No,No,No,<ISCED level 3A>,0-10 books,NaN,...,NaN,NaN,NaN,NaN,442.60008,412.64804,435.88214,577.910113,<ISCED level 6>,No
24,25,Male,<ISCED level 2>,No,No,No,No,<ISCED level 2>,0-10 books,NaN,...,NaN,NaN,NaN,NaN,314.15328,329.01980,304.86756,420.731307,<ISCED level 6>,No
25,26,Female,<ISCED level 2>,No,No,No,No,<ISCED level 3A>,11-25 books,NaN,...,0.0,135.0,135.0,135.0,373.19676,364.51284,374.61766,495.174673,<ISCED level 6>,No
26,27,Female,<ISCED level 3A>,No,No,No,Yes,<ISCED level 3A>,11-25 books,NaN,...,0.0,240.0,120.0,120.0,385.11450,398.27102,400.35434,522.951453,<ISCED level 6>,No
28,29,Female,<ISCED level 2>,No,No,No,No,<ISCED level 2>,26-100 books,10.0,...,1.0,225.0,135.0,270.0,364.23900,323.28816,289.38830,447.051487,<ISCED level 6>,No
29,30,Female,<ISCED level 3A>,No,Yes,No,No,<ISCED level 3A>,26-100 books,NaN,...,0.0,180.0,225.0,270.0,521.50646,536.56042,528.66468,702.746007,<ISCED level 6>,No
31,32,Male,<ISCED level 1>,No,No,No,No,<ISCED level 2>,11-25 books,NaN,...,NaN,NaN,NaN,NaN,236.10376,210.49230,220.19770,300.965840,<ISCED level 6>,No
33,34,Male,<ISCED level 2>,No,No,No,No,<ISCED level 2>,0-10 books,NaN,...,NaN,NaN,NaN,NaN,445.32636,468.07708,433.36444,597.364747,<ISCED level 6>,No
34,35,Male,<ISCED level 3A>,No,No,No,No,<ISCED level 3A>,11-25 books,10.0,...,0.0,120.0,200.0,80.0,395.24070,350.27134,405.85604,515.536260,<ISCED level 6>,No
35,36,Male,<ISCED level 3A>,No,No,Yes,Yes,<ISCED level 3A>,More than 500 books,NaN,...,0.0,180.0,225.0,270.0,508.34242,464.86930,479.52256,653.692233,<ISCED level 6>,No
36,37,Female,<ISCED level 2>,No,No,No,No,<ISCED level 2>,NaN,NaN,...,NaN,NaN,NaN,NaN,494.24366,484.53312,505.81872,659.613053,<ISCED level 6>,No
37,38,Female,<ISCED level 2>,No,No,No,No,<ISCED level 2>,0-10 books,NaN,...,NaN,NaN,NaN,NaN,514.26234,491.76132,505.91198,675.399327,<ISCED level 6>,No
39,40,Female,<ISCED level 3A>,No,No,No,Yes,<ISCED level 3A>,26-100 books,NaN,...,2.0,240.0,120.0,120.0,605.00856,589.38206,532.48788,777.295687,<ISCED level 6>,No
40,41,Male,<ISCED level 3A>,No,Yes,No,No,<ISCED level 3A>,201-500 books,5.0,...,0.0,NaN,NaN,NaN,273.57066,303.99912,306.17308,385.771173,<ISCED level 6>,No
42,43,Female,<ISCED level 3A>,No,Yes,No,No,<ISCED level 3A>,201-500 books,NaN,...,NaN,NaN,NaN,NaN,374.28726,415.66642,433.73742,532.659453,<ISCED level 6>,No
43,44,Male,"<ISCED level 3B, 3C>",No,Yes,No,Yes,"<ISCED level 3B, 3C>",26-100 books,NaN,...,NaN,NaN,NaN,NaN,376.62408,299.50824,361.00336,471.253253,<ISCED level 6>,No
44,45,Female,<ISCED level 2>,No,No,No,No,<ISCED level 2>,0-10 books,NaN,...,2.0,180.0,225.0,180.0,409.72892,402.63972,489.22042,570.439327,<ISCED level 6>,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1941926,4926,Male,<ISCED level 2>,No,No,NaN,No,<ISCED level 2>,11-25 books,NaN,...,NaN,NaN,NaN,NaN,467.91558,447.14630,489.96642,624.314627,<ISCED level 4>,No
1941927,4927,Male,<ISCED level 1>,No,No,NaN,No,<ISCED level 1>,11-25 books,NaN,...,NaN,NaN,NaN,NaN,510.05608,492.05524,549.36592,687.177773,<ISCED level 4>,No
1941928,4928,Male,<ISCED level 1>,No,No,NaN,No,<ISCED level 1>,0-10 books,2.0,...,1.0,315.0,270.0,90.0,474.77022,429.66390,490.24618,623.150173,<ISCED level 4>,No
1941929,4929,Male,<ISCED level 3A>,No,Yes,NaN,Yes,<ISCED level 1>,11-25 books,10.0,...,0.0,NaN,225.0,360.0,551.49556,508.41494,607.55314,739.653067,<ISCED level 4>,No
1941930,4930,Male,<ISCED level 1>,No,No,NaN,No,He did not complete <ISCED level 1>,101-200 books,4.0,...,0.0,315.0,225.0,180.0,467.05870,432.87170,509.82842,625.605840,<ISCED level 4>,No
1941931,4931,Male,She did not complete <ISCED level 1>,No,No,NaN,No,He did not complete <ISCED level 1>,0-10 books,3.0,...,0.0,270.0,270.0,NaN,573.30582,499.59354,573.98360,740.062927,<ISCED level 4>,No
1941932,4932,Female,NaN,NaN,NaN,NaN,NaN,He did not complete <ISCED level 1>,26-100 books,NaN,...,NaN,NaN,NaN,NaN,448.44212,488.82240,516.07610,633.927580,<ISCED level 4>,No
1941934,4934,Male,<ISCED level 2>,No,No,NaN,No,<ISCED level 2>,11-25 books,NaN,...,NaN,NaN,NaN,NaN,517.06652,488.84746,532.20812,685.062873,<ISCED level 4>,No
1941935,4935,Male,She did not complete <ISCED level 1>,No,No,NaN,No,He did not complete <ISCED level 1>,26-100 books,1.0,...,0.0,NaN,270.0,450.0,508.03084,534.39794,575.28908,708.582900,<ISCED level 4>,No
1941936,4936,Male,She did not complete <ISCED level 1>,No,No,NaN,No,He did not complete <ISCED level 1>,101-200 books,NaN,...,NaN,NaN,NaN,NaN,504.44774,421.16328,553.46886,661.175873,<ISCED level 4>,No
1941937,4937,Female,She did not complete <ISCED level 1>,No,No,NaN,No,<ISCED level 1>,0-10 books,NaN,...,NaN,NaN,NaN,NaN,445.17060,491.44360,462.73778,614.840860,<ISCED level 4>,No
1941938,4938,Female,She did not complete <ISCED level 1>,No,No,NaN,No,<ISCED level 1>,0-10 books,20.0,...,0.0,315.0,NaN,NaN,495.72362,472.14190,537.43006,667.006400,<ISCED level 4>,No
1941939,4939,Female,She did not complete <ISCED level 1>,No,No,NaN,No,He did not complete <ISCED level 1>,11-25 books,2.0,...,0.0,315.0,225.0,90.0,414.48042,437.19222,495.00184,587.051633,<ISCED level 4>,No
1941940,4940,Male,<ISCED level 1>,No,No,NaN,No,He did not complete <ISCED level 1>,0-10 books,NaN,...,NaN,NaN,NaN,NaN,411.44260,400.15234,472.34242,565.126653,<ISCED level 4>,No
1941941,4941,Male,<ISCED level 2>,No,No,NaN,No,<ISCED level 3A>,0-10 books,0.0,...,0.0,540.0,540.0,NaN,498.44992,503.84386,530.52964,677.091113,<ISCED level 4>,No
1941942,4942,Male,<ISCED level 1>,No,No,NaN,No,<ISCED level 1>,11-25 books,2.0,...,1.0,270.0,225.0,225.0,542.14830,466.07222,573.98358,708.117467,<ISCED level 4>,No
1941943,4943,Female,<ISCED level 1>,No,No,NaN,No,<ISCED level 2>,0-10 books,3.0,...,0.0,NaN,270.0,90.0,471.88814,468.32920,502.74152,638.282333,<ISCED level 4>,No
1941944,4944,Male,<ISCED level 2>,No,No,NaN,No,NaN,0-10 books,2.0,...,0.0,630.0,NaN,315.0,422.81508,426.29576,472.52892,581.484947,<ISCED level 4>,No
1941945,4945,Male,She did not complete <ISCED level 1>,No,No,NaN,No,He did not complete <ISCED level 1>,26-100 books,5.0,...,0.0,315.0,270.0,315.0,437.30332,469.11960,492.11116,611.945800,<ISCED level 4>,No
1941946,4946,Female,<ISCED level 2>,No,No,NaN,No,<ISCED level 2>,0-10 books,3.0,...,1.0,NaN,NaN,270.0,435.35598,454.19046,493.32340,606.075273,<ISCED level 4>,No
1941947,4947,Female,She did not complete <ISCED level 1>,No,No,NaN,No,<ISCED level 1>,11-25 books,NaN,...,NaN,NaN,NaN,NaN,469.00608,476.11344,499.01154,637.712380,<ISCED level 4>,No
1941948,4948,Female,<ISCED level 1>,No,No,NaN,No,He did not complete <ISCED level 1>,101-200 books,2.0,...,0.0,315.0,NaN,450.0,441.04222,469.12348,494.90860,615.372173,<ISCED level 4>,No
1941949,4949,Male,<ISCED level 1>,No,No,NaN,No,<ISCED level 3A>,101-200 books,5.0,...,0.0,315.0,225.0,NaN,462.93038,476.81830,511.04064,637.906567,<ISCED level 4>,No
1941953,4953,Female,<ISCED level 3A>,No,No,NaN,No,<ISCED level 3A>,26-100 books,8.0,...,0.0,NaN,225.0,315.0,522.83066,500.89590,531.92838,692.828533,<ISCED level 4>,No
1941954,4954,Male,She did not complete <ISCED level 1>,No,No,NaN,No,<ISCED level 1>,26-100 books,NaN,...,NaN,NaN,NaN,NaN,507.79718,467.35532,499.10482,660.684833,<ISCED level 4>,No
1941955,4955,Female,<ISCED level 2>,No,No,NaN,No,He did not complete <ISCED level 1>,26-100 books,5.0,...,0.0,NaN,NaN,NaN,486.22058,472.61846,536.31110,660.456907,<ISCED level 4>,No
1941956,4956,Male,She did not complete <ISCED level 1>,No,No,NaN,No,<ISCED level 2>,26-100 books,NaN,...,NaN,NaN,NaN,NaN,529.21794,487.24356,524.37522,690.018220,<ISCED level 4>,No
1941957,4957,Male,<ISCED level 1>,No,No,NaN,No,<ISCED level 2>,0-10 books,NaN,...,NaN,NaN,NaN,NaN,486.29850,476.25694,541.90600,663.586647,<ISCED level 4>,No
1941958,4958,Male,<ISCED level 2>,No,No,NaN,No,<ISCED level 3A>,26-100 books,4.0,...,0.0,NaN,NaN,NaN,522.90856,518.43922,526.70646,696.987600,<ISCED level 4>,No
1941959,4959,Female,She did not complete <ISCED level 1>,No,No,NaN,No,<ISCED level 3A>,0-10 books,6.0,...,0.0,NaN,NaN,NaN,454.43994,488.66354,492.95038,630.164600,<ISCED level 4>,No

In [34]:
father_edu_miss['father_edu'].value_counts()

<ISCED level 5>    565500
<ISCED level 6>    341826
<ISCED level 4>    214828
Name: father_edu, dtype: int64

In [35]:
father_edu_miss['father_edu'].replace('<ISCED level 6>', np.nan, inplace=True)
father_edu_miss['father_edu'].replace('<ISCED level 5>', np.nan, inplace=True)
father_edu_miss['father_edu'].replace('<ISCED level 4>', np.nan, inplace=True)

In [36]:
father_edu_miss.head()

,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Father - Highest Schooling,How many books at home,Out-of-School Study Time - Homework,...,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,father_edu,father
1,2,Female,<ISCED level 3A>,Yes,Yes,No,No,<ISCED level 3A>,201-500 books,NaN,...,0.0,270.0,315.0,90.0,470.56396,384.68832,478.12382,601.313353,NaN,No
4,5,Female,She did not complete <ISCED level 1>,No,No,No,No,"<ISCED level 3B, 3C>",101-200 books,NaN,...,NaN,NaN,NaN,NaN,385.50398,256.01010,367.15778,464.725280,NaN,No
5,6,Female,"<ISCED level 3B, 3C>",No,No,No,No,<ISCED level 2>,0-10 books,3.0,...,1.0,NaN,NaN,NaN,365.17370,337.42688,375.55018,481.108153,NaN,No
7,8,Male,<ISCED level 3A>,No,Yes,No,No,<ISCED level 3A>,26-100 books,NaN,...,NaN,NaN,NaN,NaN,542.14830,516.59478,559.06378,719.985053,NaN,No
9,10,Female,<ISCED level 3A>,No,No,No,No,<ISCED level 3A>,11-25 books,NaN,...,9.0,90.0,240.0,270.0,433.87600,401.92486,342.16710,537.281320,NaN,No

In [48]:
father_edu_clean = father_edu.merge(father_edu_miss, on='Student ID')
father_edu_clean.drop(columns=['father'], axis=1, inplace=True)

In [46]:
father_edu_miss.shape

(1122154, 23)

In [47]:
pisa_clean.shape

(485490, 25)

rename column father_edu to Father - Highest Schooling - then concat and drop nans

### 4. Missing values in relevant columns ('Mother Highest Schooling', 'Father Highest Schooling', 'How many books at home', 'Out-of-School Study Time - Homework', 'Out-of-School Study Time - Guided Homework', 'Out-of-School Study Time - Personal Tutor','Out-of-School Study Time - Commercial Company', 'Out-of-School Study Time - With Parent', 'Learning time (minutes per week)- Mathematics', 'Learning time (minutes per week)  - test language', 'Learning time (minutes per week) - Science')

Due to the amount of rows in this dataframe, we can comfortably remove the rows with missing values.

In [18]:

pisa_clean.replace(["NaN"], np.nan, inplace = True)
pisa_clean.dropna(inplace = True)

In [19]:
# Check to see if null values correctly dropped
pisa_clean

,Country,International Grade,Gender,Mother<Highest Schooling>,Father<Highest Schooling>,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score
3,Albania,9,Female,"<ISCED level 3B, 3C>",<ISCED level 3A>,11-25 books,10.0,2.0,2.0,0.0,0.0,135.0,135.0,90.0,449.45476,477.46376,453.97240,610.115227
6,Albania,10,Female,"<ISCED level 3B, 3C>",<ISCED level 3A>,0-10 books,3.0,3.0,2.0,2.0,0.0,225.0,135.0,90.0,490.11528,372.13824,491.17866,614.515820
13,Albania,10,Female,<ISCED level 3A>,<ISCED level 3A>,0-10 books,8.0,8.0,0.0,0.0,8.0,135.0,135.0,270.0,448.20844,502.24622,505.35248,634.671860
17,Albania,10,Male,<ISCED level 2>,<ISCED level 2>,0-10 books,4.0,3.0,3.0,5.0,4.0,135.0,135.0,90.0,527.27062,558.77706,500.78328,704.700527
18,Albania,10,Female,<ISCED level 3A>,"<ISCED level 3B, 3C>",11-25 books,10.0,0.0,0.0,0.0,0.0,240.0,120.0,360.0,416.81728,350.37414,360.07088,514.693193
27,Albania,10,Male,<ISCED level 3A>,<ISCED level 3A>,201-500 books,9.0,3.0,0.0,9.0,2.0,200.0,120.0,160.0,405.28900,412.50230,395.59866,539.559653
28,Albania,10,Female,<ISCED level 2>,<ISCED level 2>,26-100 books,10.0,7.0,0.0,3.0,1.0,225.0,135.0,270.0,364.23900,323.28816,289.38830,447.051487
46,Albania,9,Female,<ISCED level 2>,<ISCED level 2>,0-10 books,6.0,6.0,3.0,5.0,4.0,225.0,225.0,225.0,367.43260,351.64504,391.58896,492.699733
53,Albania,10,Male,<ISCED level 3A>,<ISCED level 3A>,11-25 books,3.0,2.0,3.0,1.0,4.0,225.0,135.0,270.0,426.86558,370.48038,462.45804,562.223193
55,Albania,9,Male,<ISCED level 2>,<ISCED level 2>,0-10 books,4.0,3.0,2.0,1.0,1.0,135.0,135.0,90.0,269.67596,283.38912,366.69154,396.477527
57,Albania,9,Male,She did not complete <ISCED level 1>,He did not complete <ISCED level 1>,0-10 books,8.0,8.0,0.0,0.0,0.0,135.0,225.0,270.0,278.94534,278.25666,343.00632,393.051220
58,Albania,10,Male,<ISCED level 2>,<ISCED level 2>,0-10 books,3.0,0.0,0.0,0.0,0.0,135.0,135.0,90.0,353.33384,401.59584,483.43904,530.567520
61,Albania,10,Female,<ISCED level 3A>,<ISCED level 3A>,11-25 books,10.0,7.0,0.0,2.0,10.0,135.0,270.0,90.0,336.04146,440.92550,404.36402,505.790813
62,Albania,10,Female,<ISCED level 2>,<ISCED level 3A>,11-25 books,7.0,7.0,0.0,0.0,2.0,150.0,225.0,90.0,300.98926,326.46542,310.83552,413.093153
63,Albania,9,Female,<ISCED level 2>,<ISCED level 2>,0-10 books,2.0,2.0,0.0,0.0,1.0,135.0,135.0,90.0,175.26872,149.96970,161.07796,220.528367
66,Albania,9,Male,<ISCED level 3A>,<ISCED level 3A>,26-100 books,9.0,3.0,0.0,4.0,2.0,135.0,135.0,90.0,399.36906,391.09034,441.75682,543.861760
73,Albania,9,Female,<ISCED level 3A>,<ISCED level 3A>,26-100 books,5.0,0.0,0.0,3.0,0.0,180.0,180.0,90.0,532.33370,463.56330,491.36518,673.198627
75,Albania,9,Male,<ISCED level 3A>,<ISCED level 2>,0-10 books,2.0,1.0,0.0,2.0,1.0,180.0,225.0,135.0,214.60506,102.96752,194.08804,242.088560
84,Albania,10,Female,<ISCED level 2>,<ISCED level 2>,11-25 books,3.0,2.0,2.0,2.0,2.0,90.0,90.0,90.0,402.25112,417.25506,422.17456,547.977287
86,Albania,10,Female,<ISCED level 3A>,"<ISCED level 3B, 3C>",0-10 books,4.0,3.0,0.0,1.0,3.0,90.0,90.0,90.0,217.40924,130.03252,170.58934,245.146780
87,Albania,10,Male,"<ISCED level 3B, 3C>",<ISCED level 3A>,0-10 books,3.0,0.0,0.0,0.0,1.0,180.0,135.0,90.0,319.60586,236.63576,305.42708,393.758187
89,Albania,10,Female,<ISCED level 2>,<ISCED level 2>,0-10 books,2.0,0.0,0.0,0.0,1.0,90.0,90.0,135.0,323.50054,316.05994,324.63634,429.232453
92,Albania,10,Male,"<ISCED level 3B, 3C>","<ISCED level 3B, 3C>",26-100 books,7.0,2.0,0.0,0.0,2.0,135.0,315.0,90.0,598.15392,622.45154,643.26744,820.675607
94,Albania,10,Male,<ISCED level 2>,<ISCED level 2>,11-25 books,2.0,1.0,3.0,2.0,1.0,90.0,90.0,135.0,557.41548,538.40766,558.50430,737.247640
96,Albania,9,Male,<ISCED level 3A>,<ISCED level 3A>,201-500 books,4.0,2.0,3.0,0.0,2.0,180.0,180.0,135.0,479.67750,392.45364,459.00784,603.605493
97,Albania,10,Male,"<ISCED level 3B, 3C>","<ISCED level 3B, 3C>",11-25 books,8.0,2.0,2.0,2.0,1.0,90.0,90.0,90.0,515.27498,567.35786,533.51362,710.473813
103,Albania,10,Female,"<ISCED level 3B, 3C>",<ISCED level 3A>,11-25 books,3.0,2.0,1.0,0.0,3.0,135.0,135.0,90.0,352.39914,363.63912,349.06752,472.501640
108,Albania,10,Female,<ISCED level 3A>,<ISCED level 3A>,11-25 books,7.0,5.0,9.0,0.0,0.0,180.0,225.0,90.0,407.08056,508.36244,400.72734,574.416967
123,Albania,10,Male,<ISCED level 3A>,<ISCED level 3A>,0-10 books,4.0,2.0,3.0,5.0,1.0,147.0,192.0,94.0,302.46924,323.16562,348.78776,425.630620
124,Albania,10,Male,<ISCED level 3A>,<ISCED level 3A>,26-100 books,6.0,2.0,0.0,0.0,1.0,135.0,135.0,90.0,359.09800,400.71368,396.15816,505.022613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485378,Vietnam,10,Female,<ISCED level 3A>,<ISCED level 3A>,11-25 books,3.0,3.0,4.0,4.0,1.0,225.0,135.0,180.0,537.47468,508.83900,554.77436,712.854240
485383,Vietnam,10,Male,<ISCED level 3A>,<ISCED level 3A>,26-100 books,1.0,0.0,0.0,6.0,0.0,450.0,135.0,450.0,574.16262,515.39184,588.90340,750.873493
485393,Vietnam,10,Male,<ISCED level 1>,<ISCED level 2>,0-10 books,2.0,1.0,1.0,1.0,1.0,270.0,225.0,135.0,443.84638,392.13288,481.10780,586.977813
485398,Vietnam,10,Female,<ISCED level 2>,<ISCED level 2>,0-10 books,2.0,1.0,1.0,2.0,1.0,270.0,225.0,135.0,354.34648,384.13230,368.83622,487.220493
485399,Vietnam,10,Female,<ISCED level 1>,<ISCED level 1>,0-10 books,5.0,2.0,1.0,4.0,2.0,540.0,450.0,450.0,367.12104,408.19990,337.22492,493.222300
485400,Vietnam,10,Female,She did not complete <ISCED level 1>,He did not complete <ISCED level 1>,26-100 books,2.0,0.0,0.0,0.0,0.0,315.0,180.0,540.0,497.35940,474.60422,519.33980,662.887607
485407,Vietnam,10,Male,"<ISCED level 3B, 3C>","<ISCED level 3B, 3C>",26-100 books,7.0,0.0,0.0,6.0,0.0,315.0,225.0,270.0,592.62348,544.82322,609.13838,779.736187
485411,Vietnam,10,Male,<ISCED level 1>,<ISCED level 1>,11-25 books,6.0,4.0,5.0,6.0,4.0,270.0,270.0,180.0,423.28244,363.10248,448.84374,552.837033
485412,Vietnam,10,Male,<ISCED level 1>,He did not complete <ISCED level 1>,0-10 books,1.0,1.0,0.0,0.0,0.0,540.0,270.0,315.0,382.77770,372.88622,424.03952,520.827047
485417,Vietnam,10,Male,<ISCED level 2>,<ISCED level 1>,26-100 books,3.0,2.0,0.0,8.0,2.0,225.0,225.0,405.0,527.73796,476.65790,540.69376,690.942527
485419,Vietnam,10,Female,<ISCED level 1>,<ISCED level 3A>,26-100 books,30.0,1.0,0.0,10.0,0.0,315.0,270.0,405.0,529.21796,529.64990,554.77432,714.286713
485424,Vietnam,10,Female,<ISCED level 3A>,<ISCED level 3A>,26-100 books,20.0,18.0,0.0,0.0,5.0,180.0,135.0,225.0,541.83674,544.10636,563.16674,730.315527
485425,Vietnam,10,Male,<ISCED level 3A>,<ISCED level 3A>,26-100 books,5.0,3.0,0.0,4.0,0.0,225.0,225.0,135.0,515.11918,525.09538,550.95114,702.094960
485427,Vietnam,10,Female,<ISCED level 3A>,<ISCED level 3A>,26-100 books,14.0,10.0,0.0,0.0,10.0,180.0,180.0,360.0,588.72878,568.73002,600.27974,782.155773
485429,Vietnam,10,Male,<ISCED level 2>,<ISCED level 2>,26-100 books,3.0,2.0,0.0,4.0,1.0,180.0,135.0,315.0,516.20966,538.64826,511.78666,694.284747
485431,Vietnam,10,Female,<ISCED level 2>,<ISCED level 2>,26-100 books,2.0,1.0,0.0,3.0,2.0,180.0,135.0,135.0,630.94720,590.17636,601.86496,817.978573
485434,Vietnam,10,Female,<ISCED level 3A>,<ISCED level 2>,26-100 books,1.0,1.0,0.0,3.0,0.0,180.0,135.0,90.0,548.69140,495.97118,547.12794,713.493973
485435,Vietnam,10,Male,<ISCED level 2>,"<ISCED level 3B, 3C>",101-200 books,28.0,28.0,0.0,2.0,7.0,180.0,135.0,225.0,520.26018,521.32624,532.02164,697.956080
485437,Vietnam,10,Female,<ISCED level 1>,<ISCED level 1>,26-100 books,0.0,0.0,0.0,0.0,0.0,180.0,135.0,90.0,506.16140,457.36772,492.85716,654.182560
485440,Vietnam,10,Male,<ISCED level 2>,<ISCED level 3A>,26-100 books,3.0,2.0,0.0,4.0,1.0,180.0,135.0,315.0,549.31454,546.42712,570.44016,738.498787
485442,Vietnam,10,Male,<ISCED level 3A>,<ISCED level 2>,101-200 books,9.0,4.0,0.0,4.0,0.0,180.0,135.0,90.0,539.42204,467.43554,507.77694,684.685520
485444,Vietnam,10,Female,<ISCED level 3A>,<ISCED level 3A>,26-100 books,4.0,2.0,0.0,5.0,0.0,270.0,225.0,90.0,472.90076,507.64754,458.82134,637.423467
485446,Vietnam,10,Female,<ISCED level 1>,<ISCED level 2>,11-25 books,10.0,5.0,0.0,8.0,10.0,180.0,180.0,90.0,430.05918,476.74888,461.99180,599.619680
485453,Vietnam,10,Female,<ISCED level 2>,<ISCED level 2>,11-25 books,2.0,1.0,0.0,0.0,2.0,180.0,135.0,360.0,633.43978,563.64640,607.55316,812.693040
485458,Vietnam,10,Male,<ISCED level 1>,<ISCED level 1>,0-10 books,2.0,1.0,2.0,2.0,1.0,315.0,270.0,90.0,474.77022,429.66390,490.24618,623.150173
485460,Vietnam,10,Male,<ISCED level 1>,He did not complete <ISCED level 1>,101-200 books,4.0,1.0,0.0,4.0,0.0,315.0,225.0,180.0,467.05870,432.87170,509.82842,625.605840
485463,Vietnam,10,Male,She did not complete <ISCED level 1>,<ISCED level 3A>,101-200 books,2.0,0.0,0.0,0.0,2.0,315.0,270.0,360.0,526.72534,470.24234,572.49162,698.728213
485469,Vietnam,10,Female,She did not complete <ISCED level 1>,He did not complete <ISCED level 1>,11-25 books,2.0,1.0,0.0,2.0,0.0,315.0,225.0,90.0,414.48042,437.19222,495.00184,587.051633
485472,Vietnam,10,Male,<ISCED level 1>,<ISCED level 1>,11-25 books,2.0,2.0,1.0,1.0,1.0,270.0,225.0,225.0,542.14830,466.07222,573.98358,708.117467
485475,Vietnam,10,Male,She did not complete <ISCED level 1>,He did not complete <ISCED level 1>,26-100 books,5.0,2.0,0.0,0.0,0.0,315.0,270.0,315.0,437.30332,469.11960,492.11116,611.945800

In [20]:
# Confirm with smaller shape of dataframe
pisa_clean.shape

(189773, 18)

### 5. Create a total for Out-of-School Study Time and Learning time (minutes per week)

In [21]:
# Create total of Out-of-School Study Time
pisa_clean['Out-of-School Study Time - Total'] = pisa_clean['Out-of-School Study Time - Homework'] + pisa_clean['Out-of-School Study Time - Guided Homework'] + pisa_clean['Out-of-School Study Time - Personal Tutor'] + pisa_clean['Out-of-School Study Time - Commercial Company'] + pisa_clean['Out-of-School Study Time - With Parent']

# Create total of Learning time (minutes per week)
pisa_clean['Learning time (minutes per week) - Total'] = pisa_clean['Learning time (minutes per week)- <Mathematics>'] + pisa_clean['Learning time (minutes per week)  - <test language>'] + pisa_clean['Learning time (minutes per week) - <Science>']

In [22]:
list(pisa_clean)

['Country',
 'International Grade',
 'Gender',
 'Mother<Highest Schooling>',
 'Father<Highest Schooling>',
 'How many books at home',
 'Out-of-School Study Time - Homework',
 'Out-of-School Study Time - Guided Homework',
 'Out-of-School Study Time - Personal Tutor',
 'Out-of-School Study Time - Commercial Company',
 'Out-of-School Study Time - With Parent',
 'Learning time (minutes per week)- <Mathematics>',
 'Learning time (minutes per week)  - <test language>',
 'Learning time (minutes per week) - <Science>',
 'Average Math Score',
 'Average Reading Score',
 'Average Science Score',
 'Average Total Score',
 'Out-of-School Study Time - Total',
 'Learning time (minutes per week) - Total']

### 6. Single countries have various entries in the country column (Florida (USA), Massachusetts (USA), Connecticut (USA) and United States of America)

In [23]:
pisa_clean.replace(['Connecticut (USA)', 'Florida (USA)', 'Massachusetts (USA)'], 'United States of America', inplace=True)
pisa_clean.replace(['Perm(Russian)', 'Russian Federation', 'Perm(Russian Federation)'], 'Russia', inplace=True)

In [24]:
pisa_clean['Country'].value_counts()

Italy                       14482
Mexico                      11510
Spain                       11149
Canada                      10773
United Kingdom               6046
Switzerland                  5383
United States of America     5279
Australia                    5150
Brazil                       4553
Finland                      4502
United Arab Emirates         3616
Belgium                      3491
Denmark                      3474
Japan                        3413
Thailand                     3161
Singapore                    3005
Chinese Taipei               2960
Croatia                      2827
Poland                       2774
China-Shanghai               2723
Czech Republic               2722
Korea                        2566
Russia                       2543
Estonia                      2510
Ireland                      2448
Slovenia                     2369
Macao-China                  2333
Sweden                       2310
Luxembourg                   2286
Netherlands                  2239
                            ...
Norway                       2159
Hong Kong-China              2157
Kazakhstan                   2068
Chile                        2043
Bulgaria                     2043
Jordan                       2028
Serbia                       2025
Slovak Republic              1928
Montenegro                   1879
New Zealand                  1873
Qatar                        1851
France                       1839
Israel                       1799
Portugal                     1716
Germany                      1707
Iceland                      1616
Latvia                       1569
Colombia                     1542
Vietnam                      1461
Costa Rica                   1366
Indonesia                    1349
Albania                      1335
Uruguay                      1244
Malaysia                     1124
Peru                         1056
Turkey                        965
Tunisia                       859
Argentina                     824
Greece                        823
Liechtenstein                 157
Name: Country, Length: 64, dtype: int64

<a id='assessing2'></a>
### Final Assessment

In this section, we will do the preliminary visual and programmatic assessment of the pisa datasets to determine whether or not it holds any major quality or tidiness issues.

In [25]:
pisa_clean

,Country,International Grade,Gender,Mother<Highest Schooling>,Father<Highest Schooling>,How many books at home,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning time (minutes per week)- <Mathematics>,Learning time (minutes per week) - <test language>,Learning time (minutes per week) - <Science>,Average Math Score,Average Reading Score,Average Science Score,Average Total Score,Out-of-School Study Time - Total,Learning time (minutes per week) - Total
3,Albania,9,Female,"<ISCED level 3B, 3C>",<ISCED level 3A>,11-25 books,10.0,2.0,2.0,0.0,0.0,135.0,135.0,90.0,449.45476,477.46376,453.97240,610.115227,14.0,360.0
6,Albania,10,Female,"<ISCED level 3B, 3C>",<ISCED level 3A>,0-10 books,3.0,3.0,2.0,2.0,0.0,225.0,135.0,90.0,490.11528,372.13824,491.17866,614.515820,10.0,450.0
13,Albania,10,Female,<ISCED level 3A>,<ISCED level 3A>,0-10 books,8.0,8.0,0.0,0.0,8.0,135.0,135.0,270.0,448.20844,502.24622,505.35248,634.671860,24.0,540.0
17,Albania,10,Male,<ISCED level 2>,<ISCED level 2>,0-10 books,4.0,3.0,3.0,5.0,4.0,135.0,135.0,90.0,527.27062,558.77706,500.78328,704.700527,19.0,360.0
18,Albania,10,Female,<ISCED level 3A>,"<ISCED level 3B, 3C>",11-25 books,10.0,0.0,0.0,0.0,0.0,240.0,120.0,360.0,416.81728,350.37414,360.07088,514.693193,10.0,720.0
27,Albania,10,Male,<ISCED level 3A>,<ISCED level 3A>,201-500 books,9.0,3.0,0.0,9.0,2.0,200.0,120.0,160.0,405.28900,412.50230,395.59866,539.559653,23.0,480.0
28,Albania,10,Female,<ISCED level 2>,<ISCED level 2>,26-100 books,10.0,7.0,0.0,3.0,1.0,225.0,135.0,270.0,364.23900,323.28816,289.38830,447.051487,21.0,630.0
46,Albania,9,Female,<ISCED level 2>,<ISCED level 2>,0-10 books,6.0,6.0,3.0,5.0,4.0,225.0,225.0,225.0,367.43260,351.64504,391.58896,492.699733,24.0,675.0
53,Albania,10,Male,<ISCED level 3A>,<ISCED level 3A>,11-25 books,3.0,2.0,3.0,1.0,4.0,225.0,135.0,270.0,426.86558,370.48038,462.45804,562.223193,13.0,630.0
55,Albania,9,Male,<ISCED level 2>,<ISCED level 2>,0-10 books,4.0,3.0,2.0,1.0,1.0,135.0,135.0,90.0,269.67596,283.38912,366.69154,396.477527,11.0,360.0
57,Albania,9,Male,She did not complete <ISCED level 1>,He did not complete <ISCED level 1>,0-10 books,8.0,8.0,0.0,0.0,0.0,135.0,225.0,270.0,278.94534,278.25666,343.00632,393.051220,16.0,630.0
58,Albania,10,Male,<ISCED level 2>,<ISCED level 2>,0-10 books,3.0,0.0,0.0,0.0,0.0,135.0,135.0,90.0,353.33384,401.59584,483.43904,530.567520,3.0,360.0
61,Albania,10,Female,<ISCED level 3A>,<ISCED level 3A>,11-25 books,10.0,7.0,0.0,2.0,10.0,135.0,270.0,90.0,336.04146,440.92550,404.36402,505.790813,29.0,495.0
62,Albania,10,Female,<ISCED level 2>,<ISCED level 3A>,11-25 books,7.0,7.0,0.0,0.0,2.0,150.0,225.0,90.0,300.98926,326.46542,310.83552,413.093153,16.0,465.0
63,Albania,9,Female,<ISCED level 2>,<ISCED level 2>,0-10 books,2.0,2.0,0.0,0.0,1.0,135.0,135.0,90.0,175.26872,149.96970,161.07796,220.528367,5.0,360.0
66,Albania,9,Male,<ISCED level 3A>,<ISCED level 3A>,26-100 books,9.0,3.0,0.0,4.0,2.0,135.0,135.0,90.0,399.36906,391.09034,441.75682,543.861760,18.0,360.0
73,Albania,9,Female,<ISCED level 3A>,<ISCED level 3A>,26-100 books,5.0,0.0,0.0,3.0,0.0,180.0,180.0,90.0,532.33370,463.56330,491.36518,673.198627,8.0,450.0
75,Albania,9,Male,<ISCED level 3A>,<ISCED level 2>,0-10 books,2.0,1.0,0.0,2.0,1.0,180.0,225.0,135.0,214.60506,102.96752,194.08804,242.088560,6.0,540.0
84,Albania,10,Female,<ISCED level 2>,<ISCED level 2>,11-25 books,3.0,2.0,2.0,2.0,2.0,90.0,90.0,90.0,402.25112,417.25506,422.17456,547.977287,11.0,270.0
86,Albania,10,Female,<ISCED level 3A>,"<ISCED level 3B, 3C>",0-10 books,4.0,3.0,0.0,1.0,3.0,90.0,90.0,90.0,217.40924,130.03252,170.58934,245.146780,11.0,270.0
87,Albania,10,Male,"<ISCED level 3B, 3C>",<ISCED level 3A>,0-10 books,3.0,0.0,0.0,0.0,1.0,180.0,135.0,90.0,319.60586,236.63576,305.42708,393.758187,4.0,405.0
89,Albania,10,Female,<ISCED level 2>,<ISCED level 2>,0-10 books,2.0,0.0,0.0,0.0,1.0,90.0,90.0,135.0,323.50054,316.05994,324.63634,429.232453,3.0,315.0
92,Albania,10,Male,"<ISCED level 3B, 3C>","<ISCED level 3B, 3C>",26-100 books,7.0,2.0,0.0,0.0,2.0,135.0,315.0,90.0,598.15392,622.45154,643.26744,820.675607,11.0,540.0
94,Albania,10,Male,<ISCED level 2>,<ISCED level 2>,11-25 books,2.0,1.0,3.0,2.0,1.0,90.0,90.0,135.0,557.41548,538.40766,558.50430,737.247640,9.0,315.0
96,Albania,9,Male,<ISCED level 3A>,<ISCED level 3A>,201-500 books,4.0,2.0,3.0,0.0,2.0,180.0,180.0,135.0,479.67750,392.45364,459.00784,603.605493,11.0,495.0
97,Albania,10,Male,"<ISCED level 3B, 3C>","<ISCED level 3B, 3C>",11-25 books,8.0,2.0,2.0,2.0,1.0,90.0,90.0,90.0,515.27498,567.35786,533.51362,710.473813,15.0,270.0
103,Albania,10,Female,"<ISCED level 3B, 3C>",<ISCED level 3A>,11-25 books,3.0,2.0,1.0,0.0,3.0,135.0,135.0,90.0,352.39914,363.63912,349.06752,472.501640,9.0,360.0
108,Albania,10,Female,<ISCED level 3A>,<ISCED level 3A>,11-25 books,7.0,5.0,9.0,0.0,0.0,180.0,225.0,90.0,407.08056,508.36244,400.72734,574.416967,21.0,495.0
123,Albania,10,Male,<ISCED level 3A>,<ISCED level 3A>,0-10 books,4.0,2.0,3.0,5.0,1.0,147.0,192.0,94.0,302.46924,323.16562,348.78776,425.630620,15.0,433.0
124,Albania,10,Male,<ISCED level 3A>,<ISCED level 3A>,26-100 books,6.0,2.0,0.0,0.0,1.0,135.0,135.0,90.0,359.09800,400.71368,396.15816,505.022613,9.0,360.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485378,Vietnam,10,Female,<ISCED level 3A>,<ISCED level 3A>,11-25 books,3.0,3.0,4.0,4.0,1.0,225.0,135.0,180.0,537.47468,508.83900,554.77436,712.854240,15.0,540.0
485383,Vietnam,10,Male,<ISCED level 3A>,<ISCED level 3A>,26-100 books,1.0,0.0,0.0,6.0,0.0,450.0,135.0,450.0,574.16262,515.39184,588.90340,750.873493,7.0,1035.0
485393,Vietnam,10,Male,<ISCED level 1>,<ISCED level 2>,0-10 books,2.0,1.0,1.0,1.0,1.0,270.0,225.0,135.0,443.84638,392.13288,481.10780,586.977813,6.0,630.0
485398,Vietnam,10,Female,<ISCED level 2>,<ISCED level 2>,0-10 books,2.0,1.0,1.0,2.0,1.0,270.0,225.0,135.0,354.34648,384.13230,368.83622,487.220493,7.0,630.0
485399,Vietnam,10,Female,<ISCED level 1>,<ISCED level 1>,0-10 books,5.0,2.0,1.0,4.0,2.0,540.0,450.0,450.0,367.12104,408.19990,337.22492,493.222300,14.0,1440.0
485400,Vietnam,10,Female,She did not complete <ISCED level 1>,He did not complete <ISCED level 1>,26-100 books,2.0,0.0,0.0,0.0,0.0,315.0,180.0,540.0,497.35940,474.60422,519.33980,662.887607,2.0,1035.0
485407,Vietnam,10,Male,"<ISCED level 3B, 3C>","<ISCED level 3B, 3C>",26-100 books,7.0,0.0,0.0,6.0,0.0,315.0,225.0,270.0,592.62348,544.82322,609.13838,779.736187,13.0,810.0
485411,Vietnam,10,Male,<ISCED level 1>,<ISCED level 1>,11-25 books,6.0,4.0,5.0,6.0,4.0,270.0,270.0,180.0,423.28244,363.10248,448.84374,552.837033,25.0,720.0
485412,Vietnam,10,Male,<ISCED level 1>,He did not complete <ISCED level 1>,0-10 books,1.0,1.0,0.0,0.0,0.0,540.0,270.0,315.0,382.77770,372.88622,424.03952,520.827047,2.0,1125.0
485417,Vietnam,10,Male,<ISCED level 2>,<ISCED level 1>,26-100 books,3.0,2.0,0.0,8.0,2.0,225.0,225.0,405.0,527.73796,476.65790,540.69376,690.942527,15.0,855.0
485419,Vietnam,10,Female,<ISCED level 1>,<ISCED level 3A>,26-100 books,30.0,1.0,0.0,10.0,0.0,315.0,270.0,405.0,529.21796,529.64990,554.77432,714.286713,41.0,990.0
485424,Vietnam,10,Female,<ISCED level 3A>,<ISCED level 3A>,26-100 books,20.0,18.0,0.0,0.0,5.0,180.0,135.0,225.0,541.83674,544.10636,563.16674,730.315527,43.0,540.0
485425,Vietnam,10,Male,<ISCED level 3A>,<ISCED level 3A>,26-100 books,5.0,3.0,0.0,4.0,0.0,225.0,225.0,135.0,515.11918,525.09538,550.95114,702.094960,12.0,585.0
485427,Vietnam,10,Female,<ISCED level 3A>,<ISCED level 3A>,26-100 books,14.0,10.0,0.0,0.0,10.0,180.0,180.0,360.0,588.72878,568.73002,600.27974,782.155773,34.0,720.0
485429,Vietnam,10,Male,<ISCED level 2>,<ISCED level 2>,26-100 books,3.0,2.0,0.0,4.0,1.0,180.0,135.0,315.0,516.20966,538.64826,511.78666,694.284747,10.0,630.0
485431,Vietnam,10,Female,<ISCED level 2>,<ISCED level 2>,26-100 books,2.0,1.0,0.0,3.0,2.0,180.0,135.0,135.0,630.94720,590.17636,601.86496,817.978573,8.0,450.0
485434,Vietnam,10,Female,<ISCED level 3A>,<ISCED level 2>,26-100 books,1.0,1.0,0.0,3.0,0.0,180.0,135.0,90.0,548.69140,495.97118,547.12794,713.493973,5.0,405.0
485435,Vietnam,10,Male,<ISCED level 2>,"<ISCED level 3B, 3C>",101-200 books,28.0,28.0,0.0,2.0,7.0,180.0,135.0,225.0,520.26018,521.32624,532.02164,697.956080,65.0,540.0
485437,Vietnam,10,Female,<ISCED level 1>,<ISCED level 1>,26-100 books,0.0,0.0,0.0,0.0,0.0,180.0,135.0,90.0,506.16140,457.36772,492.85716,654.182560,0.0,405.0
485440,Vietnam,10,Male,<ISCED level 2>,<ISCED level 3A>,26-100 books,3.0,2.0,0.0,4.0,1.0,180.0,135.0,315.0,549.31454,546.42712,570.44016,738.498787,10.0,630.0
485442,Vietnam,10,Male,<ISCED level 3A>,<ISCED level 2>,101-200 books,9.0,4.0,0.0,4.0,0.0,180.0,135.0,90.0,539.42204,467.43554,507.77694,684.685520,17.0,405.0
485444,Vietnam,10,Female,<ISCED level 3A>,<ISCED level 3A>,26-100 books,4.0,2.0,0.0,5.0,0.0,270.0,225.0,90.0,472.90076,507.64754,458.82134,637.423467,11.0,585.0
485446,Vietnam,10,Female,<ISCED level 1>,<ISCED level 2>,11-25 books,10.0,5.0,0.0,8.0,10.0,180.0,180.0,90.0,430.05918,476.74888,461.99180,599.619680,33.0,450.0
485453,Vietnam,10,Female,<ISCED level 2>,<ISCED level 2>,11-25 books,2.0,1.0,0.0,0.0,2.0,180.0,135.0,360.0,633.43978,563.64640,607.55316,812.693040,5.0,675.0
485458,Vietnam,10,Male,<ISCED level 1>,<ISCED level 1>,0-10 books,2.0,1.0,2.0,2.0,1.0,315.0,270.0,90.0,474.77022,429.66390,490.24618,623.150173,8.0,675.0
485460,Vietnam,10,Male,<ISCED level 1>,He did not complete <ISCED level 1>,101-200 books,4.0,1.0,0.0,4.0,0.0,315.0,225.0,180.0,467.05870,432.87170,509.82842,625.605840,9.0,720.0
485463,Vietnam,10,Male,She did not complete <ISCED level 1>,<ISCED level 3A>,101-200 books,2.0,0.0,0.0,0.0,2.0,315.0,270.0,360.0,526.72534,470.24234,572.49162,698.728213,4.0,945.0
485469,Vietnam,10,Female,She did not complete <ISCED level 1>,He did not complete <ISCED level 1>,11-25 books,2.0,1.0,0.0,2.0,0.0,315.0,225.0,90.0,414.48042,437.19222,495.00184,587.051633,5.0,630.0
485472,Vietnam,10,Male,<ISCED level 1>,<ISCED level 1>,11-25 books,2.0,2.0,1.0,1.0,1.0,270.0,225.0,225.0,542.14830,466.07222,573.98358,708.117467,7.0,720.0
485475,Vietnam,10,Male,She did not complete <ISCED level 1>,He did not complete <ISCED level 1>,26-100 books,5.0,2.0,0.0,0.0,0.0,315.0,270.0,315.0,437.30332,469.11960,492.11116,611.945800,7.0,900.0

In [26]:
pisa_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189773 entries, 3 to 485475
Data columns (total 20 columns):
Country                                                189773 non-null object
International Grade                                    189773 non-null int64
Gender                                                 189773 non-null object
Mother<Highest Schooling>                              189773 non-null object
Father<Highest Schooling>                              189773 non-null object
How many books at home                                 189773 non-null object
Out-of-School Study Time - Homework                    189773 non-null float64
Out-of-School Study Time - Guided Homework             189773 non-null float64
Out-of-School Study Time - Personal Tutor              189773 non-null float64
Out-of-School Study Time - Commercial Company          189773 non-null float64
Out-of-School Study Time - With Parent                 189773 non-null float64
Learning time (minutes per week)- <Mathematics>        189773 non-null float64
Learning time (minutes per week)  - <test language>    189773 non-null float64
Learning time (minutes per week) - <Science>           189773 non-null float64
Average Math Score                                     189773 non-null float64
Average Reading Score                                  189773 non-null float64
Average Science Score                                  189773 non-null float64
Average Total Score                                    189773 non-null float64
Out-of-School Study Time - Total                       189773 non-null float64
Learning time (minutes per week) - Total               189773 non-null float64
dtypes: float64(14), int64(1), object(5)
memory usage: 30.4+ MB

<a id='sav'></a>
## Store

In [27]:
# Store the clean DataFrame in a CSV file
pisa_clean.to_csv("pisa_df.csv", index=False, encoding='utf8')

<a id='conclusion'></a>
## Conclusion

<a id='references'></a>
## References